.home-merchandise {
  align-items: flex-start;
  background-color: var(--ebony);
  display: flex;
  flex-direction: column;
  height: 2687px;
  padding: 43px 29px;
  width: 1920px;
}

.flex-row {
  align-items: center;
  display: flex;
  min-width: 1814px;
  position: relative;
}

.overlap-group3 {
  height: 118px;
  position: relative;
  width: 443px;
}

.hypexlogoedited-removebg-1 {
  height: 118px;
  left: 0;
  position: absolute;
  top: 0;
  width: 125px;
}

.fragment-factory {
  cursor: pointer;
  height: 57px;
  left: 112px;
  letter-spacing: 0;
  line-height: 31.5px;
  position: absolute;
  text-align: center;
  top: 24px;
  width: 331px;
}

.stake {
  cursor: pointer;
  height: 57px;
  letter-spacing: 0;
  line-height: 31.5px;
  margin-bottom: 13.0px;
  margin-left: 46px;
  width: 134px;
}

.loan {
  cursor: pointer;
  height: 57px;
  letter-spacing: 0;
  line-height: 31.5px;
  margin-bottom: 13.0px;
  margin-left: 41px;
  width: 134px;
}

.display-nf-ts {
  cursor: pointer;
  height: 49px;
  letter-spacing: 0;
  line-height: 31.5px;
  margin-bottom: 13.0px;
  margin-left: 25px;
  width: 309px;
}

.overlap-group-1 {
  border-radius: 36.5px;
  height: 73px;
  margin-bottom: 13.0px;
  margin-left: 532px;
  position: relative;
  width: 73px;
}

.profile-pic {
  height: 53px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 53px;
}

.ellipse-40 {
  border-radius: 34.5px;
  height: 69px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 69px;
}

.ellipse-42 {
  border-radius: 36.5px;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.ellipse-41 {
  border-radius: 30.5px;
  height: 61px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 61px;
}

.ellipse-43 {
  border-radius: 36.5px;
  cursor: pointer;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.flex-col-1 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-right: 17.0px;
  margin-top: 56px;
  min-height: 2336px;
  width: 1797px;
}

.overlap-group1 {
  height: 461px;
  position: relative;
  width: 1797px;
}

.banner-version-2-1 {
  height: 453px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1789px;
}

.ellipse-36 {
  background-color: var(--razzle-dazzle-rose-2);
  border-radius: 9px;
  height: 18px;
  left: 873px;
  position: absolute;
  top: 405px;
  width: 18px;
}

.ellipse-37 {
  background-color: var(--mist-gray);
  border-radius: 9px;
  height: 18px;
  left: 898px;
  position: absolute;
  top: 405px;
  width: 18px;
}

.ellipse-38 {
  background-color: var(--mist-gray);
  border-radius: 9px;
  height: 18px;
  left: 923px;
  position: absolute;
  top: 405px;
  width: 18px;
}

.banner-version-4-1 {
  height: 452px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 1797px;
}

.overlap-group32 {
  height: 99px;
  margin-right: 3px;
  margin-top: 44px;
  position: relative;
  width: 1481px;
}

.overlap-group2-1 {
  height: 99px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1481px;
}

.limited-box {
  height: 47px;
  left: 0;
  letter-spacing: 1.44px;
  position: absolute;
  text-align: center;
  top: 23px;
}

.box-trigger {
  height: 90px;
  left: 30px;
  position: absolute;
  top: 0;
  width: 564px;
}

.line-79 {
  height: 18px;
  left: 586px;
  position: absolute;
  top: 81px;
  width: 895px;
}

.overlap-group5 {
  height: 80px;
  left: 594px;
  position: absolute;
  top: 0;
  width: 604px;
}

.merchandise {
  height: 47px;
  left: 336px;
  letter-spacing: 1.44px;
  position: absolute;
  text-align: center;
  top: 23px;
}

.merchandise-trigger {
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 597px;
}

.flex-row-1 {
  align-items: center;
  display: flex;
  margin-right: 3px;
  margin-top: 54px;
  min-width: 1766px;
}

.sort-by {
  color: var(--neon-blue);
  font-family: var(--font-family-chakra_petch);
  font-size: var(--font-size-xl);
  font-weight: 500;
  height: 31px;
  letter-spacing: 0.96px;
  margin-bottom: 1.0px;
  min-width: 105px;
}

.frame-19 {
  align-items: center;
  display: flex;
  margin-bottom: 1.0px;
  margin-left: 70px;
  min-width: 111px;
  position: relative;
}

.surname {
  height: 31px;
  letter-spacing: 0.96px;
  min-width: 75px;
}

.frame-20 {
  align-items: center;
  display: flex;
  margin-bottom: 1.0px;
  margin-left: 56px;
  min-width: 190px;
  position: relative;
}

.categories {
  height: 31px;
  letter-spacing: 0.96px;
  min-width: 154px;
}

.frame-21 {
  align-items: center;
  display: flex;
  margin-bottom: 1.0px;
  margin-left: 56px;
  min-width: 123px;
  position: relative;
}

.place {
  height: 31px;
  letter-spacing: 0.96px;
  min-width: 87px;
}

.frame-22 {
  align-items: center;
  display: flex;
  margin-bottom: 1.0px;
  margin-left: 56px;
  min-width: 127px;
  position: relative;
}

.rarity {
  height: 31px;
  letter-spacing: 0.96px;
  min-width: 91px;
}

.overlap-group4 {
  align-items: flex-start;
  background-color: #02d7f21a;
  box-shadow: 0px 0px 8px #02d7f2;
  display: flex;
  height: 72px;
  margin-left: 234px;
  min-width: 638px;
  padding: 12px 27px;
  position: relative;
}

.text-1 {
  align-self: center;
  height: 31px;
  letter-spacing: 0.96px;
  margin-bottom: 3.0px;
  min-width: 303px;
}

.frame-24 {
  align-items: flex-start;
  display: flex;
  height: 1561px;
  justify-content: flex-end;
  margin-right: 10.89px;
  margin-top: 44px;
  min-width: 1745px;
}

.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: -9px;
  min-height: 1577px;
  width: 429px;
}

.overlap-group2 {
  align-items: flex-end;
  background-image: url(/img/union@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 403px;
  padding: 38px 33.6px;
  width: 429px;
}

.name {
  align-self: center;
  height: 62px;
  letter-spacing: 0.96px;
  margin-right: 19.11px;
  min-width: 301px;
  text-align: center;
}

.we-chat-image-ovebg-preview-1 {
  height: 215px;
  margin-top: 28px;
  object-fit: cover;
  width: 327px;
}

.overlap-group {
  height: 80px;
  margin-left: 0.44px;
  margin-top: 3px;
  position: relative;
  width: 428px;
}

.rectangle-4 {
  height: 80px;
  left: 203px;
  position: absolute;
  top: 0;
  width: 225px;
}

.redeem {
  height: 40px;
  left: 238px;
  letter-spacing: 1.12px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 156px;
}

.rectangle-4-1 {
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 221px;
}

.number {
  height: 40px;
  left: 12px;
  letter-spacing: 1.12px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 122px;
}

.x1-6 {
  height: 67px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 52px;
}

.line {
  height: 21px;
  left: 97px;
  position: absolute;
  top: 31px;
  width: 21px;
}

.line-1 {
  height: 21px;
  left: 96px;
  position: absolute;
  top: 30px;
  width: 21px;
}

.overlap-group24 {
  align-items: flex-end;
  background-image: url(/img/union@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 51px;
  min-height: 403px;
  padding: 60px 40.6px;
  width: 429px;
}

.name-1 {
  align-self: center;
  height: 31px;
  letter-spacing: 0.96px;
  margin-right: 20.11px;
  min-width: 120px;
  text-align: center;
}

.image-51 {
  height: 171px;
  margin-top: 48px;
  object-fit: cover;
  width: 300px;
}

.rectangle-452 {
  height: 79px;
  left: 0;
  position: absolute;
  top: 0;
  width: 221px;
}

.x1-10 {
  height: 67px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 52px;
}

.overlap-group29 {
  align-items: flex-end;
  background-image: url(/img/union@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  min-height: 403px;
  padding: 52px 40.6px;
  width: 429px;
}

.air-yeezy-2-octopus {
  align-self: center;
  height: 31px;
  letter-spacing: 0.96px;
  margin-right: 20.11px;
  min-width: 272px;
  text-align: center;
}

.image-55 {
  height: 186px;
  margin-top: 59px;
  object-fit: cover;
  width: 300px;
}

.x1-14 {
  height: 67px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 52px;
}

.flex-row-2 {
  align-items: flex-start;
  display: flex;
  margin-left: 16px;
  margin-top: -9px;
  min-width: 1319px;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1577px;
  width: 429px;
}

.overlap-group27 {
  align-items: flex-end;
  background-image: url(/img/union@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 403px;
  padding: 47px 42.6px;
  width: 429px;
}

.name-2 {
  align-self: center;
  height: 31px;
  letter-spacing: 0.96px;
  margin-right: 13.11px;
  min-width: 295px;
  text-align: center;
}

.we-chat-image-ovebg-preview-2 {
  height: 223px;
  margin-top: 30px;
  object-fit: cover;
  width: 327px;
}

.x1-5 {
  height: 67px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 52px;
}

.overlap-group11 {
  align-items: flex-end;
  background-image: url(/img/union@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 51px;
  min-height: 403px;
  padding: 53px 57.6px;
  width: 429px;
}

.name-3 {
  align-self: center;
  height: 31px;
  letter-spacing: 0.96px;
  margin-right: 14.11px;
  min-width: 124px;
  text-align: center;
}

.image-52 {
  height: 193px;
  margin-top: 33px;
  object-fit: cover;
  width: 300px;
}

.x1-9 {
  height: 67px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 52px;
}

.overlap-group20 {
  align-items: flex-end;
  background-image: url(/img/union@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  min-height: 403px;
  padding: 52px 56.6px;
  width: 429px;
}

.yeezy-350 {
  align-self: center;
  height: 31px;
  letter-spacing: 0.96px;
  margin-right: 13.11px;
  min-width: 133px;
  text-align: center;
}

.image-58 {
  height: 147px;
  margin-top: 101px;
  object-fit: cover;
  width: 300px;
}

.x1-13 {
  height: 67px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 52px;
}

.flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 1577px;
  margin-left: 16px;
  min-width: 874px;
}

.name-4 {
  align-self: center;
  height: 62px;
  letter-spacing: 0.96px;
  margin-left: 18.89px;
  min-width: 221px;
  text-align: center;
}

.we-chat-image-ovebg-preview-2-1 {
  height: 215px;
  margin-top: 28px;
  object-fit: cover;
  width: 323px;
}

.x1-4 {
  height: 67px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 52px;
}

.overlap-group28 {
  align-items: flex-end;
  background-image: url(/img/union@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 51px;
  min-height: 403px;
  padding: 60px 55.6px;
  width: 429px;
}

.name-5 {
  align-self: center;
  height: 31px;
  letter-spacing: 0.96px;
  margin-left: 17.89px;
  min-width: 232px;
  text-align: center;
}

.image-53 {
  height: 158px;
  margin-top: 61px;
  object-fit: cover;
  width: 300px;
}

.x1-8 {
  height: 67px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 52px;
}

.overlap-group26 {
  align-items: flex-end;
  background-image: url(/img/union@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  min-height: 403px;
  padding: 59px 43.6px;
  width: 429px;
}

.name-6 {
  align-self: center;
  height: 62px;
  letter-spacing: 0.96px;
  margin-left: 15.89px;
  min-width: 274px;
  text-align: center;
}

.image-59 {
  height: 172px;
  margin-top: 38px;
  object-fit: cover;
  width: 300px;
}

.x1-12 {
  height: 67px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 52px;
}

.flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  min-height: 1577px;
  width: 429px;
}

.overlap-group21 {
  align-items: flex-end;
  background-image: url(/img/union@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 403px;
  padding: 38px 36.6px;
  width: 429px;
}

.name-7 {
  height: 62px;
  letter-spacing: 0.96px;
  margin-right: 38.0px;
  min-width: 274px;
  text-align: center;
}

.we-chat-image-ovebg-preview-2-2 {
  height: 226px;
  margin-top: 28px;
  object-fit: cover;
  width: 339px;
}

.x1-3 {
  height: 67px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 52px;
}

.overlap-group18 {
  align-items: flex-end;
  background-image: url(/img/union@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 51px;
  min-height: 403px;
  padding: 60px 48.6px;
  width: 429px;
}

.yeezy-500-stone {
  height: 31px;
  letter-spacing: 0.96px;
  margin-right: 52.0px;
  min-width: 222px;
  text-align: center;
}

.image-54 {
  height: 151px;
  margin-top: 74px;
  object-fit: cover;
  width: 300px;
}

.x1-7 {
  height: 67px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 52px;
}

.overlap-group23 {
  align-items: flex-end;
  background-image: url(/img/union@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  min-height: 403px;
  padding: 66px 58.6px;
  width: 429px;
}

.name-8 {
  align-self: center;
  height: 31px;
  letter-spacing: 0.96px;
  margin-left: 1.89px;
  min-width: 274px;
  text-align: center;
}

.image-60 {
  height: 192px;
  margin-top: 39px;
  object-fit: cover;
  width: 300px;
}

.x1-11 {
  height: 67px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 52px;
}

