.arrowforwardios {
  align-items: center;
  display: flex;
  height: 24px;
  margin-bottom: 0;
  margin-left: 11px;
  padding: 0 5.2px;
  transform: rotate(90.00deg);
  width: 24px;
}

.overlap-group6 {
  height: 20px;
  position: relative;
  width: 13px;
}

.vector-26 {
  height: 1px;
  left: 6px;
  position: absolute;
  top: 10px;
  transform: rotate(-90.00deg);
  width: 1px;
}

.vector-27 {
  height: 13px;
  left: -4px;
  position: absolute;
  top: 3px;
  transform: rotate(-90.00deg);
  width: 20px;
}

.arrowforwardios-1 {
  align-items: center;
  display: flex;
  height: 24px;
  margin-bottom: 0;
  margin-left: 11px;
  padding: 0 5.2px;
  transform: rotate(90.00deg);
  width: 24px;
}

.overlap-group6-1 {
  height: 20px;
  position: relative;
  width: 13px;
}

.vector-28 {
  height: 1px;
  left: 6px;
  position: absolute;
  top: 10px;
  transform: rotate(-90.00deg);
  width: 1px;
}

.vector-29 {
  height: 13px;
  left: -4px;
  position: absolute;
  top: 3px;
  transform: rotate(-90.00deg);
  width: 20px;
}

