.frame {
  align-items: flex-start;
  display: flex;
  height: 40px;
  overflow: hidden;
  width: 51px;
}

.vector-36 {
  height: 41px;
  margin-top: -0.67px;
  width: 52px;
}

.frame.frame-4 {
  left: 25px;
  position: absolute;
  top: 20px;
}

