.icon-9 {
  align-items: flex-start;
  display: flex;
  height: 26px;
  justify-content: center;
  margin-bottom: 5.46px;
  min-width: 25px;
}

.overlap-group-16 {
  height: 28px;
  margin-top: -1.45px;
  position: relative;
  width: 27px;
}

.rectangle-7 {
  border-radius: 1.87px;
  height: 25px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 27px;
}

.path-23 {
  height: 8px;
  left: 18px;
  position: absolute;
  top: 0;
  width: 2px;
}

.path-24 {
  height: 8px;
  left: 7px;
  position: absolute;
  top: 0;
  width: 2px;
}

.path-25 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 27px;
}

.icon-9.icon-6 {
  margin-bottom: 5.47px;
}

.icon-9.icon-7 {
  margin-bottom: 5.47px;
}

.icon-9.icon-8 {
  margin-bottom: 5.47px;
}

