.my-fragments-5 {
  align-items: flex-start;
  background-color: var(--ebony);
  display: flex;
  height: 1080px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.overlap-group18-2 {
  align-items: center;
  background-color: var(--midnight);
  display: flex;
  flex-direction: column;
  min-height: 1080px;
  padding: 39px 0;
  width: 314px;
}

.hypexlogoedited-removebg-1-14 {
  height: 136px;
  margin-left: 1.0px;
  width: 145px;
}

.flex-row-126 {
  align-items: center;
  display: flex;
  margin-left: 27.61px;
  margin-top: 60px;
  min-width: 238px;
}

.frame-15 {
  height: 40px;
  width: 52px;
}

.my-boxes-6 {
  height: 37px;
  letter-spacing: 0;
  line-height: 30.4px;
  margin-bottom: 0;
  margin-left: 23px;
  width: 164px;
}

.flex-row-127 {
  align-items: flex-start;
  display: flex;
  margin-left: 28.92px;
  margin-top: 76px;
  min-width: 237px;
}

.frame-16 {
  height: 32px;
  margin-top: 0.79px;
  width: 50px;
}

.my-inventory-6 {
  height: 37px;
  letter-spacing: 0;
  line-height: 30.4px;
  margin-left: 23px;
  width: 164px;
}

.flex-row-128 {
  align-items: flex-start;
  display: flex;
  margin-left: 37.67px;
  margin-top: 77px;
  min-width: 228px;
}

.vector-11 {
  height: 32px;
  margin-top: 0.84px;
  width: 32px;
}

.user-status-6,
.settings-5 {
  height: 37px;
  letter-spacing: 0;
  line-height: 30.4px;
  margin-left: 32px;
  width: 164px;
}

.overlap-group19-1 {
  align-self: flex-end;
  height: 79px;
  margin-top: 55px;
  position: relative;
  width: 287px;
}

.rectangle-462-2 {
  height: 78px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 287px;
}

.frame-17 {
  height: 38px;
  left: 35px;
  position: absolute;
  top: 21px;
  width: 38px;
}

.my-fragments-6 {
  color: #f0f1f2;
  font-family: var(--font-family-chakra_petch);
  font-size: 22.1px;
  font-weight: 700;
  height: 37px;
  left: 99px;
  letter-spacing: 0;
  line-height: 30.4px;
  position: absolute;
  top: 21px;
  width: 164px;
}

.rectangle-263-5 {
  background-color: var(--neon-blue);
  height: 78px;
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

.flex-row-129 {
  align-items: center;
  display: flex;
  margin-left: 33.26px;
  margin-top: 58px;
  min-width: 233px;
}

.accountbalancewallet-5 {
  height: 38px;
  width: 38px;
}

.wallet-7 {
  height: 37px;
  letter-spacing: 0;
  line-height: 30.4px;
  margin-left: 31px;
  width: 164px;
}

.flex-row-130 {
  align-items: center;
  display: flex;
  margin-left: 34.51px;
  margin-top: 77px;
  min-width: 231px;
}

.vector-12 {
  height: 36px;
  margin-bottom: 0;
  width: 36px;
}

.overlap-group17-2 {
  height: 975px;
  margin-left: 42px;
  margin-top: 59px;
  position: relative;
  width: 1524px;
}

.rectangle-465-3 {
  background-color: var(--bright-turquoise);
  height: 455px;
  left: 572px;
  position: absolute;
  top: 520px;
  width: 942px;
}

.frame-3-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 960px;
  position: absolute;
  top: 15px;
  width: 1514px;
}

.flex-row-131 {
  align-items: flex-end;
  display: flex;
  height: 464px;
  min-width: 1514px;
}

.flex-col-88 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 462px;
  width: 465px;
}

.text-46 {
  height: 54px;
  letter-spacing: 0;
  line-height: 54px;
  white-space: nowrap;
}

.overlap-group12-4 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 381px;
  margin-top: 27px;
  min-width: 421px;
  padding: 40px;
}

.flex-col-89 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 299px;
  width: 120px;
}

.my-boxes-7 {
  height: 36px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.total-boxes-1 {
  height: 27px;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: 31px;
  white-space: nowrap;
}

.number-24,
.price-20 {
  letter-spacing: 0;
  line-height: 54px;
  margin-top: 10px;
  min-height: 54px;
  white-space: nowrap;
}

.opened-boxes-1,
.total-staked-2 {
  height: 27px;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: 54px;
  white-space: nowrap;
}

.number-22 {
  letter-spacing: 0;
  line-height: 54px;
  margin-top: 6px;
  min-height: 54px;
  white-space: nowrap;
}

.flex-col-90 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  margin-left: 63px;
  min-height: 232px;
  width: 116px;
}

.market-value-5 {
  height: 27px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.flex-col-91 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  min-height: 464px;
  width: 1043px;
}

.overlap-group16-3 {
  align-items: center;
  background-color: var(--midnight);
  display: flex;
  height: 58px;
  justify-content: flex-end;
  margin-left: 204.0px;
  min-width: 415px;
  padding: 0 18px;
}

.search-9 {
  height: 26px;
  letter-spacing: 0.80px;
  margin-top: 1.69px;
  width: 173px;
}

.search-10 {
  height: 38px;
  margin-left: 164px;
  width: 38px;
}

.overlap-group9-5 {
  align-items: flex-start;
  background-color: var(--bright-turquoise);
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  min-height: 381px;
  padding: 34px 41px;
  width: 1043px;
}

.flex-col-92 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 281px;
  width: 958px;
}

.market-value-6 {
  height: 49px;
  letter-spacing: 0;
  line-height: 36px;
  width: 505px;
}

.flex-row-132 {
  align-items: center;
  display: flex;
  height: 208px;
  margin-top: 24px;
  min-width: 958px;
}

.flex-col-93 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 208px;
  width: 37px;
}

.number-25 {
  height: 21px;
  letter-spacing: 0;
  line-height: 19.6px;
  text-align: right;
  white-space: nowrap;
  width: 37px;
}

.number-23 {
  height: 21px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: 18px;
  text-align: right;
  white-space: nowrap;
  width: 37px;
}

.number-26 {
  height: 21px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: 15px;
  text-align: right;
  white-space: nowrap;
  width: 37px;
}

.number-27 {
  height: 21px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: 13px;
  text-align: right;
  white-space: nowrap;
  width: 34px;
}

.number-28 {
  height: 21px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: 18px;
  white-space: nowrap;
  width: 11px;
}

.flex-col-94 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 22px;
  min-height: 189px;
  width: 899px;
}

.line-79-6 {
  height: 1px;
  margin-left: 1px;
  width: 898px;
}

.overlap-group-36 {
  height: 174px;
  margin-top: 10px;
  position: relative;
  width: 899px;
}

.line-75-4 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 138px;
  width: 898px;
}

.line-78-3 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 28px;
  width: 898px;
}

.line-76-4 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 103px;
  width: 898px;
}

.line-77-4 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 65px;
  width: 898px;
}

.vector-21-6 {
  height: 172px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 896px;
}

.vector-20-6 {
  height: 162px;
  left: 0;
  position: absolute;
  top: 0;
  width: 898px;
}

.line-74-4 {
  height: 1px;
  margin-left: 1px;
  margin-top: 2px;
  width: 898px;
}

.flex-row-133 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: 1px;
  margin-top: 8px;
  min-width: 900px;
}

.name-12 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  white-space: nowrap;
  width: 30px;
}

.feb-3 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 49px;
  white-space: nowrap;
  width: 30px;
}

.place-13 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 49px;
  white-space: nowrap;
  width: 31px;
}

.flex-row-item-3 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 48px;
  white-space: nowrap;
  width: 29px;
}

.name-13 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 50px;
  white-space: nowrap;
  width: 33px;
}

.jun-3 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 46px;
  white-space: nowrap;
  width: 31px;
}

.jul-3 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 48px;
  white-space: nowrap;
  width: 25px;
}

.aug-3 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 54px;
  white-space: nowrap;
  width: 31px;
}

.sep-3 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 48px;
  white-space: nowrap;
  width: 31px;
}

.nov-3 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 50px;
  white-space: nowrap;
  width: 31px;
}

.dec-3 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 48px;
  white-space: nowrap;
}

.flex-row-134 {
  align-items: center;
  display: flex;
  margin-top: 41px;
  min-width: 1514px;
}

.overlap-group14-4 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 455px;
  min-width: 529px;
  padding: 37px 31.8px;
}

.flex-col-95 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 356px;
  width: 270px;
}

.item-distribution-2 {
  height: 36px;
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 8.25px;
  white-space: nowrap;
}

.doughnut-2 {
  height: 270px;
  margin-top: 50px;
  width: 270px;
}

.flex-col-96 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
  margin-left: 57px;
  min-height: 315px;
  width: 116px;
}

.group-425-1 {
  display: flex;
  width: 116px;
}

.ellipse-2-1 {
  background-color: var(--violet-eggplant);
  border-radius: 9px;
  height: 18px;
  margin-top: 5px;
  width: 18px;
}

.lv-apparel-1 {
  height: 27px;
  letter-spacing: 0;
  line-height: 27px;
  margin-left: 8px;
  white-space: nowrap;
  width: 90px;
}

.group-421-2 {
  display: flex;
  margin-top: 45px;
  width: 114px;
}

.ellipse-3-8 {
  background-color: var(--tan-hide);
  border-radius: 9px;
  height: 18px;
  margin-top: 5px;
  width: 18px;
}

.air-jordan-1 {
  height: 27px;
  letter-spacing: 0;
  line-height: 27px;
  margin-left: 8px;
  white-space: nowrap;
  width: 88px;
}

.group-422-2 {
  display: flex;
  margin-top: 45px;
  width: 65px;
}

.ellipse-3-9 {
  background-color: var(--science-blue);
  border-radius: 9px;
  height: 18px;
  margin-top: 5px;
  width: 18px;
}

.nike-1 {
  height: 27px;
  letter-spacing: 0;
  line-height: 27px;
  margin-left: 8px;
  white-space: nowrap;
  width: 39px;
}

.group-423-2 {
  display: flex;
  margin-top: 45px;
  width: 84px;
}

.ellipse-3-10 {
  background-color: var(--viking);
  border-radius: 9px;
  height: 18px;
  margin-top: 5px;
  width: 18px;
}

.palace-1 {
  height: 27px;
  letter-spacing: 0;
  line-height: 27px;
  margin-left: 8px;
  white-space: nowrap;
  width: 58px;
}

.group-424-2 {
  display: flex;
  margin-top: 45px;
  width: 103px;
}

.ellipse-3-11 {
  background-color: var(--magenta);
  border-radius: 9px;
  height: 18px;
  margin-top: 5px;
  width: 18px;
}

.supreme-1 {
  height: 27px;
  letter-spacing: 0;
  line-height: 27px;
  margin-left: 8px;
  white-space: nowrap;
  width: 77px;
}

.flex-col-97 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 43px;
  margin-top: 21.42px;
  min-height: 402px;
  width: 942px;
}

.flex-col-98 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 305px;
  width: 942px;
}

.flex-col-99 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 10.0px;
  min-height: 100px;
  width: 874px;
}

.flex-row-135 {
  align-items: center;
  display: flex;
  min-width: 874px;
}

.item-2 {
  height: 36px;
  letter-spacing: 0;
  line-height: 36px;
  min-width: 56px;
  white-space: nowrap;
}

.see-all-4 {
  height: 23px;
  letter-spacing: 0;
  line-height: 22.1px;
  margin-bottom: 1.0px;
  margin-left: 741px;
  min-width: 53px;
  white-space: nowrap;
}

.arrowforwardios-13 {
  height: 16px;
  margin-bottom: 0;
  margin-left: 8px;
  width: 16px;
}

.flex-row-136 {
  align-items: flex-end;
  display: flex;
  height: 25px;
  margin-top: 23px;
  min-width: 822px;
}

.item-image-2 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-width: 83px;
  white-space: nowrap;
}

.item-name-2 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 34px;
  min-width: 81px;
  white-space: nowrap;
}

.collection-rate-1 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 62px;
  min-width: 113px;
  white-space: nowrap;
}

.attributes {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 58px;
  min-width: 76px;
  white-space: nowrap;
}

.est-market-price {
  align-self: flex-start;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 58px;
  min-width: 125px;
  white-space: nowrap;
}

.action-2 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 83px;
  min-width: 49px;
  white-space: nowrap;
}

.line-80-4 {
  height: 1px;
  margin-top: 16px;
  width: 874px;
}

.flex-row-137 {
  align-items: center;
  display: flex;
  height: 89px;
  margin-right: 10.0px;
  margin-top: 8px;
  min-width: 844px;
}

.we-chat-image20210915012035-3-1 {
  align-self: flex-start;
  height: 81px;
  object-fit: cover;
  width: 63px;
}

.lucas-amaeta-18 {
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 50px;
  margin-top: 12.69px;
  min-height: 40px;
  min-width: 117px;
}

.x289-58 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-bottom: 9.31px;
  margin-left: 65px;
  min-width: 33px;
  white-space: nowrap;
}

.overlap-group15-3 {
  align-self: flex-end;
  height: 62px;
  margin-left: 89px;
  position: relative;
  width: 92px;
}

.dimond-1 {
  height: 62px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 53px;
}

.question-mark-1 {
  height: 62px;
  left: 39px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 53px;
}

.x289-59 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-bottom: 15.31px;
  margin-left: 94px;
  min-width: 39px;
  white-space: nowrap;
}

.overlap-group11-5 {
  height: 28px;
  margin-bottom: 15.31px;
  margin-left: 98px;
  position: relative;
  width: 104px;
}

.arrowforwardios-14 {
  height: 12px;
  left: 74px;
  position: absolute;
  top: 9px;
  width: 12px;
}

.x289-60 {
  height: 20px;
  left: 15px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
}

.rectangle-46-1 {
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 104px;
}

.overlap-group10-5 {
  height: 106px;
  margin-top: 1px;
  position: relative;
  width: 942px;
}

.arrowforwardios-15 {
  height: 12px;
  left: 858px;
  position: absolute;
  top: 45px;
  width: 12px;
}

.rectangle-470-3 {
  background-color: var(--biscay);
  height: 106px;
  left: 0;
  position: absolute;
  top: 0;
  width: 942px;
}

.x289-61 {
  height: 20px;
  left: 339px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 37px;
  white-space: nowrap;
}

.x289-62 {
  height: 20px;
  left: 811px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
}

.x289-63 {
  height: 20px;
  left: 647px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 37px;
  white-space: nowrap;
}

.lucas-amaeta-19 {
  left: 157px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 33px;
}

.rectangle-468-2 {
  height: 28px;
  left: 784px;
  position: absolute;
  top: 36px;
  width: 104px;
}

.dice-1 {
  height: 64px;
  left: 480px;
  object-fit: cover;
  position: absolute;
  top: 36px;
  width: 54px;
}

.we-chat-image20210915012031-3 {
  height: 80px;
  left: 44px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 63px;
}

.flex-row-138 {
  align-items: flex-start;
  display: flex;
  margin-right: 10.0px;
  margin-top: 17px;
  min-width: 844px;
}

.we-chat-image20210915011924-1 {
  height: 80px;
  object-fit: cover;
  width: 63px;
}

.lucas-amaeta-20 {
  align-self: center;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 50px;
  margin-top: 9.65px;
  min-height: 40px;
  min-width: 117px;
}

.x289-64 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 65px;
  margin-top: 13.08px;
  min-width: 24px;
  white-space: nowrap;
}

.rocket-1 {
  align-self: flex-end;
  height: 62px;
  margin-bottom: 3.95px;
  margin-left: 117px;
  object-fit: cover;
  width: 53px;
}

.x289-65 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 114px;
  margin-top: 13.08px;
  min-width: 30px;
  white-space: nowrap;
}

.overlap-group13-4 {
  height: 28px;
  margin-left: 107px;
  margin-top: 12.08px;
  position: relative;
  width: 104px;
}

.arrowforwardios-16 {
  height: 12px;
  left: 74px;
  position: absolute;
  top: 10px;
  width: 12px;
}

.x289-66 {
  height: 20px;
  left: 26px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
}

.surname-13 {
  height: 28px;
  left: 1416px;
  letter-spacing: 0;
  line-height: 27.6px;
  position: absolute;
  text-align: center;
  top: 23px;
  white-space: nowrap;
}

.profile-pic-21 {
  height: 53px;
  left: 1347px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 53px;
}

.ellipse-40-14 {
  border-radius: 34.5px;
  height: 69px;
  left: 1339px;
  position: absolute;
  top: 2px;
  width: 69px;
}

.ellipse-4-13 {
  border-radius: 36.5px;
  height: 73px;
  left: 1337px;
  position: absolute;
  top: 0;
  width: 73px;
}

.ellipse-41-14 {
  border-radius: 30.5px;
  height: 61px;
  left: 1343px;
  position: absolute;
  top: 6px;
  width: 61px;
}

