.my-fragments-10 {
  align-items: flex-start;
  background-color: var(--ebony);
  display: flex;
  height: 1080px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.overlap-group1-24 {
  align-items: center;
  background-color: var(--midnight);
  display: flex;
  flex-direction: column;
  min-height: 1080px;
  padding: 39px 0;
  width: 314px;
}

.hypexlogoedited-removebg-1-14 {
  height: 136px;
  margin-left: 1.0px;
  width: 145px;
}

.flex-row-123 {
  align-items: center;
  display: flex;
  height: 40px;
  margin-left: 28.0px;
  margin-top: 60px;
  min-width: 238px;
  position: relative;
}

.my-boxes-6 {
  height: 37px;
  letter-spacing: 0;
  line-height: 30.4px;
  margin-bottom: 0;
  margin-left: 23px;
  width: 164px;
}

.flex-row-124 {
  align-items: flex-start;
  display: flex;
  margin-left: 29.1px;
  margin-top: 76px;
  min-width: 237px;
  position: relative;
}

.my-inventory-7 {
  height: 37px;
  letter-spacing: 0;
  line-height: 30.4px;
  margin-left: 23px;
  width: 164px;
}

.flex-row-125 {
  align-items: flex-start;
  display: flex;
  margin-left: 37.42px;
  margin-top: 77px;
  min-width: 229px;
}

.vector-116 {
  height: 33px;
  margin-top: 0.59px;
  width: 33px;
}

.user-status-6 {
  height: 37px;
  letter-spacing: 0;
  line-height: 30.4px;
  margin-left: 31px;
  width: 164px;
}

.overlap-group9-15 {
  align-self: flex-end;
  height: 79px;
  margin-top: 55px;
  position: relative;
  width: 287px;
}

.rectangle-462-2 {
  height: 78px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 287px;
}

.my-fragments-11 {
  color: #f0f1f2;
  font-family: var(--font-family-chakra_petch);
  font-size: 22.1px;
  font-weight: 700;
  height: 37px;
  left: 99px;
  letter-spacing: 0;
  line-height: 30.4px;
  position: absolute;
  top: 21px;
  width: 164px;
}

.rectangle-263-5 {
  background-color: var(--neon-blue);
  height: 78px;
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

.flex-row-126 {
  align-items: flex-start;
  display: flex;
  margin-left: 33.51px;
  margin-top: 57px;
  min-width: 232px;
  position: relative;
}

.wallet-7 {
  height: 37px;
  letter-spacing: 0;
  line-height: 30.4px;
  margin-left: 30px;
  width: 164px;
}

.flex-row-127 {
  align-items: center;
  display: flex;
  margin-left: 34.26px;
  margin-top: 77px;
  min-width: 232px;
}

.vector-117 {
  height: 36px;
  margin-bottom: 0;
  width: 36px;
}

.settings-5 {
  height: 37px;
  letter-spacing: 0;
  line-height: 30.4px;
  margin-left: 31px;
  width: 164px;
}

.overlap-group-33 {
  height: 975px;
  margin-left: 42px;
  margin-top: 59px;
  position: relative;
  width: 1524px;
}

.rectangle-465-3 {
  background-color: var(--bright-turquoise);
  height: 455px;
  left: 572px;
  position: absolute;
  top: 520px;
  width: 942px;
}

.frame-3-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 15px;
  width: 1514px;
}

.flex-row-128 {
  align-items: flex-end;
  display: flex;
  height: 464px;
  min-width: 1514px;
}

.flex-col-84 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 462px;
  width: 421px;
}

.my-mystery-boxes-6 {
  height: 54px;
  letter-spacing: 0;
  line-height: 54px;
  white-space: nowrap;
}

.overlap-group5-17 {
  align-items: flex-start;
  background-image: url(/img/rectangle-458-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 381px;
  margin-top: 27px;
  min-width: 421px;
  padding: 40px;
}

.flex-col-85 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 299px;
  width: 120px;
}

.my-boxes-7 {
  height: 36px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.total-boxes-1 {
  height: 27px;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: 31px;
  white-space: nowrap;
}

.number-25 {
  letter-spacing: 0;
  line-height: 54px;
  margin-top: 10px;
  min-height: 54px;
  white-space: nowrap;
}

.opened-boxes-1 {
  height: 27px;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: 54px;
  white-space: nowrap;
}

.number-23 {
  letter-spacing: 0;
  line-height: 54px;
  margin-top: 6px;
  min-height: 54px;
  white-space: nowrap;
}

.flex-col-86 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  margin-left: 63px;
  min-height: 232px;
  width: 116px;
}

.market-value-5 {
  height: 27px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.price-15 {
  letter-spacing: 0;
  line-height: 54px;
  margin-top: 10px;
  min-height: 54px;
  white-space: nowrap;
}

.total-staked-2 {
  height: 27px;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: 54px;
  white-space: nowrap;
}

.flex-col-87 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  min-height: 464px;
  width: 1043px;
}

.overlap-group6-21 {
  align-items: center;
  background-color: var(--midnight);
  display: flex;
  height: 58px;
  justify-content: flex-end;
  margin-left: 204.0px;
  min-width: 415px;
  padding: 0 18px;
  position: relative;
}

.search-11 {
  height: 26px;
  letter-spacing: 0.80px;
  margin-top: 1.69px;
  width: 173px;
}

.overlap-group3-23 {
  align-items: flex-start;
  background-color: var(--bright-turquoise);
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  min-height: 381px;
  padding: 34px 41px;
  width: 1043px;
}

.flex-col-88 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 281px;
  width: 958px;
}

.market-value-6 {
  height: 49px;
  letter-spacing: 0;
  line-height: 36px;
  width: 505px;
}

.flex-row-129 {
  align-items: center;
  display: flex;
  height: 208px;
  margin-top: 24px;
  min-width: 958px;
}

.flex-col-89 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 208px;
  width: 37px;
}

.number-26 {
  height: 21px;
  letter-spacing: 0;
  line-height: 19.6px;
  text-align: right;
  white-space: nowrap;
  width: 37px;
}

.number-24 {
  height: 21px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: 18px;
  text-align: right;
  white-space: nowrap;
  width: 37px;
}

.number-27 {
  height: 21px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: 15px;
  text-align: right;
  white-space: nowrap;
  width: 37px;
}

.number-28 {
  height: 21px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: 13px;
  text-align: right;
  white-space: nowrap;
  width: 34px;
}

.number-29 {
  height: 21px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: 18px;
  white-space: nowrap;
  width: 11px;
}

.flex-col-90 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 22px;
  min-height: 189px;
  width: 899px;
}

.line-79-5 {
  height: 1px;
  margin-left: 1px;
  width: 898px;
}

.overlap-group9-16 {
  height: 174px;
  margin-top: 10px;
  position: relative;
  width: 899px;
}

.line-75-4 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 138px;
  width: 898px;
}

.line-78-5 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 28px;
  width: 898px;
}

.line-76-4 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 103px;
  width: 898px;
}

.line-77-6 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 65px;
  width: 898px;
}

.vector-21-7 {
  height: 172px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 896px;
}

.vector-20-7 {
  height: 162px;
  left: 0;
  position: absolute;
  top: 0;
  width: 898px;
}

.line-74-4 {
  height: 1px;
  margin-left: 1px;
  margin-top: 2px;
  width: 898px;
}

.flex-row-130 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: 1px;
  margin-top: 8px;
  min-width: 900px;
}

.name-22 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  white-space: nowrap;
  width: 30px;
}

.feb-3 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 49px;
  white-space: nowrap;
  width: 30px;
}

.place-12 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 49px;
  white-space: nowrap;
  width: 31px;
}

.flex-row-item-3 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 48px;
  white-space: nowrap;
  width: 29px;
}

.name-23 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 50px;
  white-space: nowrap;
  width: 33px;
}

.jun-3 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 46px;
  white-space: nowrap;
  width: 31px;
}

.jul-3 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 48px;
  white-space: nowrap;
  width: 25px;
}

.aug-3 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 54px;
  white-space: nowrap;
  width: 31px;
}

.sep-3 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 48px;
  white-space: nowrap;
  width: 31px;
}

.nov-3 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 50px;
  white-space: nowrap;
  width: 31px;
}

.dec-3 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 48px;
  white-space: nowrap;
}

.flex-row-131 {
  align-items: center;
  display: flex;
  margin-top: 41px;
  min-width: 1514px;
}

.overlap-group4-37 {
  align-items: flex-start;
  background-image: url(/img/rectangle-464@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 455px;
  min-width: 529px;
  padding: 37px 31.5px;
}

.flex-col-91 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 356px;
  width: 271px;
}

.item-distribution-2 {
  height: 36px;
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 8.5px;
  white-space: nowrap;
}

.doughnut-2 {
  height: 270px;
  margin-top: 50px;
  width: 271px;
}

.flex-col-92 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
  margin-left: 56px;
  min-height: 315px;
  width: 116px;
}

.group-425-2 {
  align-items: center;
  display: flex;
  height: 27px;
  min-width: 116px;
}

.ellipse-2-2 {
  background-color: var(--violet-eggplant);
  border-radius: 9px;
  height: 18px;
  margin-top: 1.0px;
  width: 18px;
}

.lv-apparel-2 {
  letter-spacing: 0;
  line-height: 27px;
  margin-left: 8px;
  min-height: 27px;
  min-width: 90px;
  white-space: nowrap;
}

.group-421-2 {
  align-items: center;
  display: flex;
  height: 27px;
  margin-top: 45px;
  min-width: 114px;
}

.ellipse-3-8 {
  background-color: var(--tan-hide);
  border-radius: 9px;
  height: 18px;
  margin-top: 1.0px;
  width: 18px;
}

.air-jordan-2 {
  letter-spacing: 0;
  line-height: 27px;
  margin-left: 8px;
  min-height: 27px;
  min-width: 88px;
  white-space: nowrap;
}

.group-422-2 {
  align-items: center;
  display: flex;
  height: 27px;
  margin-top: 45px;
  min-width: 65px;
}

.ellipse-3-9 {
  background-color: var(--science-blue);
  border-radius: 9px;
  height: 18px;
  margin-top: 1.0px;
  width: 18px;
}

.nike-2 {
  letter-spacing: 0;
  line-height: 27px;
  margin-left: 8px;
  min-height: 27px;
  min-width: 39px;
  white-space: nowrap;
}

.group-423-2 {
  align-items: center;
  display: flex;
  height: 27px;
  margin-top: 45px;
  min-width: 84px;
}

.ellipse-3-10 {
  background-color: var(--viking);
  border-radius: 9px;
  height: 18px;
  margin-top: 1.0px;
  width: 18px;
}

.palace-2 {
  letter-spacing: 0;
  line-height: 27px;
  margin-left: 8px;
  min-height: 27px;
  min-width: 58px;
  white-space: nowrap;
}

.group-424-2 {
  align-items: center;
  display: flex;
  height: 27px;
  margin-top: 45px;
  min-width: 103px;
}

.ellipse-3-11 {
  background-color: var(--magenta);
  border-radius: 9px;
  height: 18px;
  margin-top: 1.0px;
  width: 18px;
}

.supreme-2 {
  letter-spacing: 0;
  line-height: 27px;
  margin-left: 8px;
  min-height: 27px;
  min-width: 77px;
  white-space: nowrap;
}

.flex-col-93 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 9.0px;
  margin-left: 43px;
  min-height: 372px;
  width: 942px;
}

.flex-col-94 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 305px;
  width: 942px;
}

.flex-col-95 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 10.0px;
  min-height: 100px;
  width: 874px;
}

.flex-row-132 {
  align-items: center;
  display: flex;
  min-width: 874px;
  position: relative;
}

.item-2 {
  height: 36px;
  letter-spacing: 0;
  line-height: 36px;
  min-width: 56px;
  white-space: nowrap;
}

.see-all-4 {
  height: 23px;
  letter-spacing: 0;
  line-height: 22.1px;
  margin-bottom: 1.0px;
  margin-left: 741px;
  min-width: 53px;
  white-space: nowrap;
}

.flex-row-133 {
  align-items: flex-start;
  display: flex;
  margin-top: 24px;
  min-width: 822px;
}

.item-image-2 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-width: 83px;
  white-space: nowrap;
}

.item-name-2 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 34px;
  min-width: 81px;
  white-space: nowrap;
}

.quantity-1 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 140px;
  min-width: 66px;
  white-space: nowrap;
}

.staked-loan {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 55px;
  min-width: 96px;
  white-space: nowrap;
}

.cost-1 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 53px;
  min-width: 36px;
  white-space: nowrap;
}

.action-2 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 129px;
  white-space: nowrap;
}

.line-80-4 {
  height: 1px;
  margin-top: 15px;
  width: 874px;
}

.flex-row-134 {
  align-items: center;
  display: flex;
  margin-left: 103.0px;
  margin-top: 31px;
  min-width: 731px;
}

.lucas-amaeta-17 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 19.6px;
  min-height: 20px;
  min-width: 135px;
  white-space: nowrap;
}

.x289-58 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 85px;
  min-width: 21px;
  white-space: nowrap;
}

.x289-59 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 124px;
  min-width: 46px;
  text-align: center;
  white-space: nowrap;
}

.x289-60 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 79px;
  min-width: 30px;
  white-space: nowrap;
}

.overlap-group-32 {
  height: 28px;
  margin-left: 107px;
  position: relative;
  width: 104px;
}

.x289-61 {
  height: 20px;
  left: 24px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
}

.rectangle-46-2 {
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 104px;
}

.overlap-group2-29 {
  height: 106px;
  margin-top: 39px;
  position: relative;
  width: 942px;
}

.rectangle-470-3 {
  background-color: var(--biscay);
  height: 106px;
  left: 0;
  position: absolute;
  top: 0;
  width: 942px;
}

.x289-62 {
  height: 20px;
  left: 377px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 37px;
  white-space: nowrap;
}

.x289-63 {
  height: 20px;
  left: 523px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 38px;
  white-space: nowrap;
}

.x289-64 {
  height: 20px;
  left: 811px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
}

.x289-65 {
  height: 20px;
  left: 647px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 37px;
  white-space: nowrap;
}

.lucas-amaeta-18 {
  left: 157px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 43px;
  white-space: nowrap;
}

.rectangle-468-2 {
  height: 28px;
  left: 784px;
  position: absolute;
  top: 36px;
  width: 104px;
}

.flex-row-135 {
  align-items: flex-start;
  display: flex;
  height: 38px;
  margin-left: 102.0px;
  margin-top: 29px;
  min-width: 732px;
}

.lucas-amaeta-19 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 19.6px;
  min-height: 20px;
  min-width: 126px;
  white-space: nowrap;
}

.x289-66 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 95px;
  margin-top: 1.0px;
  min-width: 17px;
  white-space: nowrap;
}

.x289-67 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 136px;
  margin-top: 4px;
  min-width: 38px;
  white-space: nowrap;
}

.x289-68 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 79px;
  margin-top: 1.0px;
  min-width: 30px;
  white-space: nowrap;
}

.x289-69 {
  height: 20px;
  left: 30px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
}

.x1-2-1 {
  height: 95px;
  left: 590px;
  object-fit: cover;
  position: absolute;
  top: 659px;
  width: 106px;
}

.lv3-1-1 {
  height: 93px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 762px;
  width: 129px;
}

.supreme-1-1 {
  height: 97px;
  left: 572px;
  position: absolute;
  top: 870px;
  width: 110px;
}

.surname-12 {
  height: 28px;
  left: 1416px;
  letter-spacing: 0;
  line-height: 27.6px;
  position: absolute;
  text-align: center;
  top: 23px;
  white-space: nowrap;
}

.profile-pic-19 {
  height: 53px;
  left: 1347px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 53px;
}

.ellipse-40-14 {
  border-radius: 34.5px;
  height: 69px;
  left: 1339px;
  position: absolute;
  top: 2px;
  width: 69px;
}

.ellipse-4-10 {
  border-radius: 36.5px;
  height: 73px;
  left: 1337px;
  position: absolute;
  top: 0;
  width: 73px;
}

.ellipse-41-14 {
  border-radius: 30.5px;
  height: 61px;
  left: 1343px;
  position: absolute;
  top: 6px;
  width: 61px;
}

