.amount-22 {
  align-items: center;
  display: flex;
  height: 38px;
  width: 77px;
}

.x380 {
  flex: 1;
  height: 38.26464080810547px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: -19.1px;
}

.amount-22.amount-24,
.amount-22.amount-26,
.amount-22.amount-28 {
  margin-left: 145px;
}

