.amount-27 {
  align-items: center;
  display: flex;
  height: 38px;
  margin-left: 111px;
  margin-top: 1.82px;
  width: 75px;
}

.price-12 {
  flex: 1;
  height: 38.26464080810547px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: -19.1px;
}

.amount-27.amount-29,
.amount-27.amount-31,
.amount-27.amount-33 {
  margin-bottom: 1.82px;
  margin-left: 140px;
  margin-top: unset;
}

