.merchandise-page {
  align-items: flex-start;
  background-color: var(--ebony);
  display: flex;
  flex-direction: column;
  height: 1080px;
  padding: 43px 29px;
  width: 1920px;
}

.flex-row-148 {
  align-items: center;
  display: flex;
  min-width: 1814px;
  position: relative;
}

.overlap-group-41 {
  height: 118px;
  position: relative;
  width: 443px;
}

.hypexlogoedited-removebg-1-17 {
  cursor: pointer;
  height: 118px;
  left: 0;
  position: absolute;
  top: 0;
  width: 125px;
}

.fragment-factory-13 {
  cursor: pointer;
  height: 57px;
  left: 112px;
  letter-spacing: 0;
  line-height: 31.5px;
  position: absolute;
  text-align: center;
  top: 24px;
  width: 331px;
}

.stake-13 {
  cursor: pointer;
  height: 57px;
  letter-spacing: 0;
  line-height: 31.5px;
  margin-bottom: 13.0px;
  margin-left: 46px;
  width: 134px;
}

.loan-13 {
  cursor: pointer;
  height: 57px;
  letter-spacing: 0;
  line-height: 31.5px;
  margin-bottom: 13.0px;
  margin-left: 41px;
  width: 134px;
}

.display-nf-ts-11 {
  cursor: pointer;
  height: 49px;
  letter-spacing: 0;
  line-height: 31.5px;
  margin-bottom: 13.0px;
  margin-left: 25px;
  width: 309px;
}

.overlap-group3-28 {
  border-radius: 36.5px;
  height: 73px;
  margin-bottom: 13.0px;
  margin-left: 532px;
  position: relative;
  width: 73px;
}

.profile-pic-23 {
  height: 53px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 53px;
}

.ellipse-40-17 {
  border-radius: 34.5px;
  height: 69px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 69px;
}

.ellipse-42-11 {
  border-radius: 36.5px;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.ellipse-41-17 {
  border-radius: 30.5px;
  height: 61px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 61px;
}

.ellipse-43-11 {
  border-radius: 36.5px;
  cursor: pointer;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.flex-row-149 {
  align-items: center;
  align-self: center;
  display: flex;
  height: 630px;
  margin-right: 57.0px;
  margin-top: 106px;
  min-width: 1531px;
}

.flex-col-106 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 27.0px;
  min-height: 571px;
  width: 595px;
}

.overlap-group4-41 {
  height: 69px;
  position: relative;
  width: 595px;
}

.image-63-2 {
  height: 51px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 336px;
}

.x {
  color: var(--white);
  font-family: var(--font-family-chakra_petch);
  font-size: 38px;
  font-weight: 700;
  height: 31px;
  left: 316px;
  letter-spacing: 1.52px;
  position: absolute;
  text-align: center;
  top: 19px;
  width: 77px;
}

.image-62 {
  height: 69px;
  left: 383px;
  position: absolute;
  top: 0;
  width: 212px;
}

.text-71 {
  height: 47px;
  letter-spacing: 0.96px;
  margin-right: 17.0px;
  margin-top: 25px;
  width: 278px;
}

.lv-cardholder-3 {
  height: 379px;
  margin-right: 10.0px;
  margin-top: 51px;
  object-fit: cover;
  width: 551px;
}

.flex-col-107 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 170px;
  min-height: 630px;
  width: 766px;
}

.name-25 {
  align-self: center;
  height: 31px;
  letter-spacing: 0.96px;
  margin-right: 36.0px;
  width: 660px;
}

.text-70 {
  align-self: flex-end;
  letter-spacing: 0.72px;
  line-height: 29.5px;
  margin-top: 47px;
  min-height: 120px;
  width: 731px;
}

.you-have {
  height: 60px;
  letter-spacing: 0.96px;
  margin-left: 35px;
  margin-top: 54px;
  width: 294px;
}

.flex-row-150 {
  align-items: center;
  display: flex;
  margin-left: 30px;
  margin-top: 23px;
  min-width: 374px;
}

.lv-cardholder-4 {
  height: 39px;
  object-fit: cover;
  width: 61px;
}

.text-73 {
  height: 23px;
  letter-spacing: 0.72px;
  margin-left: 23px;
  min-width: 290px;
}

.span-11 {
  letter-spacing: 0.13px;
}

.overlap-group2-35 {
  height: 90px;
  margin-top: 9px;
  position: relative;
  width: 288px;
}

.lv-fragment {
  height: 90px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 124px;
}

.lv-fragments-x10 {
  height: 23px;
  left: 114px;
  letter-spacing: 0.72px;
  position: absolute;
  top: 34px;
}

.flex-row-151 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-right: 51.0px;
  margin-top: 43px;
  min-width: 655px;
}

.group-459 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 303px;
}

.overlap-group6-25 {
  height: 64px;
  position: relative;
  width: 301px;
}

.group-458-3 {
  align-items: flex-start;
  display: flex;
  height: 64px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
}

.overlap-group5-20 {
  height: 83px;
  margin-top: -9.44px;
  position: relative;
  width: 319px;
}

.line-72-7 {
  height: 30px;
  left: 11px;
  position: absolute;
  top: 8px;
  width: 42px;
}

.line-73-7 {
  height: 53px;
  left: 10px;
  position: absolute;
  top: 19px;
  width: 18px;
}

.union-33 {
  height: 83px;
  left: 0;
  position: absolute;
  top: 0;
  width: 319px;
}

.line-70-7 {
  height: 30px;
  left: 273px;
  position: absolute;
  top: 46px;
  width: 40px;
}

.line-71-7 {
  height: 53px;
  left: 294px;
  position: absolute;
  top: 10px;
  width: 18px;
}

.melt-3 {
  height: 40px;
  left: 68px;
  letter-spacing: 1.12px;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 168px;
}

.overlap-group1-30 {
  height: 64px;
  margin-left: 50px;
  position: relative;
  width: 301px;
}

.group-457 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 64px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
}

.forge-1 {
  cursor: pointer;
  height: 40px;
  left: 68px;
  letter-spacing: 1.12px;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 168px;
}

.flex-row-152 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 29px;
  margin-right: 49.0px;
  margin-top: 20px;
  min-width: 657px;
}

.text-72 {
  letter-spacing: 0;
  line-height: 28.5px;
  min-height: 29px;
  text-align: center;
  white-space: nowrap;
  width: 303px;
}

.with-5-lv-fragments {
  letter-spacing: 0;
  line-height: 28.5px;
  margin-left: 51px;
  min-height: 29px;
  text-align: center;
  white-space: nowrap;
  width: 303px;
}

