.loan-7 {
  align-items: flex-start;
  background-color: var(--ebony);
  display: flex;
  flex-direction: column;
  height: 1080px;
  padding: 43px 29px;
  width: 1920px;
}

.flex-row-55 {
  align-items: center;
  display: flex;
  min-width: 1814px;
}

.overlap-group-15 {
  height: 118px;
  position: relative;
  width: 1138px;
}

.hypexlogoedited-removebg-1-7 {
  height: 118px;
  left: 0;
  position: absolute;
  top: 0;
  width: 125px;
}

.stake-7 {
  height: 57px;
  left: 865px;
  letter-spacing: 0;
  line-height: 37.5px;
  position: absolute;
  top: 23px;
  width: 134px;
}

.fragment-factory-9 {
  height: 57px;
  left: 112px;
  letter-spacing: 0;
  line-height: 37.5px;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 331px;
}

.nft-moorph-7 {
  height: 57px;
  left: 363px;
  letter-spacing: 0;
  line-height: 37.5px;
  position: absolute;
  text-align: center;
  top: 23px;
  width: 331px;
}

.nft-forge-7 {
  height: 57px;
  left: 569px;
  letter-spacing: 0;
  line-height: 37.5px;
  position: absolute;
  text-align: center;
  top: 24px;
  width: 331px;
}

.union-27 {
  height: 45px;
  left: 977px;
  position: absolute;
  top: 27px;
  width: 116px;
}

.loan-8 {
  height: 57px;
  left: 1004px;
  letter-spacing: 0;
  line-height: 37.5px;
  position: absolute;
  top: 24px;
  width: 134px;
}

.overlap-group4-12 {
  border-radius: 36.5px;
  height: 73px;
  margin-bottom: 13.0px;
  margin-left: 502px;
  position: relative;
  width: 73px;
}

.profile-pic-14 {
  height: 53px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 53px;
}

.ellipse-40-7 {
  border-radius: 34.5px;
  height: 69px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 69px;
}

.ellipse-42-6 {
  border-radius: 36.5px;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.ellipse-41-7 {
  border-radius: 30.5px;
  height: 61px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 61px;
}

.ellipse-43-6 {
  border-radius: 36.5px;
  cursor: pointer;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.shoppingbag-7 {
  height: 45px;
  margin-bottom: 17.0px;
  margin-left: 56px;
  width: 45px;
}

.flex-row-56 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 833px;
  margin-right: 1.0px;
  margin-top: 19px;
  min-width: 1781px;
}

.flex-col-33 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 788px;
  width: 897px;
}

.text-28 {
  height: 36px;
  letter-spacing: 1.12px;
  margin-right: 25.75px;
  min-width: 510px;
  text-align: center;
}

.flex-row-57 {
  align-items: center;
  display: flex;
  margin-top: 18px;
  min-width: 897px;
}

.x35135aaa6cc2389-cf03efcfdaec458-1 {
  align-self: flex-end;
  height: 351px;
  margin-bottom: 0.1px;
  object-fit: cover;
  width: 275px;
}

.vector-21 {
  height: 112px;
  margin-left: 31px;
  margin-top: 34.0px;
  width: 76px;
}

.we-chat-image20210915012035-3 {
  height: 360px;
  margin-left: 90px;
  object-fit: cover;
  width: 281px;
}

.vector-20 {
  height: 112px;
  margin-left: 68px;
  margin-top: 54.0px;
  width: 76px;
}

.name {
  height: 47px;
  letter-spacing: 1.44px;
  margin-right: 55.75px;
  margin-top: 27px;
  min-width: 440px;
}

.overlap-group5-11 {
  height: 135px;
  margin-right: 15.52px;
  margin-top: 43px;
  position: relative;
  width: 431px;
}

.overlap-group2-13 {
  height: 135px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 277px;
}

.line-109 {
  height: 88px;
  left: 156px;
  position: absolute;
  top: 0;
  width: 1px;
}

.vector-22 {
  height: 45px;
  left: 208px;
  position: absolute;
  top: 90px;
  width: 56px;
}

.in-ustusd {
  left: 84px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 89px;
  width: 193px;
}

.number-1 {
  height: 58px;
  left: 43px;
  letter-spacing: 1.12px;
  position: absolute;
  top: 36px;
  width: 71px;
}

.text-29 {
  height: 58px;
  left: 0;
  letter-spacing: 1.12px;
  position: absolute;
  top: 34px;
  width: 71px;
}

.text-30 {
  height: 58px;
  left: 89px;
  letter-spacing: 1.12px;
  position: absolute;
  top: 34px;
  width: 71px;
}

.quantity {
  height: 23px;
  left: 0;
  letter-spacing: 0.72px;
  position: absolute;
  top: 3px;
}

.text-31 {
  height: 17px;
  left: 206px;
  letter-spacing: 0.72px;
  position: absolute;
  top: 0;
  width: 225px;
}

.price-4 {
  height: 20px;
  left: 206px;
  letter-spacing: 1.44px;
  position: absolute;
  top: 53px;
  width: 166px;
}

.text-27 {
  height: 28px;
  letter-spacing: 0.72px;
  margin-right: 60.52px;
  width: 313px;
}

.overlap-group3-13 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  height: 68px;
  justify-content: flex-end;
  margin-right: 135.52px;
  margin-top: 26px;
  min-width: 253px;
  padding: 11.9px 41px;
}

.loan-9 {
  height: 41px;
  letter-spacing: 1.12px;
  text-align: center;
  width: 168px;
}

.flex-row-58 {
  align-items: flex-start;
  display: flex;
  height: 453px;
  margin-left: 34px;
  min-width: 850px;
}

.e55e1658e2ba74e-8d8ba32d9358b9b-1 {
  align-self: flex-end;
  height: 351px;
  object-fit: cover;
  width: 275px;
}

.flex-col-34 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 129px;
  min-height: 404px;
  width: 446px;
}

.your-loan {
  height: 60px;
  letter-spacing: 0.96px;
  width: 294px;
}

.overlap-group1-13 {
  height: 317px;
  margin-left: 3px;
  margin-top: 27px;
  position: relative;
  width: 443px;
}

.placeholder {
  left: 37px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 224px;
  white-space: nowrap;
}

.percent {
  left: 37px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 251px;
  white-space: nowrap;
}

.rectangle-431 {
  height: 317px;
  left: 0;
  position: absolute;
  top: 0;
  width: 365px;
}

.total-loan-debt {
  height: 27px;
  left: 37px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 36px;
  white-space: nowrap;
  width: 406px;
}

.price-5 {
  left: 37px;
  letter-spacing: 0;
  line-height: 72px;
  position: absolute;
  top: 83px;
  white-space: nowrap;
}

.rectangle-455 {
  background-color: var(--ebony);
  height: 11px;
  left: 37px;
  position: absolute;
  top: 172px;
  width: 307px;
}

.rectangle-456 {
  background-color: var(--neon-blue);
  height: 11px;
  left: 37px;
  position: absolute;
  top: 172px;
  width: 208px;
}

