.loan-8 {
  align-items: center;
  background-color: var(--ebony);
  display: flex;
  flex-direction: column;
  height: 1080px;
  padding: 43px 29px;
  width: 1920px;
}

.flex-col-72 {
  align-items: center;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 654px;
  width: 1821px;
}

.flex-col-73 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 7.0px;
  min-height: 218px;
  width: 1814px;
}

.flex-row-92 {
  align-items: center;
  display: flex;
  min-width: 1814px;
  position: relative;
}

.overlap-group-25 {
  height: 118px;
  position: relative;
  width: 443px;
}

.hypexlogoedited-removebg-1-13 {
  cursor: pointer;
  height: 118px;
  left: 0;
  position: absolute;
  top: 0;
  width: 125px;
}

.fragment-factory-10 {
  cursor: pointer;
  height: 57px;
  left: 112px;
  letter-spacing: 0;
  line-height: 31.5px;
  position: absolute;
  text-align: center;
  top: 24px;
  width: 331px;
}

.overlap-group8-11 {
  height: 57px;
  margin-bottom: 13.0px;
  margin-left: 16px;
  position: relative;
  width: 318px;
}

.union-16 {
  height: 45px;
  left: 119px;
  position: absolute;
  top: 6px;
  width: 194px;
}

.stake-8 {
  cursor: pointer;
  height: 57px;
  left: 0;
  letter-spacing: 0;
  line-height: 31.5px;
  position: absolute;
  top: 0;
  width: 134px;
}

.loan-9 {
  height: 57px;
  left: 184px;
  letter-spacing: 0;
  line-height: 31.5px;
  position: absolute;
  top: 0;
  width: 134px;
}

.display-nf-ts-8 {
  cursor: pointer;
  height: 49px;
  letter-spacing: 0;
  line-height: 31.5px;
  margin-bottom: 13.0px;
  margin-left: 46px;
  width: 309px;
}

.overlap-group2-23 {
  border-radius: 36.5px;
  height: 73px;
  margin-bottom: 13.0px;
  margin-left: 532px;
  position: relative;
  width: 73px;
}

.profile-pic-13 {
  height: 53px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 53px;
}

.ellipse-40-13 {
  border-radius: 34.5px;
  height: 69px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 69px;
}

.ellipse-42-8 {
  border-radius: 36.5px;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.ellipse-41-13 {
  border-radius: 30.5px;
  height: 61px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 61px;
}

.ellipse-43-8 {
  border-radius: 36.5px;
  cursor: pointer;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.flex-row-93 {
  align-items: flex-start;
  display: flex;
  height: 81px;
  margin-left: 240.0px;
  margin-top: 19px;
  min-width: 1284px;
}

.text-35 {
  align-self: flex-end;
  height: 36px;
  letter-spacing: 1.12px;
  min-width: 497px;
  text-align: center;
}

.your-loan {
  height: 60px;
  letter-spacing: 0.96px;
  margin-left: 493px;
  width: 294px;
}

.flex-row-94 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  height: 321px;
  margin-top: 6px;
  min-width: 1758px;
}

.overlap-group5-11 {
  height: 181px;
  margin-bottom: 6.2px;
  position: relative;
  width: 309px;
}

.image-60-2 {
  height: 154px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 240px;
}

.rectangle-454-2 {
  height: 181px;
  left: 0;
  position: absolute;
  top: 0;
  width: 297px;
}

.vector-21-6 {
  height: 112px;
  left: 233px;
  position: absolute;
  top: 19px;
  width: 76px;
}

.file1601078949671-3-3 {
  height: 220px;
  margin-bottom: 6px;
  margin-left: 31px;
  width: 474px;
}

.overlap-group6-15 {
  height: 181px;
  margin-left: 31px;
  position: relative;
  width: 352px;
}

.image-59-3 {
  height: 141px;
  left: 106px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 246px;
}

.vector-20-6 {
  height: 112px;
  left: 0;
  position: absolute;
  top: 23px;
  width: 76px;
}

.rectangle-453-2 {
  height: 181px;
  left: 38px;
  position: absolute;
  top: 0;
  width: 314px;
}

.overlap-group1-18 {
  align-self: flex-start;
  height: 317px;
  margin-left: 116px;
  position: relative;
  width: 443px;
}

.placeholder {
  left: 37px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 224px;
  white-space: nowrap;
}

.percent {
  left: 37px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 251px;
  white-space: nowrap;
}

.rectangle-431 {
  height: 317px;
  left: 0;
  position: absolute;
  top: 0;
  width: 365px;
}

.total-loan-debt {
  height: 27px;
  left: 37px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 36px;
  white-space: nowrap;
  width: 406px;
}

.price-13 {
  left: 37px;
  letter-spacing: 0;
  line-height: 72px;
  position: absolute;
  top: 83px;
  white-space: nowrap;
}

.rectangle-455 {
  background-color: var(--ebony);
  height: 11px;
  left: 37px;
  position: absolute;
  top: 172px;
  width: 307px;
}

.rectangle-456 {
  background-color: var(--neon-blue);
  height: 11px;
  left: 37px;
  position: absolute;
  top: 172px;
  width: 208px;
}

.name-21 {
  height: 47px;
  letter-spacing: 1.44px;
  margin-right: 577.46px;
  margin-top: 62px;
  min-width: 440px;
}

.flex-row-95 {
  align-items: flex-start;
  display: flex;
  margin-right: 492.23px;
  margin-top: 43px;
  min-width: 566px;
}

.overlap-group10-9 {
  height: 94px;
  position: relative;
  width: 213px;
}

.overlap-group4-31 {
  height: 94px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 207px;
}

.line-109 {
  height: 88px;
  left: 204px;
  position: absolute;
  top: 0;
  width: 1px;
}

.number-22 {
  height: 58px;
  left: 69px;
  letter-spacing: 1.12px;
  position: absolute;
  top: 36px;
  width: 71px;
}

.text-33 {
  height: 58px;
  left: 0;
  letter-spacing: 1.12px;
  position: absolute;
  top: 34px;
  width: 71px;
}

.text-34 {
  height: 58px;
  left: 136px;
  letter-spacing: 1.12px;
  position: absolute;
  top: 34px;
  width: 71px;
}

.quantity {
  height: 23px;
  left: 0;
  letter-spacing: 0.72px;
  position: absolute;
  top: 0;
}

.flex-col-74 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 42px;
  min-height: 73px;
  width: 311px;
}

.text-31 {
  height: 17px;
  letter-spacing: 0.72px;
  width: 311px;
}

.price-14 {
  height: 20px;
  letter-spacing: 1.44px;
  margin-top: 36px;
  width: 166px;
}

.overlap-group7-12 {
  height: 46px;
  margin-right: 587.0px;
  margin-top: 11px;
  position: relative;
  width: 193px;
}

.vector-22-1 {
  height: 46px;
  left: 123px;
  position: absolute;
  top: 0;
  width: 57px;
}

.in-ustusd {
  left: 0;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 0;
  width: 193px;
}

.text-32 {
  height: 28px;
  letter-spacing: 0.72px;
  margin-right: 537.0px;
  width: 313px;
}

.overlap-group3-17 {
  height: 68px;
  margin-right: 643.0px;
  margin-top: 10px;
  position: relative;
  width: 281px;
}

.union-17 {
  cursor: pointer;
  height: 68px;
  left: 0;
  position: absolute;
  top: 0;
  width: 281px;
}

.loan-10 {
  height: 41px;
  left: 58px;
  letter-spacing: 1.12px;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 168px;
}

