.my-box {
  align-items: flex-start;
  background-color: var(--ebony);
  display: flex;
  height: 1080px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.overlap-group12-2 {
  align-items: center;
  background-color: var(--midnight);
  display: flex;
  flex-direction: column;
  min-height: 1080px;
  padding: 39px 0;
  width: 314px;
}

.hypexlogoedited-removebg-1-11 {
  height: 136px;
  margin-left: 1.0px;
  width: 145px;
}

.overlap-group16-2 {
  align-self: flex-end;
  height: 79px;
  margin-top: 40px;
  position: relative;
  width: 287px;
}

.rectangle-462-1 {
  height: 78px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 287px;
}

.my-boxes-3 {
  height: 37px;
  left: 99px;
  letter-spacing: 0;
  line-height: 30.4px;
  position: absolute;
  top: 21px;
  width: 164px;
}

.frame-9 {
  height: 40px;
  left: 25px;
  position: absolute;
  top: 20px;
  width: 52px;
}

.rectangle-263-3 {
  background-color: var(--neon-blue);
  height: 78px;
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

.flex-row-95 {
  align-items: flex-start;
  display: flex;
  margin-left: 28.92px;
  margin-top: 57px;
  min-width: 237px;
}

.frame-10 {
  height: 32px;
  margin-top: 0.79px;
  width: 50px;
}

.my-inventory-4 {
  height: 37px;
  letter-spacing: 0;
  line-height: 30.4px;
  margin-left: 23px;
  width: 164px;
}

.flex-row-96 {
  align-items: flex-start;
  display: flex;
  margin-left: 37.67px;
  margin-top: 77px;
  min-width: 228px;
}

.vector-7 {
  height: 32px;
  margin-top: 0.84px;
  width: 32px;
}

.user-status-3,
.settings-3 {
  height: 37px;
  letter-spacing: 0;
  line-height: 30.4px;
  margin-left: 32px;
  width: 164px;
}

.flex-row-97 {
  align-items: center;
  display: flex;
  margin-left: 37.67px;
  margin-top: 76px;
  min-width: 228px;
}

.frame-11,
.accountbalancewallet-3 {
  height: 38px;
  width: 38px;
}

.my-fragments-3 {
  height: 37px;
  letter-spacing: 0;
  line-height: 30.4px;
  margin-left: 26px;
  width: 164px;
}

.flex-row-98 {
  align-items: center;
  display: flex;
  margin-left: 33.26px;
  margin-top: 78px;
  min-width: 233px;
}

.wallet-5 {
  height: 37px;
  letter-spacing: 0;
  line-height: 30.4px;
  margin-left: 31px;
  width: 164px;
}

.flex-row-99 {
  align-items: center;
  display: flex;
  margin-left: 34.51px;
  margin-top: 77px;
  min-width: 231px;
}

.vector-8 {
  height: 36px;
  margin-bottom: 0;
  width: 36px;
}

.flex-col-59 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 42px;
  margin-top: 59px;
  min-height: 975px;
  width: 1524px;
}

.flex-row-100 {
  align-items: flex-end;
  display: flex;
  height: 479px;
  min-width: 1524px;
}

.flex-col-60 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 462px;
  width: 421px;
}

.my-mystery-boxes-7 {
  height: 54px;
  letter-spacing: 0;
  line-height: 54px;
  white-space: nowrap;
}

.overlap-group14-2 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 381px;
  margin-top: 27px;
  min-width: 421px;
  padding: 40px;
}

.flex-col-61 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 299px;
  width: 120px;
}

.my-boxes-4 {
  height: 36px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.total-boxes {
  height: 27px;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: 31px;
  white-space: nowrap;
}

.number-11,
.price-15 {
  letter-spacing: 0;
  line-height: 54px;
  margin-top: 10px;
  min-height: 54px;
  white-space: nowrap;
}

.opened-boxes,
.total-staked-1 {
  height: 27px;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: 54px;
  white-space: nowrap;
}

.number-9 {
  letter-spacing: 0;
  line-height: 54px;
  margin-top: 6px;
  min-height: 54px;
  white-space: nowrap;
}

.flex-col-62 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  margin-left: 63px;
  min-height: 232px;
  width: 116px;
}

.market-value-3 {
  height: 27px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.flex-col-63 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  min-height: 479px;
  width: 1053px;
}

.flex-row-101 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  min-width: 637px;
}

.overlap-group15-1 {
  align-items: center;
  align-self: flex-end;
  background-color: var(--midnight);
  display: flex;
  height: 58px;
  justify-content: flex-end;
  min-width: 415px;
  padding: 0 18px;
}

.search-5 {
  height: 26px;
  letter-spacing: 0.80px;
  margin-top: 1.69px;
  width: 173px;
}

.search-6 {
  height: 38px;
  margin-left: 164px;
  width: 38px;
}

.overlap-group13-2 {
  border-radius: 36.5px;
  height: 73px;
  margin-left: 35px;
  position: relative;
  width: 73px;
}

.profile-pic-18 {
  height: 53px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 53px;
}

.ellipse-40-11 {
  border-radius: 34.5px;
  height: 69px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 69px;
}

.ellipse-4-11 {
  border-radius: 36.5px;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.ellipse-41-11 {
  border-radius: 30.5px;
  height: 61px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 61px;
}

.surname-11 {
  height: 28px;
  letter-spacing: 0;
  line-height: 27.6px;
  margin-left: 6px;
  margin-top: 1.0px;
  min-width: 108px;
  text-align: center;
  white-space: nowrap;
}

.overlap-group11-3 {
  align-items: flex-start;
  background-color: var(--bright-turquoise);
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  min-height: 381px;
  padding: 34px 41px;
  width: 1043px;
}

.flex-col-64 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 281px;
  width: 958px;
}

.market-value-4 {
  height: 49px;
  letter-spacing: 0;
  line-height: 36px;
  width: 505px;
}

.flex-row-102 {
  align-items: center;
  display: flex;
  height: 208px;
  margin-top: 24px;
  min-width: 958px;
}

.flex-col-65 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 208px;
  width: 37px;
}

.number-12 {
  height: 21px;
  letter-spacing: 0;
  line-height: 19.6px;
  text-align: right;
  white-space: nowrap;
  width: 37px;
}

.number-10 {
  height: 21px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: 18px;
  text-align: right;
  white-space: nowrap;
  width: 37px;
}

.number-13 {
  height: 21px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: 15px;
  text-align: right;
  white-space: nowrap;
  width: 37px;
}

.number-14 {
  height: 21px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: 13px;
  text-align: right;
  white-space: nowrap;
  width: 34px;
}

.number-15 {
  height: 21px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: 18px;
  white-space: nowrap;
  width: 11px;
}

.flex-col-66 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 22px;
  min-height: 189px;
  width: 899px;
}

.line-79-4 {
  height: 1px;
  margin-left: 1px;
  width: 898px;
}

.overlap-group17-1 {
  height: 174px;
  margin-top: 10px;
  position: relative;
  width: 899px;
}

.line-75-2 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 138px;
  width: 898px;
}

.line-78-1 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 28px;
  width: 898px;
}

.line-76-2 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 103px;
  width: 898px;
}

.line-77-2 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 65px;
  width: 898px;
}

.vector-21-3 {
  height: 172px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 896px;
}

.vector-20-3 {
  height: 162px;
  left: 0;
  position: absolute;
  top: 0;
  width: 898px;
}

.line-74-2 {
  height: 1px;
  margin-left: 1px;
  margin-top: 2px;
  width: 898px;
}

.flex-row-103 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: 1px;
  margin-top: 8px;
  min-width: 900px;
}

.name-6 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  white-space: nowrap;
  width: 30px;
}

.feb-1 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 49px;
  white-space: nowrap;
  width: 30px;
}

.place-11 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 49px;
  white-space: nowrap;
  width: 31px;
}

.flex-row-item-1 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 48px;
  white-space: nowrap;
  width: 29px;
}

.name-7 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 50px;
  white-space: nowrap;
  width: 33px;
}

.jun-1 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 46px;
  white-space: nowrap;
  width: 31px;
}

.jul-1 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 48px;
  white-space: nowrap;
  width: 25px;
}

.aug-1 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 54px;
  white-space: nowrap;
  width: 31px;
}

.sep-1 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 48px;
  white-space: nowrap;
  width: 31px;
}

.nov-1 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 50px;
  white-space: nowrap;
  width: 31px;
}

.dec-1 {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-left: 48px;
  white-space: nowrap;
}

.flex-row-104 {
  align-items: flex-start;
  display: flex;
  margin-top: 41px;
  min-width: 1514px;
}

.overlap-group10-2 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 455px;
  min-width: 529px;
  padding: 37px 32px;
}

.flex-col-67 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 356px;
  width: 270px;
}

.item-distribution-1 {
  height: 36px;
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 8px;
  white-space: nowrap;
}

.doughnut-1 {
  height: 270px;
  margin-top: 50px;
  width: 270px;
}

.flex-col-68 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: 54px;
  margin-top: 60.0px;
  min-height: 243px;
  width: 131px;
}

.group-421-1 {
  display: flex;
  width: 93px;
}

.ellipse-3-4 {
  background-color: var(--tan-hide);
  border-radius: 9px;
  height: 18px;
  margin-top: 5px;
  width: 18px;
}

.opened {
  height: 27px;
  letter-spacing: 0;
  line-height: 27px;
  margin-left: 8px;
  white-space: nowrap;
  width: 67px;
}

.group-422-1 {
  display: flex;
  margin-top: 45px;
  width: 131px;
}

.ellipse-3-5 {
  background-color: var(--science-blue);
  border-radius: 9px;
  height: 18px;
  margin-top: 5px;
  width: 18px;
}

.list-for-sale {
  height: 27px;
  letter-spacing: 0;
  line-height: 27px;
  margin-left: 8px;
  white-space: nowrap;
  width: 105px;
}

.group-423-1 {
  display: flex;
  margin-top: 45px;
  width: 76px;
}

.ellipse-3-6 {
  background-color: var(--viking);
  border-radius: 9px;
  height: 18px;
  margin-top: 5px;
  width: 18px;
}

.stake-8 {
  height: 27px;
  letter-spacing: 0;
  line-height: 27px;
  margin-left: 8px;
  white-space: nowrap;
  width: 50px;
}

.group-424-1 {
  display: flex;
  margin-top: 45px;
  width: 96px;
}

.ellipse-3-7 {
  background-color: var(--magenta);
  border-radius: 9px;
  height: 18px;
  margin-top: 5px;
  width: 18px;
}

.in-stock {
  height: 27px;
  letter-spacing: 0;
  line-height: 27px;
  margin-left: 8px;
  white-space: nowrap;
  width: 70px;
}

.overlap-group9-2 {
  height: 455px;
  margin-left: 43px;
  position: relative;
  width: 942px;
}

.rectangle-470-2 {
  background-color: var(--biscay);
  height: 106px;
  left: 0;
  position: absolute;
  top: 236px;
  width: 942px;
}

.line-80-2 {
  height: 1px;
  left: 39px;
  position: absolute;
  top: 136px;
  width: 874px;
}

.item-1 {
  height: 36px;
  left: 39px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 37px;
  white-space: nowrap;
}

.item-image-1 {
  height: 24px;
  left: 39px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 97px;
  white-space: nowrap;
}

.item-name-1 {
  height: 24px;
  left: 156px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 97px;
  white-space: nowrap;
}

.status-1 {
  height: 24px;
  left: 377px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 100px;
  white-space: nowrap;
}

.collection {
  height: 24px;
  left: 260px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 97px;
  white-space: nowrap;
}

.merchandise {
  height: 24px;
  left: 498px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 97px;
  white-space: nowrap;
}

.cost {
  height: 24px;
  left: 647px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 97px;
  white-space: nowrap;
}

.action-1 {
  height: 24px;
  left: 812px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 97px;
  white-space: nowrap;
}

.see-all-2 {
  height: 23px;
  left: 836px;
  letter-spacing: 0;
  line-height: 22.1px;
  position: absolute;
  top: 43px;
  white-space: nowrap;
}

.arrowforwardios-7 {
  height: 16px;
  left: 897px;
  position: absolute;
  top: 47px;
  width: 16px;
}

.arrowforwardios-8 {
  height: 12px;
  left: 858px;
  position: absolute;
  top: 178px;
  width: 12px;
}

.arrowforwardios-9 {
  height: 12px;
  left: 858px;
  position: absolute;
  top: 281px;
  width: 12px;
}

.arrowforwardios-10 {
  height: 12px;
  left: 858px;
  position: absolute;
  top: 381px;
  width: 12px;
}

.x289-42 {
  height: 20px;
  left: 377px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 176px;
  white-space: nowrap;
}

.x289-43 {
  height: 20px;
  left: 273px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 179px;
  white-space: nowrap;
}

.x289-44 {
  height: 20px;
  left: 273px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 281px;
  white-space: nowrap;
}

.x289-45 {
  height: 20px;
  left: 273px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 390px;
  white-space: nowrap;
}

.x289-46 {
  height: 40px;
  left: 498px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  text-align: center;
  top: 163px;
}

.lucas-amaeta-13 {
  left: 157px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 177px;
  white-space: nowrap;
}

.x289-47 {
  color: var(--eucalyptus);
  font-family: var(--font-family-chakra_petch);
  font-size: var(--font-size-xs);
  font-weight: 500;
  height: 20px;
  left: 376px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 389px;
  white-space: nowrap;
}

.text-35 {
  height: 20px;
  left: 498px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 372px;
  white-space: nowrap;
}

.lucas-amaeta-14 {
  left: 156px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 389px;
  white-space: nowrap;
}

.x289-48 {
  height: 20px;
  left: 376px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 279px;
  white-space: nowrap;
}

.text-36 {
  height: 20px;
  left: 498px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 273px;
  white-space: nowrap;
}

.x289-49 {
  height: 20px;
  left: 647px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 173px;
  white-space: nowrap;
}

.x289-50 {
  color: #04c0db;
  font-family: var(--font-family-chakra_petch);
  font-size: var(--font-size-xs);
  font-weight: 500;
  height: 20px;
  left: 813px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  text-align: center;
  top: 173px;
  white-space: nowrap;
}

.x289-51 {
  height: 20px;
  left: 811px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  text-align: center;
  top: 276px;
  white-space: nowrap;
}

.x289-52 {
  height: 20px;
  left: 813px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  text-align: center;
  top: 375px;
  white-space: nowrap;
}

.x289-53 {
  height: 20px;
  left: 647px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 372px;
  white-space: nowrap;
}

.x289-54 {
  height: 20px;
  left: 647px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 273px;
  white-space: nowrap;
}

.lucas-amaeta-15 {
  left: 157px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 279px;
  white-space: nowrap;
}

.rectangle-467 {
  height: 28px;
  left: 784px;
  position: absolute;
  top: 169px;
  width: 104px;
}

.rectangle-468-1 {
  height: 28px;
  left: 784px;
  position: absolute;
  top: 272px;
  width: 104px;
}

.rectangle-469 {
  height: 28px;
  left: 784px;
  position: absolute;
  top: 371px;
  width: 104px;
}

.lucasamaetainfoco-6 {
  left: 157px;
  letter-spacing: 0;
  line-height: 18.7px;
  position: absolute;
  top: 194px;
  white-space: nowrap;
}

.lucasamaetainfoco-7 {
  left: 157px;
  letter-spacing: 0;
  line-height: 18.7px;
  position: absolute;
  top: 296px;
  white-space: nowrap;
}

.lucasamaetainfoco-8 {
  left: 157px;
  letter-spacing: 0;
  line-height: 18.7px;
  position: absolute;
  top: 409px;
  white-space: nowrap;
}

.rectangle-465-2 {
  background-color: var(--bright-turquoise);
  height: 455px;
  left: 0;
  position: absolute;
  top: 0;
  width: 942px;
}

.we-chat-image20210913162426-1-2 {
  height: 66px;
  left: 42px;
  object-fit: cover;
  position: absolute;
  top: 153px;
  width: 64px;
}

.we-chat-image20210913162426-2-2 {
  height: 66px;
  left: 42px;
  object-fit: cover;
  position: absolute;
  top: 257px;
  width: 64px;
}

.we-chat-image20210913162426-3 {
  height: 66px;
  left: 42px;
  object-fit: cover;
  position: absolute;
  top: 371px;
  width: 64px;
}

