.loan-success {
  align-items: flex-start;
  display: flex;
  min-width: 719px;
}

.overlay .loan-success {
  background-color: #00000000;
}

.overlap-group-31 {
  height: 582px;
  position: relative;
  width: 719px;
}

.group-458-1 {
  height: 83px;
  left: 216px;
  position: absolute;
  top: 468px;
  width: 319px;
}

.rectangle-409 {
  height: 582px;
  left: 0;
  position: absolute;
  top: 0;
  width: 719px;
}

.congratulations-1 {
  left: 182px;
  letter-spacing: 0;
  line-height: 52.5px;
  position: absolute;
  text-align: center;
  top: 33px;
  width: 359px;
}

.you-deposited {
  left: 48px;
  letter-spacing: 0;
  line-height: 52.5px;
  position: absolute;
  text-align: center;
  top: 80px;
  white-space: nowrap;
  width: 625px;
}

.open-1 {
  height: 40px;
  left: 277px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: center;
  top: 495px;
  white-space: nowrap;
  width: 168px;
}

.line-77-5 {
  height: 111px;
  left: 11px;
  position: absolute;
  top: 6px;
  width: 88px;
}

.line-78-4 {
  height: 129px;
  left: 11px;
  position: absolute;
  top: 116px;
  width: 2px;
}

.file1601078949671-5 {
  height: 100px;
  left: 273px;
  object-fit: cover;
  position: absolute;
  top: 258px;
  width: 207px;
}

.text-51 {
  height: 26px;
  left: 169px;
  letter-spacing: 0.80px;
  position: absolute;
  text-align: center;
  top: 389px;
}

.span-7 {
  letter-spacing: 0.16px;
}

.image-14-2 {
  height: 80px;
  left: 174px;
  object-fit: cover;
  position: absolute;
  top: 142px;
  width: 404px;
}

.image-16-2 {
  height: 34px;
  left: 304px;
  object-fit: cover;
  position: absolute;
  top: 214px;
  width: 146px;
}

#overlay-loan-success {
  background-color: transparent;
}

