.search {
  align-items: flex-start;
  display: flex;
  height: 43px;
  margin-left: 231px;
  padding: 5.0px;
  width: 43px;
}

.overlap-group6-2 {
  height: 32px;
  position: relative;
  width: 32px;
}

.vector-30 {
  height: 1px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 1px;
}

.vector-31 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.search.search-1 {
  height: 38px;
  margin-left: 164px;
  padding: 4.1px 4.1px;
  width: 38px;
}

.search.search-1 .overlap-group6-2 {
  height: 29px;
  width: 29px;
}

.search.search-1 .vector-30 {
  left: 15px;
  top: 15px;
}

.search.search-1 .vector-31 {
  height: 29px;
  width: 29px;
}

.search.search-2 {
  margin-left: 326px;
}

.search.search-3 {
  height: 38px;
  margin-left: 164px;
  padding: 4.1px 4.1px;
  width: 38px;
}

.search.search-3 .overlap-group6-2 {
  height: 29px;
  width: 29px;
}

.search.search-3 .vector-30 {
  left: 15px;
  top: 15px;
}

.search.search-3 .vector-31 {
  height: 29px;
  width: 29px;
}

.search.search-4 {
  height: 38px;
  margin-left: 164px;
  padding: 4.1px 4.1px;
  width: 38px;
}

.search.search-4 .overlap-group6-2 {
  height: 29px;
  width: 29px;
}

.search.search-4 .vector-30 {
  left: 15px;
  top: 15px;
}

.search.search-4 .vector-31 {
  height: 29px;
  width: 29px;
}

.search.search-5 {
  height: 38px;
  margin-left: 164px;
  padding: 4.1px 4.1px;
  width: 38px;
}

.search.search-5 .overlap-group6-2 {
  height: 29px;
  width: 29px;
}

.search.search-5 .vector-30 {
  left: 15px;
  top: 15px;
}

.search.search-5 .vector-31 {
  height: 29px;
  width: 29px;
}

.search.search-6 {
  height: 38px;
  margin-left: 164px;
  padding: 4.1px 4.1px;
  width: 38px;
}

.search.search-6 .overlap-group6-2 {
  height: 29px;
  width: 29px;
}

.search.search-6 .vector-30 {
  left: 15px;
  top: 15px;
}

.search.search-6 .vector-31 {
  height: 29px;
  width: 29px;
}

