.forge-page {
  align-items: flex-end;
  background-color: var(--ebony);
  display: flex;
  flex-direction: column;
  height: 1080px;
  overflow: hidden;
  padding: 43px 0;
  width: 1920px;
}

.flex-row-19 {
  align-items: center;
  align-self: center;
  display: flex;
  margin-right: 48.0px;
  min-width: 1814px;
  position: relative;
}

.overlap-group-7 {
  height: 118px;
  position: relative;
  width: 443px;
}

.hypexlogoedited-removebg-1-2 {
  cursor: pointer;
  height: 118px;
  left: 0;
  position: absolute;
  top: 0;
  width: 125px;
}

.fragment-factory-1 {
  cursor: pointer;
  height: 57px;
  left: 112px;
  letter-spacing: 0;
  line-height: 31.5px;
  position: absolute;
  text-align: center;
  top: 24px;
  width: 331px;
}

.stake-1 {
  cursor: pointer;
  height: 57px;
  letter-spacing: 0;
  line-height: 31.5px;
  margin-bottom: 13.0px;
  margin-left: 16px;
  width: 134px;
}

.loan-1 {
  cursor: pointer;
  height: 57px;
  letter-spacing: 0;
  line-height: 31.5px;
  margin-bottom: 13.0px;
  margin-left: 71px;
  width: 134px;
}

.display-nf-ts-1 {
  cursor: pointer;
  height: 49px;
  letter-spacing: 0;
  line-height: 31.5px;
  margin-bottom: 13.0px;
  margin-left: 25px;
  width: 309px;
}

.overlap-group3-3 {
  border-radius: 36.5px;
  height: 73px;
  margin-bottom: 13.0px;
  margin-left: 532px;
  position: relative;
  width: 73px;
}

.profile-pic-2 {
  height: 53px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 53px;
}

.ellipse-40-2 {
  border-radius: 34.5px;
  height: 69px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 69px;
}

.ellipse-42-1 {
  border-radius: 36.5px;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.ellipse-41-2 {
  border-radius: 30.5px;
  height: 61px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 61px;
}

.ellipse-43-1 {
  border-radius: 36.5px;
  cursor: pointer;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.flex-row-20 {
  align-items: flex-start;
  display: flex;
  height: 803px;
  margin-right: -10.0px;
  margin-top: 31px;
  min-width: 1431px;
}

.flex-col-13 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 803px;
  width: 862px;
}

.overlap-group1-3 {
  height: 415px;
  position: relative;
  width: 862px;
}

.air-jordan-fragment {
  height: 45px;
  left: 241px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: center;
  top: 370px;
  white-space: nowrap;
  width: 371px;
}

.forging-factory {
  height: 45px;
  left: 293px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.x1-2 {
  height: 359px;
  left: 291px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 280px;
}

.lv3-2 {
  height: 176px;
  left: 534px;
  object-fit: cover;
  position: absolute;
  top: 114px;
  width: 305px;
}

.yeezy-2 {
  height: 206px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 99px;
  width: 309px;
}

.x60-success-rate {
  letter-spacing: 0;
  line-height: 28.5px;
  margin-right: 9.0px;
  margin-top: 22px;
  min-height: 29px;
  text-align: center;
  white-space: nowrap;
  width: 219px;
}

.span0 {
  color: var(--neon-blue);
  font-family: var(--font-family-chakra_petch);
  font-size: 19px;
}

.overlap-group5-4 {
  height: 82px;
  margin-right: 1.0px;
  margin-top: 83px;
  position: relative;
  width: 319px;
}

.forge {
  height: 40px;
  left: 77px;
  letter-spacing: 1.12px;
  position: absolute;
  text-align: center;
  top: 21px;
  width: 168px;
}

.union-2 {
  height: 82px;
  left: 0;
  position: absolute;
  top: 0;
  width: 319px;
}

.line-70-2 {
  height: 30px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 42px;
}

.line-71-2 {
  height: 30px;
  left: 273px;
  position: absolute;
  top: 46px;
  width: 40px;
}

.line-72-2 {
  height: 53px;
  left: 7px;
  position: absolute;
  top: 19px;
  width: 18px;
}

.line-73-2 {
  height: 53px;
  left: 294px;
  position: absolute;
  top: 10px;
  width: 18px;
}

.flex-row-21 {
  align-items: center;
  display: flex;
  height: 157px;
  margin-right: 29.0px;
  margin-top: 15px;
  min-width: 211px;
}

.rectangle-3 {
  height: 16px;
  margin-top: 65.0px;
  width: 16px;
}

.flex-col-14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  min-height: 157px;
  width: 188px;
}

.cost-40-hxc {
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 2px;
  min-height: 36px;
  text-align: center;
  white-space: nowrap;
  width: 181px;
}

.span1 {
  color: var(--neon-blue);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-xl);
  font-weight: 500;
}

.overlap-group2-7 {
  height: 75px;
  margin-top: 46px;
  position: relative;
  width: 188px;
}

.union-3 {
  height: 54px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 187px;
}

.cost-20-hxc {
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 51px;
  white-space: nowrap;
  width: 181px;
}

.insurance {
  color: var(--white);
  font-family: var(--font-family-roboto_mono);
  font-size: var(--font-size-s);
  font-weight: 500;
  height: 21px;
  left: 48px;
  letter-spacing: 0.64px;
  position: absolute;
  text-align: center;
  top: 17px;
}

.flex-col-15 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 176px;
  margin-top: 4px;
  min-height: 222px;
  width: 393px;
}

.flex-row-22 {
  align-items: center;
  display: flex;
  margin-left: 4px;
  min-width: 344px;
}

.frame-26 {
  align-items: flex-start;
  display: flex;
  min-width: 58px;
  transform: rotate(180deg);
}

.overlap-group10-3 {
  height: 58px;
  position: relative;
  width: 58px;
}

.vector-80 {
  height: 58px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 58px;
}

.vector-81 {
  height: 8px;
  left: 18px;
  position: absolute;
  top: 35px;
  transform: rotate(-180deg);
  width: 11px;
}

.vector-82 {
  height: 4px;
  left: 30px;
  position: absolute;
  top: 42px;
  transform: rotate(-180deg);
  width: 5px;
}

.vector-83 {
  height: 8px;
  left: 32px;
  position: absolute;
  top: 19px;
  transform: rotate(-180deg);
  width: 8px;
}

.text-4 {
  letter-spacing: 0;
  line-height: 27px;
  margin-left: 18px;
  margin-top: 1.0px;
  min-height: 53px;
  width: 268px;
}

.overlap-group4-4 {
  height: 25px;
  margin-left: 4px;
  margin-top: 19px;
  position: relative;
  width: 389px;
}

.buy-button {
  background-color: var(--cello);
  height: 13px;
  left: 1px;
  position: absolute;
  top: 5px;
  width: 221px;
}

.x30-hxc {
  left: 170px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: 219px;
}

.buy-button-1 {
  background-color: var(--neon-blue);
  height: 13px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 170px;
}

.x80-durability {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 4px;
  margin-top: 2px;
  min-height: 24px;
  white-space: nowrap;
}

.span0-1 {
  color: var(--neon-blue);
  font-family: var(--font-family-chakra_petch);
  font-size: var(--font-size-s);
}

.overlap-group6-5 {
  align-items: flex-end;
  background-image: url(/img/union-16@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 46px;
  margin-top: 19px;
  min-width: 179px;
  padding: 13px 29px;
}

.upgrade-to-lv2 {
  height: 18px;
  letter-spacing: 0.56px;
  min-width: 120px;
  text-align: center;
}

.text-5 {
  letter-spacing: 0;
  line-height: 21px;
  margin-left: 5px;
  margin-top: 8px;
  min-height: 21px;
  white-space: nowrap;
}

