.forge-page {
  align-items: flex-start;
  background-color: var(--ebony);
  display: flex;
  flex-direction: column;
  height: 1080px;
  padding: 43px 29px;
  width: 1920px;
}

.flex-row-49 {
  align-items: center;
  display: flex;
  min-width: 1814px;
}

.overlap-group2-12 {
  height: 118px;
  position: relative;
  width: 999px;
}

.hypexlogoedited-removebg-1-5 {
  height: 118px;
  left: 0;
  position: absolute;
  top: 0;
  width: 125px;
}

.stake-5 {
  cursor: pointer;
  height: 57px;
  left: 865px;
  letter-spacing: 0;
  line-height: 37.5px;
  position: absolute;
  top: 23px;
  width: 134px;
}

.fragment-factory-7 {
  height: 57px;
  left: 112px;
  letter-spacing: 0;
  line-height: 37.5px;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 331px;
}

.nft-moorph-5 {
  cursor: pointer;
  height: 57px;
  left: 363px;
  letter-spacing: 0;
  line-height: 37.5px;
  position: absolute;
  text-align: center;
  top: 23px;
  width: 331px;
}

.nft-forge-5 {
  height: 57px;
  left: 569px;
  letter-spacing: 0;
  line-height: 37.5px;
  position: absolute;
  text-align: center;
  top: 24px;
  width: 331px;
}

.union-24 {
  cursor: pointer;
  height: 45px;
  left: 637px;
  position: absolute;
  top: 31px;
  width: 194px;
}

.loan-5 {
  cursor: pointer;
  height: 57px;
  letter-spacing: 0;
  line-height: 37.5px;
  margin-bottom: 13.0px;
  margin-left: 5px;
  width: 134px;
}

.overlap-group-12 {
  border-radius: 36.5px;
  height: 73px;
  margin-bottom: 13.0px;
  margin-left: 526px;
  position: relative;
  width: 73px;
}

.profile-pic-12 {
  height: 53px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 53px;
}

.ellipse-40-5 {
  border-radius: 34.5px;
  height: 69px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 69px;
}

.ellipse-4-7 {
  border-radius: 36.5px;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.ellipse-41-5 {
  border-radius: 30.5px;
  height: 61px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 61px;
}

.shoppingbag-5 {
  height: 45px;
  margin-bottom: 17.0px;
  margin-left: 32px;
  width: 45px;
}

.flex-row-50 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  height: 782px;
  margin-right: 180px;
  margin-top: 23px;
  min-width: 1017px;
}

.flex-col-26 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 782px;
  width: 472px;
}

.text-25 {
  height: 45px;
  letter-spacing: 0;
  line-height: 45px;
  margin-right: 10.0px;
  min-width: 378px;
  text-align: center;
  white-space: nowrap;
}

.x1-15 {
  height: 280px;
  margin-top: 85px;
  object-fit: cover;
  width: 472px;
}

.x60-success-rate {
  color: transparent;
  font-family: var(--font-family-chakra_petch);
  font-size: 19px;
  letter-spacing: 0;
  line-height: 28.5px;
  margin-left: 53.0px;
  margin-top: 58px;
  min-height: 29px;
  text-align: center;
  white-space: nowrap;
  width: 219px;
}

.span-3 {
  color: var(--neon-blue);
}

.span1-2 {
  color: var(--white);
}

.overlap-group3-12 {
  height: 82px;
  margin-left: 61.0px;
  margin-top: 31px;
  position: relative;
  width: 319px;
}

.forge {
  color: var(--white);
  font-family: var(--font-family-chakra_petch);
  font-size: 28px;
  font-weight: 500;
  height: 40px;
  left: 77px;
  letter-spacing: 1.12px;
  position: absolute;
  text-align: center;
  top: 21px;
  width: 168px;
}

.union-25 {
  height: 82px;
  left: 0;
  position: absolute;
  top: 0;
  width: 319px;
}

.line-70-2 {
  height: 30px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 41px;
}

.line-71-2 {
  height: 30px;
  left: 273px;
  position: absolute;
  top: 46px;
  width: 40px;
}

.line-72-2 {
  height: 53px;
  left: 7px;
  position: absolute;
  top: 19px;
  width: 18px;
}

.line-73-2 {
  height: 53px;
  left: 294px;
  position: absolute;
  top: 10px;
  width: 18px;
}

.flex-row-51 {
  align-items: center;
  display: flex;
  height: 157px;
  margin-left: 32.5px;
  margin-top: 15px;
  min-width: 210px;
}

.rectangle-3 {
  height: 16px;
  margin-top: 65.0px;
  width: 16px;
}

.flex-col-27 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  min-height: 157px;
  width: 188px;
}

.cost-40-hxc-1 {
  color: transparent;
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 2px;
  min-height: 36px;
  text-align: center;
  white-space: nowrap;
  width: 181px;
}

.overlap-group1-12 {
  height: 74px;
  margin-top: 46px;
  position: relative;
  width: 188px;
}

.union-26 {
  height: 53px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 186px;
}

.cost-20-hxc-2 {
  color: transparent;
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-s);
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 50px;
  white-space: nowrap;
  width: 181px;
}

.insurance-1 {
  color: var(--white);
  font-family: var(--font-family-roboto_mono);
  font-size: var(--font-size-s);
  font-weight: 500;
  height: 21px;
  left: 48px;
  letter-spacing: 0.64px;
  position: absolute;
  text-align: center;
  top: 16px;
}

.text-24 {
  letter-spacing: 0;
  line-height: 52.5px;
  margin-bottom: 243.0px;
  margin-left: 142px;
  min-height: 53px;
  text-align: center;
  white-space: nowrap;
  width: 403px;
}

