.shoppingbag {
  align-items: center;
  display: flex;
  height: 45px;
  margin-bottom: 17.0px;
  margin-left: 32px;
  padding: 0 7px;
  width: 45px;
}

.overlap-group31 {
  height: 39px;
  position: relative;
  width: 31px;
}

.vector {
  height: 1px;
  left: 15px;
  position: absolute;
  top: 19px;
  width: 1px;
}

.vector-1 {
  height: 39px;
  left: 0;
  position: absolute;
  top: 0;
  width: 31px;
}

.shoppingbag.shoppingbag-12 {
  left: 1105px;
  margin-bottom: unset;
  margin-left: unset;
  position: absolute;
  top: 144px;
}

