.state-default-1 {
  align-items: flex-start;
  display: flex;
  height: 31px;
  left: 18px;
  position: absolute;
  top: 9px;
}

.label-i5832 {
  letter-spacing: 0.96px;
  min-height: 31px;
  width: 202px;
}

