.group-461-1 {
  align-items: center;
  background-color: var(--neon-blue);
  border-radius: 12.5px;
  display: flex;
  height: 25px;
  left: 209px;
  padding: 0 4px;
  position: absolute;
  top: 0;
}

.icons8-hammer-90-1-1 {
  height: 15px;
  object-fit: cover;
  width: 16px;
}

.group-461-1.group-461-2 {
  background-color: var(--razzle-dazzle-rose);
}

.group-461-1.group-461-3 {
  background-color: var(--razzle-dazzle-rose);
}

.group-461-1.group-461-4 {
  background-color: var(--razzle-dazzle-rose);
}

