.state-default {
  align-items: flex-start;
  display: flex;
  height: 26px;
  left: 630px;
  position: absolute;
  top: 51px;
}

.label-i583216 {
  letter-spacing: 0.80px;
  min-height: 26px;
  text-align: center;
  width: 63px;
}

