.accountbalancewallet {
  align-items: flex-start;
  display: flex;
  height: 37px;
  margin-bottom: 0.77px;
  margin-left: 25px;
  padding: 4.2px 3.0px;
  width: 37px;
}

.overlap-group3-2 {
  height: 29px;
  margin-left: 2px;
  position: relative;
  width: 30px;
}

.vector-54 {
  height: 1px;
  left: 14px;
  position: absolute;
  top: 14px;
  width: 1px;
}

.vector-55 {
  height: 29px;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px;
}

.vector-56 {
  height: 5px;
  left: 18px;
  position: absolute;
  top: 12px;
  width: 5px;
}

.accountbalancewallet.accountbalancewallet-1 {
  margin-bottom: unset;
  margin-left: unset;
}

.accountbalancewallet.accountbalancewallet-2 {
  margin-bottom: unset;
  margin-left: unset;
}

.accountbalancewallet.accountbalancewallet-3 {
  margin-bottom: unset;
  margin-left: unset;
}

.accountbalancewallet.accountbalancewallet-4 {
  margin-bottom: unset;
  margin-left: unset;
}

.accountbalancewallet.accountbalancewallet-5 {
  margin-bottom: unset;
  margin-left: unset;
}

