.coinlist-for-stake {
  background-color: var(--ebony);
  border: 3px solid var(--neon-blue);
  height: 878px;
  position: relative;
  width: 668px;
}

.overlay .coinlist-for-stake {
  background-color: #00000000;
}

.terra-ustusdhxc {
  left: 102px;
  letter-spacing: 0;
  line-height: 45px;
  opacity: 0.8;
  position: absolute;
  top: 127px;
  white-space: nowrap;
  width: 327px;
}

.percent-2 {
  left: 484px;
  letter-spacing: 0;
  line-height: 45px;
  opacity: 0.8;
  position: absolute;
  top: 127px;
  white-space: nowrap;
  width: 74px;
}

.pairs {
  left: 106px;
  letter-spacing: 0;
  line-height: 45px;
  opacity: 0.8;
  position: absolute;
  top: 52px;
  white-space: nowrap;
  width: 85px;
}

.apy {
  left: 484px;
  letter-spacing: 0;
  line-height: 45px;
  opacity: 0.8;
  position: absolute;
  top: 52px;
  white-space: nowrap;
  width: 73px;
}

.overlap-group1-28 {
  height: 2px;
  left: 17px;
  position: absolute;
  top: 185px;
  width: 627px;
}

.line-11-1 {
  height: 2px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 624px;
}

.line-1-1 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 624px;
}

.line-112-2 {
  height: 2px;
  left: 20px;
  position: absolute;
  top: 110px;
  width: 624px;
}

.matic-hxc {
  left: 102px;
  letter-spacing: 0;
  line-height: 45px;
  opacity: 0.8;
  position: absolute;
  top: 202px;
  white-space: nowrap;
  width: 327px;
}

.percent-3 {
  left: 484px;
  letter-spacing: 0;
  line-height: 45px;
  opacity: 0.8;
  position: absolute;
  top: 202px;
  white-space: nowrap;
  width: 74px;
}

.near-hxc {
  left: 102px;
  letter-spacing: 0;
  line-height: 45px;
  opacity: 0.8;
  position: absolute;
  top: 277px;
  white-space: nowrap;
  width: 327px;
}

.percent-4 {
  left: 484px;
  letter-spacing: 0;
  line-height: 45px;
  opacity: 0.8;
  position: absolute;
  top: 277px;
  white-space: nowrap;
  width: 87px;
}

.line-115 {
  height: 2px;
  left: 17px;
  position: absolute;
  top: 335px;
  width: 624px;
}

.xdb-hxc {
  left: 102px;
  letter-spacing: 0;
  line-height: 45px;
  opacity: 0.8;
  position: absolute;
  top: 352px;
  white-space: nowrap;
  width: 327px;
}

.percent-5 {
  left: 484px;
  letter-spacing: 0;
  line-height: 45px;
  opacity: 0.8;
  position: absolute;
  top: 352px;
  white-space: nowrap;
  width: 87px;
}

.line-117 {
  height: 2px;
  left: 17px;
  position: absolute;
  top: 410px;
  width: 624px;
}

.sol-hxc {
  left: 102px;
  letter-spacing: 0;
  line-height: 45px;
  opacity: 0.8;
  position: absolute;
  top: 427px;
  white-space: nowrap;
  width: 327px;
}

.percent-6 {
  left: 484px;
  letter-spacing: 0;
  line-height: 45px;
  opacity: 0.8;
  position: absolute;
  top: 427px;
  white-space: nowrap;
  width: 87px;
}

.line-118 {
  height: 2px;
  left: 17px;
  position: absolute;
  top: 485px;
  width: 624px;
}

.line-116 {
  height: 2px;
  left: 17px;
  position: absolute;
  top: 260px;
  width: 624px;
}

.overlap-group2-33 {
  background-image: url(/img/rectangle-457@2x.svg);
  background-size: 100% 100%;
  height: 25px;
  left: 629px;
  position: absolute;
  top: 11px;
  width: 25px;
}

.line-6-6 {
  height: 18px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 16px;
}

.text-68 {
  left: 102px;
  letter-spacing: 0;
  line-height: 45px;
  opacity: 0.8;
  position: absolute;
  top: 502px;
  white-space: nowrap;
  width: 327px;
}

.percent-7 {
  left: 484px;
  letter-spacing: 0;
  line-height: 45px;
  opacity: 0.8;
  position: absolute;
  top: 502px;
  white-space: nowrap;
  width: 87px;
}

.overlap-group-39 {
  height: 2px;
  left: 17px;
  position: absolute;
  top: 560px;
  width: 627px;
}

.hxc-matic {
  left: 102px;
  letter-spacing: 0;
  line-height: 45px;
  opacity: 0.8;
  position: absolute;
  top: 577px;
  white-space: nowrap;
  width: 327px;
}

.percent-8 {
  left: 484px;
  letter-spacing: 0;
  line-height: 45px;
  opacity: 0.8;
  position: absolute;
  top: 577px;
  white-space: nowrap;
  width: 95px;
}

.hxc-near {
  left: 102px;
  letter-spacing: 0;
  line-height: 45px;
  opacity: 0.8;
  position: absolute;
  top: 652px;
  white-space: nowrap;
  width: 327px;
}

.percent-9 {
  left: 484px;
  letter-spacing: 0;
  line-height: 45px;
  opacity: 0.8;
  position: absolute;
  top: 652px;
  white-space: nowrap;
  width: 100px;
}

.line-121 {
  height: 2px;
  left: 17px;
  position: absolute;
  top: 710px;
  width: 624px;
}

.hxc-xbd {
  left: 102px;
  letter-spacing: 0;
  line-height: 45px;
  opacity: 0.8;
  position: absolute;
  top: 727px;
  white-space: nowrap;
  width: 327px;
}

.percent-10 {
  left: 484px;
  letter-spacing: 0;
  line-height: 45px;
  opacity: 0.8;
  position: absolute;
  top: 727px;
  white-space: nowrap;
  width: 100px;
}

.line-122 {
  height: 2px;
  left: 17px;
  position: absolute;
  top: 785px;
  width: 624px;
}

.hxc-sol {
  left: 102px;
  letter-spacing: 0;
  line-height: 45px;
  opacity: 0.8;
  position: absolute;
  top: 802px;
  white-space: nowrap;
  width: 327px;
}

.percent-11 {
  left: 484px;
  letter-spacing: 0;
  line-height: 45px;
  opacity: 0.8;
  position: absolute;
  top: 802px;
  white-space: nowrap;
  width: 95px;
}

.line-123 {
  height: 2px;
  left: 17px;
  position: absolute;
  top: 860px;
  width: 624px;
}

.line-125 {
  height: 2px;
  left: 17px;
  position: absolute;
  top: 635px;
  width: 624px;
}

.image-63 {
  height: 32px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: 133px;
  width: 34px;
}

.hypexlogoedi-ebgsmallerl-1 {
  height: 36px;
  left: 55px;
  object-fit: cover;
  position: absolute;
  top: 132px;
  width: 36px;
}

.hypexlogoedi-ebgsmallerl-2 {
  height: 36px;
  left: 54px;
  object-fit: cover;
  position: absolute;
  top: 206px;
  width: 36px;
}

.hypexlogoedi-ebgsmallerl-3 {
  height: 36px;
  left: 55px;
  object-fit: cover;
  position: absolute;
  top: 281px;
  width: 36px;
}

.hypexlogoedi-ebgsmallerl-4 {
  height: 36px;
  left: 54px;
  object-fit: cover;
  position: absolute;
  top: 356px;
  width: 36px;
}

.hypexlogoedi-ebgsmallerl-5 {
  height: 36px;
  left: 54px;
  object-fit: cover;
  position: absolute;
  top: 431px;
  width: 36px;
}

.hypexlogoedi-ebgsmallerl-6 {
  height: 36px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 506px;
  width: 36px;
}

.hypexlogoedi-ebgsmallerl-7 {
  height: 36px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 579px;
  width: 36px;
}

.overlap-group3-27 {
  height: 41px;
  left: 17px;
  position: absolute;
  top: 652px;
  width: 76px;
}

.hypexlogoedi-ebgsmallerl-8 {
  height: 36px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 36px;
}

.image-65 {
  height: 41px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 41px;
}

.hypexlogoedi-ebgsmallerl-9 {
  height: 36px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 731px;
  width: 36px;
}

.hypexlogoedi-bgsmallerl-10 {
  height: 36px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 806px;
  width: 36px;
}

.image-64 {
  height: 37px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 205px;
  width: 37px;
}

.image-65-1 {
  height: 41px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 278px;
  width: 41px;
}

.image-66 {
  height: 35px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 357px;
  width: 35px;
}

.image-67 {
  height: 35px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 431px;
  width: 35px;
}

.image-63-1 {
  height: 32px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 507px;
  width: 34px;
}

.image-64-1 {
  height: 37px;
  left: 55px;
  object-fit: cover;
  position: absolute;
  top: 580px;
  width: 37px;
}

.image-68 {
  height: 35px;
  left: 55px;
  object-fit: cover;
  position: absolute;
  top: 731px;
  width: 35px;
}

.image-69 {
  height: 35px;
  left: 55px;
  object-fit: cover;
  position: absolute;
  top: 805px;
  width: 35px;
}

#overlay-coinlist-for-stake {
  background-color: var(--ebony);
}

