.arrowforward {
  align-items: center;
  display: flex;
  height: 24px;
  left: 173px;
  padding: 0 4px;
  position: absolute;
  top: 265px;
  width: 24px;
}

.overlap-group10-10 {
  height: 16px;
  position: relative;
  width: 16px;
}

.vector-118 {
  height: 1px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 1px;
}

.vector-119 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

