.container {
  width: 100%
}

.home-limited-box {
  align-items: flex-start;
  background-color: var(--ebony);
  display: flex;
  flex-direction: column;
  height: 2687px;
  padding: 43px 29px;
  width: 1920px;
}

.flex-row-23 {
  align-items: center;
  display: flex;
  min-width: 1814px;
  position: relative;
}

.overlap-group5-5 {
  height: 118px;
  position: relative;
  width: 443px;
}

.fragment-factory-2 {
  cursor: pointer;
  height: 57px;
  left: 112px;
  letter-spacing: 0;
  line-height: 31.5px;
  position: absolute;
  text-align: center;
  top: 24px;
  width: 331px;
}

.hypexlogoedited-removebg-1-3 {
  height: 118px;
  left: 0;
  position: absolute;
  top: 0;
  width: 125px;
}

.stake-2 {
  cursor: pointer;
  height: 57px;
  letter-spacing: 0;
  line-height: 31.5px;
  margin-bottom: 13.0px;
  margin-left: 46px;
  width: 134px;
}

.loan-2 {
  cursor: pointer;
  height: 57px;
  letter-spacing: 0;
  line-height: 31.5px;
  margin-bottom: 13.0px;
  margin-left: 41px;
  width: 134px;
}

.display-nf-ts-2 {
  cursor: pointer;
  height: 49px;
  letter-spacing: 0;
  line-height: 31.5px;
  margin-bottom: 13.0px;
  margin-left: 25px;
  width: 309px;
}

.overlap-group1-4 {
  border-radius: 36.5px;
  height: 73px;
  margin-bottom: 13.0px;
  margin-left: 532px;
  position: relative;
  width: 73px;
}

.profile-pic-3 {
  height: 53px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 53px;
}

.ellipse-40-3 {
  border-radius: 34.5px;
  height: 69px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 69px;
}

.ellipse-42-2 {
  border-radius: 36.5px;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.ellipse-41-3 {
  border-radius: 30.5px;
  height: 61px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 61px;
}

.ellipse-43-2 {
  border-radius: 36.5px;
  cursor: pointer;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.flex-col-16 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-right: 17.0px;
  margin-top: 56px;
  min-height: 2332px;
  width: 1797px;
}

.overlap-group-10 {
  height: 461px;
  position: relative;
  width: 1797px;
}

.banner-version-2-1-1 {
  height: 453px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1789px;
}

.ellipse-36-1 {
  background-color: var(--razzle-dazzle-rose-2);
  border-radius: 9px;
  height: 18px;
  left: 873px;
  position: absolute;
  top: 405px;
  width: 18px;
}

.ellipse-37-1 {
  background-color: var(--mist-gray);
  border-radius: 9px;
  height: 18px;
  left: 898px;
  position: absolute;
  top: 405px;
  width: 18px;
}

.ellipse-38-1 {
  background-color: var(--mist-gray);
  border-radius: 9px;
  height: 18px;
  left: 923px;
  position: absolute;
  top: 405px;
  width: 18px;
}

.banner-version-4-1-1 {
  height: 452px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 1797px;
}

.overlap-group32-1 {
  height: 99px;
  margin-left: 20px;
  margin-top: 44px;
  position: relative;
  width: 1491px;
}

.overlap-group4-5 {
  height: 99px;
  left: 0;
  position: absolute;
  top: 0;
  width: 895px;
}

.limited-box-1 {
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  height: 47px;
  left: 293px;
  letter-spacing: 1.44px;
  position: absolute;
  text-align: center;
  top: 23px;
}

.box-trigger-1 {
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  height: 90px;
  left: 323px;
  position: absolute;
  top: 0;
  width: 564px;
}

.line-79-1 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 81px;
  width: 895px;
}

.overlap-group3-4 {
  height: 80px;
  left: 887px;
  position: absolute;
  top: 0;
  width: 604px;
}

.merchandise-1 {
  height: 47px;
  left: 336px;
  letter-spacing: 1.44px;
  position: absolute;
  text-align: center;
  top: 23px;
}

.merchandise-trigger-1 {
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 597px;
}

.flex-row-24 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  margin-right: 3px;
  margin-top: 54px;
  min-width: 1766px;
}

.sort-by-1 {
  color: var(--neon-purple);
  font-family: var(--font-family-chakra_petch);
  font-size: var(--font-size-xl);
  font-weight: 500;
  height: 31px;
  letter-spacing: 0.96px;
  margin-bottom: 1.0px;
  min-width: 120px;
}

.frame-19-1 {
  align-items: center;
  display: flex;
  margin-bottom: 1.0px;
  margin-left: 70px;
  min-width: 111px;
  position: relative;
}

.surname-2 {
  height: 31px;
  letter-spacing: 0.96px;
  min-width: 75px;
}

.frame-20-1 {
  align-items: center;
  display: flex;
  margin-bottom: 1.0px;
  margin-left: 56px;
  min-width: 190px;
  position: relative;
}

.categories-1 {
  height: 31px;
  letter-spacing: 0.96px;
  min-width: 154px;
}

.frame-21-1 {
  align-items: center;
  display: flex;
  margin-bottom: 1.0px;
  margin-left: 56px;
  min-width: 123px;
  position: relative;
}

.place-3 {
  height: 31px;
  letter-spacing: 0.96px;
  min-width: 87px;
}

.frame-22-1 {
  align-items: center;
  display: flex;
  margin-bottom: 1.0px;
  margin-left: 56px;
  min-width: 127px;
  position: relative;
}

.rarity-1 {
  height: 31px;
  letter-spacing: 0.96px;
  min-width: 91px;
}

.overlap-group2-8 {
  align-items: flex-start;
  background-color: #3b1753;
  border: 2px solid var(--neon-purple);
  box-shadow: 0px 0px 8px #f337f8;
  display: flex;
  height: 72px;
  margin-left: 234px;
  min-width: 638px;
  padding: 12px 27px;
  position: relative;
}

.search-boxes {
  align-self: center;
  height: 31px;
  letter-spacing: 0.96px;
  margin-bottom: 3.0px;
  min-width: 208px;
}

.frame-23 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 1556px;
  justify-content: flex-end;
  margin-left: 17.11px;
  margin-top: 44px;
  min-width: 1758px;
}

.flex-row-25 {
  align-items: flex-start;
  display: flex;
  height: 1575px;
  margin-top: -9px;
  min-width: 1329px;
}

.flex-col-17 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 1575px;
  width: 429px;
}

.overlap-group30 {
  align-items: flex-end;
  background-image: url(/img/union-17@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 403px;
  padding: 47px 43.6px;
  width: 429px;
}

.text-6 {
  height: 31px;
  letter-spacing: 0.96px;
  min-width: 335px;
  text-align: center;
}

.offcllv-supreme-7 {
  align-self: center;
  height: 221px;
  margin-right: 3.11px;
  margin-top: 45px;
  object-fit: cover;
  width: 191px;
}

.overlap-group-8 {
  height: 80px;
  margin-right: 0.11px;
  margin-top: 3px;
  position: relative;
  width: 428px;
}

.rectangle-4-2 {
  height: 80px;
  left: 203px;
  position: absolute;
  top: 0;
  width: 225px;
}

.unbox {
  height: 40px;
  left: 238px;
  letter-spacing: 1.12px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 156px;
}

.rectangle-4-3 {
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 221px;
}

.price-2 {
  height: 40px;
  left: 50px;
  letter-spacing: 1.12px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 122px;
}

.overlap-group20-1 {
  align-items: flex-start;
  background-image: url(/img/union-17@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 57px;
  min-height: 403px;
  padding: 52px 102.4px;
  width: 429px;
}

.bape-box {
  align-self: center;
  height: 19px;
  margin-left: 4.89px;
  margin-top: 1px;
  width: 121px;
}

.image-46 {
  height: 220px;
  margin-top: 59px;
  object-fit: cover;
  width: 220px;
}

.overlap-group-9 {
  height: 64px;
  margin-right: 0.11px;
  margin-top: 11px;
  position: relative;
  width: 412px;
}

.rectangle-43 {
  height: 64px;
  left: 203px;
  position: absolute;
  top: 0;
  width: 209px;
}

.unbox-1 {
  height: 40px;
  left: 230px;
  letter-spacing: 1.12px;
  position: absolute;
  text-align: center;
  top: 12px;
  width: 156px;
}

.rectangle-43-1 {
  height: 64px;
  left: 0;
  position: absolute;
  top: 0;
  width: 205px;
}

.price-3 {
  height: 40px;
  left: 42px;
  letter-spacing: 1.12px;
  position: absolute;
  text-align: center;
  top: 12px;
  width: 122px;
}

.overlap-group24-1 {
  align-items: flex-end;
  background-image: url(/img/union-17@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  min-height: 403px;
  padding: 47px 105.6px;
  width: 429px;
}

.chunky-dunk {
  align-self: center;
  height: 31px;
  letter-spacing: 0.96px;
  margin-left: 5.89px;
  min-width: 178px;
  text-align: center;
}

.image-50 {
  height: 214px;
  margin-top: 47px;
  object-fit: cover;
  width: 214px;
}

.flex-col-18 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 19px;
  min-height: 1575px;
  width: 429px;
}

.overlap-group22 {
  align-items: flex-end;
  background-image: url(/img/union-17@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 403px;
  padding: 43px 80.6px;
  width: 429px;
}

.supreme-value-box {
  cursor: pointer;
  height: 31px;
  letter-spacing: 0.96px;
  margin-top: 4px;
  min-width: 261px;
  text-align: center;
}

.offcl-boxsupreme2-5 {
  align-self: center;
  cursor: pointer;
  height: 254px;
  margin-right: 4.11px;
  margin-top: 28px;
  object-fit: cover;
  width: 250px;
}

.overlap-group29-1 {
  align-items: flex-end;
  background-image: url(/img/union-17@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 57px;
  min-height: 403px;
  padding: 53px 109.6px;
  width: 429px;
}

.off-white-box {
  align-self: center;
  height: 19px;
  margin-left: 3.89px;
  width: 199px;
}

.image-47 {
  height: 206px;
  margin-top: 70px;
  object-fit: cover;
  width: 206px;
}

.overlap-group10-4 {
  align-items: flex-end;
  background-image: url(/img/union-17@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  min-height: 403px;
  padding: 47px 32.6px;
  width: 429px;
}

.text-7 {
  height: 31px;
  letter-spacing: 0.96px;
  min-width: 357px;
  text-align: center;
}

.image-56 {
  align-self: center;
  height: 232px;
  margin-right: 4.11px;
  margin-top: 37px;
  object-fit: cover;
  width: 232px;
}

.flex-col-19 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 23px;
  min-height: 1575px;
  width: 429px;
}

.overlap-group9-6 {
  align-items: flex-end;
  background-image: url(/img/union-17@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 403px;
  padding: 47px 101.6px;
  width: 429px;
}

.nike-luxury-box {
  height: 31px;
  letter-spacing: 0.96px;
  min-width: 219px;
  text-align: center;
}

.offcl-boxnike5-5 {
  height: 222px;
  margin-right: 1.0px;
  margin-top: 47px;
  object-fit: cover;
  width: 218px;
}

.overlap-group11-3 {
  align-items: flex-end;
  background-image: url(/img/union-17@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 57px;
  min-height: 403px;
  padding: 52px 97.6px;
  width: 429px;
}

.hype-mix {
  align-self: center;
  height: 19px;
  margin-left: 4.89px;
  margin-top: 1px;
  width: 115px;
}

.image-48 {
  height: 229px;
  margin-top: 50px;
  object-fit: cover;
  width: 229px;
}

.overlap-group23-1 {
  align-items: flex-end;
  background-image: url(/img/union-17@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  min-height: 403px;
  padding: 45px 85.6px;
  width: 429px;
}

.yeezy-box {
  align-self: center;
  height: 31px;
  letter-spacing: 0.96px;
  margin-left: 5.89px;
  margin-top: 2px;
  min-width: 136px;
  text-align: center;
}

.image-61 {
  height: 243px;
  margin-top: 37px;
  object-fit: cover;
  width: 253px;
}

.flex-col-20 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 19px;
  margin-top: -9px;
  min-height: 1575px;
  width: 429px;
}

.overlap-group15 {
  align-items: flex-start;
  background-image: url(/img/union-17@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 403px;
  padding: 47px 92.4px;
  width: 429px;
}

.kaws-box {
  align-self: center;
  height: 31px;
  letter-spacing: 0.96px;
  margin-left: 5.89px;
  min-width: 128px;
  text-align: center;
}

.offcl-kaws-5 {
  height: 238px;
  margin-top: 39px;
  object-fit: cover;
  width: 240px;
}

.overlap-group14 {
  align-items: flex-end;
  background-image: url(/img/union-17@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 57px;
  min-height: 403px;
  padding: 45px 92.6px;
  width: 429px;
}

.kith-box {
  align-self: center;
  height: 19px;
  margin-left: 4.89px;
  margin-top: 8px;
  width: 113px;
}

.image-49 {
  height: 240px;
  margin-top: 46px;
  object-fit: cover;
  width: 240px;
}

.overlap-group7-4 {
  align-items: flex-end;
  background-image: url(/img/union-17@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  min-height: 403px;
  padding: 45px 68.6px;
  width: 429px;
}

.p-alace-box {
  height: 31px;
  letter-spacing: 0.96px;
  margin-right: 67.0px;
  margin-top: 2px;
  min-width: 151px;
  text-align: center;
}

.image-57 {
  height: 244px;
  margin-top: 36px;
  object-fit: cover;
  width: 244px;
}

