.home-limited-box-2 {
  align-items: flex-start;
  background-color: var(--ebony);
  display: flex;
  flex-direction: column;
  height: 1739px;
  padding: 43px 29px;
  width: 1891px;
}

.flex-row-43 {
  align-items: center;
  display: flex;
  min-width: 1787px;
}

.overlap-group5-8 {
  height: 118px;
  position: relative;
  width: 999px;
}

.hypexlogoedited-removebg-1-2 {
  height: 118px;
  left: 0;
  position: absolute;
  top: 0;
  width: 125px;
}

.stake-2 {
  height: 57px;
  left: 865px;
  letter-spacing: 0;
  line-height: 37.5px;
  position: absolute;
  top: 23px;
  width: 134px;
}

.fragment-factory-4 {
  height: 57px;
  left: 112px;
  letter-spacing: 0;
  line-height: 37.5px;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 331px;
}

.nft-moorph-2 {
  height: 57px;
  left: 363px;
  letter-spacing: 0;
  line-height: 37.5px;
  position: absolute;
  text-align: center;
  top: 23px;
  width: 331px;
}

.nft-forge-2 {
  height: 57px;
  left: 569px;
  letter-spacing: 0;
  line-height: 37.5px;
  position: absolute;
  text-align: center;
  top: 24px;
  width: 331px;
}

.loan-2 {
  height: 57px;
  letter-spacing: 0;
  line-height: 37.5px;
  margin-bottom: 13.0px;
  margin-left: 5px;
  width: 134px;
}

.overlap-group4-9 {
  border-radius: 36.5px;
  height: 73px;
  margin-bottom: 13.0px;
  margin-left: 502px;
  position: relative;
  width: 73px;
}

.profile-pic-9 {
  height: 53px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 53px;
}

.ellipse-40-2 {
  border-radius: 34.5px;
  height: 69px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 69px;
}

.ellipse-42-2 {
  border-radius: 36.5px;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.ellipse-41-2 {
  border-radius: 30.5px;
  height: 61px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 61px;
}

.ellipse-43-2 {
  border-radius: 36.5px;
  cursor: pointer;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.shoppingbag-2 {
  height: 45px;
  margin-bottom: 17.0px;
  margin-left: 29px;
  width: 45px;
}

.flex-col-23 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: 12.0px;
  margin-top: 56px;
  min-height: 1444px;
  width: 1797px;
}

.overlap-group7-1 {
  height: 461px;
  position: relative;
  width: 1797px;
}

.banner-version-2-1 {
  height: 453px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1789px;
}

.ellipse-36 {
  background-color: var(--razzle-dazzle-rose);
  border-radius: 9px;
  height: 18px;
  left: 861px;
  position: absolute;
  top: 405px;
  width: 18px;
}

.ellipse-37 {
  background-color: var(--mist-gray);
  border-radius: 9px;
  height: 18px;
  left: 884px;
  position: absolute;
  top: 405px;
  width: 18px;
}

.ellipse-38 {
  background-color: var(--mist-gray);
  border-radius: 9px;
  height: 18px;
  left: 909px;
  position: absolute;
  top: 405px;
  width: 18px;
}

.banner-version-4-1 {
  height: 452px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 1797px;
}

.overlap-group6-8 {
  height: 99px;
  margin-left: 20px;
  margin-top: 44px;
  position: relative;
  width: 1470px;
}

.limited-box {
  height: 47px;
  left: 288px;
  letter-spacing: 1.44px;
  position: absolute;
  text-align: center;
  top: 23px;
}

.nft-cards {
  height: 47px;
  left: 1234px;
  letter-spacing: 1.44px;
  position: absolute;
  text-align: center;
  top: 23px;
}

.box-trigger {
  height: 90px;
  left: 318px;
  position: absolute;
  top: 0;
  width: 564px;
}

.merchandise-trigger {
  height: 80px;
  left: 873px;
  position: absolute;
  top: 0;
  width: 597px;
}

.line-79 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 81px;
  width: 895px;
}

.flex-row-44 {
  align-items: flex-start;
  display: flex;
  height: 704px;
  margin-left: 26px;
  margin-top: 135px;
  min-width: 1186px;
}

.group-472 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 704px;
  width: 446px;
}

.picture1-1 {
  height: 40px;
  margin-left: 28px;
  object-fit: cover;
  width: 254px;
}

.drop-0-series-1 {
  height: 27px;
  letter-spacing: 0.64px;
  margin-left: 28px;
  margin-top: 20px;
  width: 159px;
}

.x30100-l-eft {
  height: 27px;
  letter-spacing: 0.64px;
  margin-left: 28px;
  width: 112px;
}

.we-chat-image20210913162426-1 {
  height: 438px;
  margin-top: 31px;
  object-fit: cover;
  width: 423px;
}

.overlap-group-9 {
  align-self: flex-end;
  height: 80px;
  margin-right: -1px;
  margin-top: 51px;
  position: relative;
  width: 428px;
}

.rectangle-48 {
  height: 80px;
  left: 203px;
  position: absolute;
  top: 0;
  width: 225px;
}

.unbox {
  height: 27px;
  left: 238px;
  letter-spacing: 1.12px;
  position: absolute;
  text-align: center;
  top: 26px;
  width: 156px;
}

.rectangle-48-1 {
  height: 79px;
  left: 0;
  position: absolute;
  top: 0;
  width: 221px;
}

.price {
  height: 27px;
  left: 50px;
  letter-spacing: 1.12px;
  position: absolute;
  text-align: center;
  top: 26px;
  width: 122px;
}

.group-471 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 208px;
  min-height: 704px;
  padding: 0 5.0px;
  width: 532px;
}

.picture1-2 {
  height: 40px;
  margin-right: 124.0px;
  object-fit: cover;
  width: 254px;
}

.overlap-group1-9 {
  align-self: flex-start;
  height: 53px;
  margin-left: 72.05px;
  margin-top: 20px;
  position: relative;
  width: 162px;
}

.x0100-l-eft {
  height: 27px;
  left: 0;
  letter-spacing: 0.64px;
  position: absolute;
  top: 26px;
  width: 101px;
}

.drop-0-series-0 {
  height: 27px;
  left: 0;
  letter-spacing: 0.64px;
  position: absolute;
  top: 0;
  width: 162px;
}

.overlap-group2-9 {
  height: 438px;
  margin-right: 10.0px;
  margin-top: 32px;
  position: relative;
  width: 512px;
}

.we-chat-image20210913162426-2 {
  height: 438px;
  left: 44px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 423px;
}

.rectangle-485 {
  background-color: var(--white);
  height: 119px;
  left: 7px;
  position: absolute;
  top: 164px;
  transform: rotate(-12.72deg);
  width: 498px;
}

.title {
  height: 70px;
  left: 66px;
  letter-spacing: 2.40px;
  position: absolute;
  text-align: center;
  top: 189px;
  width: 388px;
}

.overlap-group3-9 {
  height: 80px;
  margin-left: 32.0px;
  margin-top: 51px;
  position: relative;
  width: 428px;
}

