/* screen - box-page */

.box-page {
  align-items: flex-end;
  background-color: var(--ebony);
  display: flex;
  flex-direction: column;
  height: 1822px;
  overflow: hidden;
  width: 1920px;
}

.box-page .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: -176.0px;
  margin-top: -73px;
  min-height: 1451px;
  width: 2067px;
}

.box-page .overlap-group5 {
  height: 1365px;
  position: relative;
  width: 2067px;
}

.box-page .overlap-group1 {
  height: 1365px;
  left: 664px;
  position: absolute;
  top: 0;
  width: 1403px;
}

.box-page .offcl-boxsupreme2-1 {
  height: 1293px;
  left: 110px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1293px;
}

.box-page .profile-pic {
  height: 53px;
  left: 1010px;
  object-fit: cover;
  position: absolute;
  top: 142px;
  width: 53px;
}

.box-page .ellipse-40 {
  border-radius: 34.5px;
  height: 69px;
  left: 1002px;
  position: absolute;
  top: 134px;
  width: 69px;
}

.box-page .ellipse-42 {
  border-radius: 36.5px;
  height: 73px;
  left: 1000px;
  position: absolute;
  top: 132px;
  width: 73px;
}

.box-page .ellipse-41 {
  border-radius: 30.5px;
  height: 61px;
  left: 1006px;
  position: absolute;
  top: 138px;
  width: 61px;
}

.box-page .ellipse-43 {
  border-radius: 36.5px;
  cursor: pointer;
  height: 73px;
  left: 1000px;
  position: absolute;
  top: 132px;
  width: 73px;
}

.box-page .rectangle-454 {
  height: 781px;
  left: 87px;
  position: absolute;
  top: 469px;
  width: 1156px;
}

.box-page .offcl-boxsupreme2-2 {
  height: 668px;
  left: 369px;
  object-fit: cover;
  position: absolute;
  top: 296px;
  width: 668px;
}

.box-page .bandana {
  height: 147px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 1201px;
  width: 157px;
}

.box-page .lv-x-supreme-badana {
  height: 26px;
  left: 95px;
  letter-spacing: 0.80px;
  position: absolute;
  text-align: center;
  top: 1153px;
}

.box-page .text-76 {
  height: 26px;
  left: 450px;
  letter-spacing: 0.80px;
  position: absolute;
  text-align: center;
  top: 1153px;
}

.box-page .tnf-hoodie {
  height: 164px;
  left: 500px;
  object-fit: cover;
  position: absolute;
  top: 1201px;
  width: 146px;
}

.box-page .box-logo {
  height: 126px;
  left: 855px;
  object-fit: cover;
  position: absolute;
  top: 1220px;
  width: 157px;
}

.box-page .text-77 {
  height: 26px;
  left: 788px;
  letter-spacing: 0.80px;
  position: absolute;
  text-align: center;
  top: 1153px;
}

.box-page .shoppingbag {
  align-items: center;
  display: flex;
  height: 45px;
  left: 1105px;
  padding: 0 7px;
  position: absolute;
  top: 144px;
  width: 45px;
}

.box-page .overlap-group4 {
  height: 39px;
  position: relative;
  width: 31px;
}

.box-page .vector {
  height: 1px;
  left: 15px;
  position: absolute;
  top: 19px;
  width: 1px;
}

.box-page .vector-1 {
  height: 39px;
  left: 0;
  position: absolute;
  top: 0;
  width: 31px;
}

.box-page .loan {
  cursor: pointer;
  height: 57px;
  left: 0;
  letter-spacing: 0;
  line-height: 31.5px;
  position: absolute;
  top: 140px;
  width: 134px;
}

.box-page .display-nf-ts {
  cursor: pointer;
  height: 49px;
  left: 159px;
  letter-spacing: 0;
  line-height: 31.5px;
  position: absolute;
  top: 144px;
  width: 309px;
}

.box-page .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 63px;
  min-height: 572px;
  position: absolute;
  top: 776px;
  width: 579px;
}

.box-page .overlap-group {
  height: 72px;
  margin-left: 72.5px;
  position: relative;
  width: 278px;
}

.box-page .union {
  cursor: pointer;
  height: 72px;
  left: 0;
  position: absolute;
  top: 0;
  width: 278px;
}

.box-page .line-70 {
  height: 26px;
  left: 7px;
  position: absolute;
  top: 8px;
  width: 35px;
}

.box-page .line-71 {
  height: 27px;
  left: 238px;
  position: absolute;
  top: 40px;
  width: 36px;
}

.box-page .line-72 {
  height: 47px;
  left: 6px;
  position: absolute;
  top: 17px;
  width: 16px;
}

.box-page .line-73 {
  height: 48px;
  left: 255px;
  position: absolute;
  top: 8px;
  width: 17px;
}

.box-page .place {
  color: var(--neon-blue);
  font-family: var(--font-family-chakra_petch);
  font-size: 24.4px;
  font-weight: 500;
  height: 35px;
  left: 67px;
  letter-spacing: 0.97px;
  position: absolute;
  text-align: center;
  top: 19px;
  width: 146px;
}

.box-page .flex-row {
  align-items: flex-start;
  display: flex;
  height: 349px;
  margin-top: 150px;
  min-width: 579px;
}

.box-page .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 336px;
  width: 274px;
}

.box-page .items-in-the-box {
  align-self: center;
  height: 36px;
  letter-spacing: 1.12px;
  margin-left: 2.0px;
  min-width: 259px;
  text-align: center;
}

.box-page .line-106 {
  height: 19px;
  margin-top: 7px;
  width: 274px;
}

.box-page .text-74 {
  height: 52px;
  letter-spacing: 0.80px;
  margin-left: 0.5px;
  margin-top: 92px;
  text-align: center;
  width: 187px;
}

.box-page .lv-card-holder {
  cursor: pointer;
  height: 101px;
  margin-left: 14.5px;
  margin-top: 28px;
  object-fit: cover;
  width: 157px;
}

.box-page .flex-col-3 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 57px;
  min-height: 194px;
  width: 248px;
}

.box-page .text-75 {
  height: 26px;
  letter-spacing: 0.80px;
  min-width: 248px;
  text-align: center;
}

.box-page .tnf-jacket {
  height: 148px;
  margin-right: 1.0px;
  margin-top: 20px;
  object-fit: cover;
  width: 157px;
}

.box-page .text-82 {
  color: var(--white);
  font-family: var(--font-family-chakra_petch);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  left: 143px;
  letter-spacing: 0.96px;
  line-height: 39.4px;
  position: absolute;
  top: 646px;
  width: 544px;
}

.box-page .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 480px;
  position: absolute;
  top: 116px;
  width: 648px;
}

.box-page .flex-row-1 {
  align-items: center;
  display: flex;
  min-width: 623px;
}

.box-page .overlap-group3 {
  height: 118px;
  position: relative;
  width: 443px;
}

.box-page .hypexlogoedited-removebg-1 {
  cursor: pointer;
  height: 118px;
  left: 0;
  position: absolute;
  top: 0;
  width: 125px;
}

.box-page .fragment-factory {
  cursor: pointer;
  height: 57px;
  left: 112px;
  letter-spacing: 0;
  line-height: 31.5px;
  position: absolute;
  text-align: center;
  top: 24px;
  width: 331px;
}

.box-page .stake {
  cursor: pointer;
  height: 57px;
  letter-spacing: 0;
  line-height: 31.5px;
  margin-bottom: 13.0px;
  margin-left: 46px;
  width: 134px;
}

.box-page .overlap-group2 {
  align-self: flex-end;
  height: 209px;
  margin-top: 153px;
  position: relative;
  width: 505px;
}

.box-page .image-62 {
  height: 165px;
  left: 0;
  position: absolute;
  top: 0;
  width: 505px;
}

.box-page .image-7-1 {
  height: 61px;
  left: 224px;
  object-fit: cover;
  position: absolute;
  top: 148px;
  width: 273px;
}

.box-page .flex-row-2 {
  align-items: flex-start;
  display: flex;
  margin-left: 113px;
  margin-top: 21px;
  min-width: 1529px;
}

.box-page .price {
  height: 31px;
  letter-spacing: 0.96px;
  min-width: 86px;
  text-align: center;
}

.box-page .price-1 {
  height: 31px;
  letter-spacing: 0.96px;
  margin-left: 278px;
  min-width: 82px;
  text-align: center;
}

.box-page .price-2 {
  height: 31px;
  letter-spacing: 0.96px;
  margin-left: 286px;
  min-width: 66px;
  text-align: center;
}

.box-page .price-3 {
  height: 31px;
  letter-spacing: 0.96px;
  margin-left: 286px;
  min-width: 82px;
  text-align: center;
}

.box-page .price-4 {
  height: 31px;
  letter-spacing: 0.96px;
  margin-left: 276px;
  min-width: 87px;
  text-align: center;
}

.box-page .flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 30px;
  margin-left: 64px;
  margin-top: 4px;
  min-width: 1627px;
}

.box-page .probability-012 {
  height: 23px;
  letter-spacing: 0.72px;
  min-width: 185px;
  text-align: center;
}

.box-page .span {
  letter-spacing: 0.13px;
}

.box-page .probability-1 {
  height: 23px;
  letter-spacing: 0.72px;
  margin-left: 190px;
  min-width: 158px;
  text-align: center;
}

.box-page .probability-089 {
  height: 23px;
  letter-spacing: 0.72px;
  margin-left: 185px;
  min-width: 192px;
  text-align: center;
}

.box-page .probability-139 {
  align-self: flex-end;
  height: 23px;
  letter-spacing: 0.72px;
  margin-left: 171px;
  min-width: 187px;
  text-align: center;
}

.box-page .probability-019 {
  height: 23px;
  letter-spacing: 0.72px;
  margin-left: 173px;
  margin-top: 1px;
  min-width: 186px;
  text-align: center;
}

.box-page .flex-row-4 {
  align-items: center;
  align-self: center;
  display: flex;
  height: 311px;
  margin-right: 94.0px;
  margin-top: 89px;
  min-width: 1642px;
}

.box-page .flex-col-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 6.0px;
  min-height: 291px;
  width: 187px;
}

.box-page .text-78 {
  height: 52px;
  letter-spacing: 0.80px;
  text-align: center;
  width: 187px;
}

.box-page .image-69 {
  height: 147px;
  margin-right: 4.0px;
  margin-top: 14px;
  object-fit: cover;
  width: 159px;
}

.box-page .price-5 {
  height: 31px;
  letter-spacing: 0.96px;
  margin-right: 1.0px;
  margin-top: 20px;
  min-width: 64px;
  text-align: center;
}

.box-page .probability-451 {
  height: 23px;
  letter-spacing: 0.72px;
  margin-right: 1.0px;
  margin-top: 4px;
  min-width: 186px;
  text-align: center;
}

.box-page .flex-col-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 166px;
  min-height: 311px;
  width: 1289px;
}

.box-page .flex-row-5 {
  align-items: center;
  display: flex;
  min-width: 1289px;
}

.box-page .text-79 {
  height: 52px;
  letter-spacing: 0.80px;
  min-width: 204px;
  text-align: center;
}

.box-page .text-80 {
  height: 52px;
  letter-spacing: 0.80px;
  margin-left: 182px;
  min-width: 153px;
  text-align: center;
}

.box-page .text-81 {
  height: 26px;
  letter-spacing: 0.80px;
  margin-left: 152px;
  min-width: 263px;
  text-align: center;
}

.box-page .supreme-backpack {
  height: 26px;
  letter-spacing: 0.80px;
  margin-left: 122px;
  min-width: 213px;
  text-align: center;
}

.box-page .flex-row-6 {
  align-items: center;
  display: flex;
  margin-left: 19.0px;
  margin-top: 3px;
  min-width: 1238px;
}

.box-page .image-65 {
  height: 148px;
  margin-top: 1.0px;
  object-fit: cover;
  width: 133px;
}

.box-page .image-66 {
  height: 158px;
  margin-left: 212px;
  margin-top: 1.0px;
  object-fit: cover;
  width: 156px;
}

.box-page .image-67 {
  height: 177px;
  margin-left: 213px;
  object-fit: cover;
  width: 146px;
}

.box-page .image-68 {
  height: 167px;
  margin-bottom: 2.0px;
  margin-left: 207px;
  object-fit: cover;
  width: 171px;
}

.box-page .flex-row-7 {
  align-items: flex-start;
  display: flex;
  margin-right: 3.0px;
  margin-top: 14px;
  min-width: 1142px;
}

.box-page .price-6 {
  height: 31px;
  letter-spacing: 0.96px;
  min-width: 60px;
  text-align: center;
}

.box-page .price-7 {
  height: 31px;
  letter-spacing: 0.96px;
  margin-left: 298px;
  min-width: 65px;
  text-align: center;
}

.box-page .price-8 {
  height: 31px;
  letter-spacing: 0.96px;
  margin-left: 295px;
  min-width: 64px;
  text-align: center;
}

.box-page .price-9 {
  height: 31px;
  letter-spacing: 0.96px;
  margin-left: 296px;
  min-width: 64px;
  text-align: center;
}

.box-page .flex-row-8 {
  align-items: flex-start;
  display: flex;
  height: 30px;
  margin-right: 5.0px;
  margin-top: 4px;
  min-width: 1266px;
}

.box-page .probability-091 {
  height: 23px;
  letter-spacing: 0.72px;
  min-width: 187px;
  text-align: center;
}

.box-page .probability-242 {
  height: 23px;
  letter-spacing: 0.72px;
  margin-left: 172px;
  min-width: 189px;
  text-align: center;
}

.box-page .probability-315 {
  align-self: flex-end;
  height: 23px;
  letter-spacing: 0.72px;
  margin-left: 173px;
  min-width: 185px;
  text-align: center;
}

.box-page .probability-419 {
  height: 23px;
  letter-spacing: 0.72px;
  margin-left: 175px;
  margin-top: 1px;
  min-width: 185px;
  text-align: center;
}
