/* screen - box-purchasing */

.box-purchasing {
  align-items: flex-start;
  background-image: url(../img/rectangle-409@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 582px;
  min-width: 719px;
  padding: 0 11px;
}

#overlay-box-purchasing {
  background-color: transparent;
}

.overlay .box-purchasing {
  background-color: #00000000;
}

.box-purchasing .overlap-group {
  height: 239px;
  margin-top: 6.0px;
  position: relative;
  width: 88px;
}

.box-purchasing .line-75 {
  height: 111px;
  left: 0;
  position: absolute;
  top: 0;
  width: 88px;
}

.box-purchasing .line-76 {
  height: 129px;
  left: 0;
  position: absolute;
  top: 110px;
  width: 2px;
}

.box-purchasing .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 82px;
  margin-top: 33px;
  min-height: 518px;
  width: 359px;
}

.box-purchasing .text-69 {
  letter-spacing: 0;
  line-height: 52.5px;
  min-height: 94px;
  text-align: center;
  width: 359px;
}

.box-purchasing .image-6-2 {
  height: 48px;
  margin-right: 2.0px;
  margin-top: 46px;
  object-fit: cover;
  width: 249px;
}

.box-purchasing .overlap-group1 {
  height: 239px;
  margin-right: 4.0px;
  position: relative;
  width: 227px;
}

.box-purchasing .image-7-1 {
  height: 31px;
  left: 44px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 139px;
}

.box-purchasing .offcl-boxsupreme2-1 {
  height: 227px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 227px;
}

.box-purchasing .overlap-group2 {
  align-items: flex-end;
  align-self: flex-end;
  background-image: url(../img/group-458@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 83px;
  margin-right: 5.97px;
  margin-top: 7px;
  min-width: 319px;
  padding: 15.5px 61.0px;
}

.box-purchasing .open {
  height: 40px;
  letter-spacing: 0;
  line-height: 45px;
  text-align: center;
  white-space: nowrap;
  width: 168px;
}

.box-purchasing .close {
  align-items: flex-start;
  display: flex;
  height: 34px;
  margin-left: 114px;
  margin-top: 37px;
  padding: 7.0px;
  width: 34px;
}

.box-purchasing .overlap-group3 {
  height: 20px;
  position: relative;
  width: 20px;
}

.box-purchasing .vector {
  height: 1px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 1px;
}

.box-purchasing .vector-1 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}
