/* screen - forge-page */

.forge-page {
  align-items: flex-end;
  background-color: var(--ebony);
  display: flex;
  flex-direction: column;
  height: 1080px;
  overflow: hidden;
  padding: 43px 0;
  width: 1920px;
}

.forge-page .flex-row {
  align-items: center;
  align-self: center;
  display: flex;
  margin-right: 48.0px;
  min-width: 1814px;
}

.forge-page .overlap-group-1 {
  height: 118px;
  position: relative;
  width: 443px;
}

.forge-page .hypexlogoedited-removebg-1 {
  cursor: pointer;
  height: 118px;
  left: 0;
  position: absolute;
  top: 0;
  width: 125px;
}

.forge-page .fragment-factory {
  cursor: pointer;
  height: 57px;
  left: 112px;
  letter-spacing: 0;
  line-height: 31.5px;
  position: absolute;
  text-align: center;
  top: 24px;
  width: 331px;
}

.forge-page .stake {
  cursor: pointer;
  height: 57px;
  letter-spacing: 0;
  line-height: 31.5px;
  margin-bottom: 13.0px;
  margin-left: 16px;
  width: 134px;
}

.forge-page .loan {
  cursor: pointer;
  height: 57px;
  letter-spacing: 0;
  line-height: 31.5px;
  margin-bottom: 13.0px;
  margin-left: 71px;
  width: 134px;
}

.forge-page .display-nf-ts {
  cursor: pointer;
  height: 49px;
  letter-spacing: 0;
  line-height: 31.5px;
  margin-bottom: 13.0px;
  margin-left: 25px;
  width: 309px;
}

.forge-page .overlap-group3 {
  border-radius: 36.5px;
  height: 73px;
  margin-bottom: 13.0px;
  margin-left: 532px;
  position: relative;
  width: 73px;
}

.forge-page .profile-pic {
  height: 53px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 53px;
}

.forge-page .ellipse-40 {
  border-radius: 34.5px;
  height: 69px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 69px;
}

.forge-page .ellipse-42 {
  border-radius: 36.5px;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.forge-page .ellipse-41 {
  border-radius: 30.5px;
  height: 61px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 61px;
}

.forge-page .ellipse-43 {
  border-radius: 36.5px;
  cursor: pointer;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.forge-page .shoppingbag {
  align-items: center;
  display: flex;
  height: 45px;
  margin-bottom: 17.0px;
  margin-left: 32px;
  padding: 0 7px;
  width: 45px;
}

.forge-page .overlap-group9 {
  height: 39px;
  position: relative;
  width: 31px;
}

.forge-page .vector {
  height: 1px;
  left: 15px;
  position: absolute;
  top: 19px;
  width: 1px;
}

.forge-page .vector-1 {
  height: 39px;
  left: 0;
  position: absolute;
  top: 0;
  width: 31px;
}

.forge-page .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 803px;
  margin-right: -10.0px;
  margin-top: 31px;
  min-width: 1431px;
}

.forge-page .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 803px;
  width: 862px;
}

.forge-page .overlap-group1 {
  height: 415px;
  position: relative;
  width: 862px;
}

.forge-page .air-jordan-fragment {
  height: 45px;
  left: 241px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: center;
  top: 370px;
  white-space: nowrap;
  width: 371px;
}

.forge-page .forging-factory {
  height: 45px;
  left: 293px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.forge-page .arrowforwardios {
  align-items: flex-end;
  display: flex;
  height: 46px;
  left: 816px;
  padding: 3.0px 10.9px;
  position: absolute;
  top: 180px;
  width: 46px;
}

.forge-page .overlap-group {
  height: 40px;
  position: relative;
  width: 24px;
}

.forge-page .vector-2 {
  height: 1px;
  left: 12px;
  position: absolute;
  top: 20px;
  width: 1px;
}

.forge-page .vector-3 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.forge-page .arrowforwardios-1 {
  align-items: center;
  display: flex;
  height: 46px;
  left: 0;
  padding: 0 10.9px;
  position: absolute;
  top: 180px;
  transform: rotate(180deg);
  width: 46px;
}

.forge-page .vector-4 {
  height: 1px;
  left: 12px;
  position: absolute;
  top: 20px;
  transform: rotate(-180deg);
  width: 1px;
}

.forge-page .vector-5 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 24px;
}

.forge-page .x1-2 {
  height: 359px;
  left: 291px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 280px;
}

.forge-page .lv3-2 {
  height: 176px;
  left: 534px;
  object-fit: cover;
  position: absolute;
  top: 114px;
  width: 305px;
}

.forge-page .yeezy-2 {
  height: 206px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 99px;
  width: 309px;
}

.forge-page .x60-success-rate {
  color: transparent;
  font-family: var(--font-family-chakra_petch);
  font-size: 19px;
  letter-spacing: 0;
  line-height: 28.5px;
  margin-right: 9.0px;
  margin-top: 22px;
  min-height: 29px;
  text-align: center;
  white-space: nowrap;
  width: 219px;
}

.forge-page .span {
  color: var(--neon-blue);
}

.forge-page .overlap-group5 {
  height: 82px;
  margin-right: 1.0px;
  margin-top: 83px;
  position: relative;
  width: 319px;
}

.forge-page .forge {
  height: 40px;
  left: 77px;
  letter-spacing: 1.12px;
  position: absolute;
  text-align: center;
  top: 21px;
  width: 168px;
}

.forge-page .union {
  height: 82px;
  left: 0;
  position: absolute;
  top: 0;
  width: 319px;
}

.forge-page .line-70 {
  height: 30px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 42px;
}

.forge-page .line-71 {
  height: 30px;
  left: 273px;
  position: absolute;
  top: 46px;
  width: 40px;
}

.forge-page .line-72 {
  height: 53px;
  left: 7px;
  position: absolute;
  top: 19px;
  width: 18px;
}

.forge-page .line-73 {
  height: 53px;
  left: 294px;
  position: absolute;
  top: 10px;
  width: 18px;
}

.forge-page .flex-row-2 {
  align-items: center;
  display: flex;
  height: 157px;
  margin-right: 29.0px;
  margin-top: 15px;
  min-width: 211px;
}

.forge-page .rectangle-3 {
  height: 16px;
  margin-top: 65.0px;
  width: 16px;
}

.forge-page .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  min-height: 157px;
  width: 188px;
}

.forge-page .cost-40-hxc {
  color: transparent;
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 2px;
  min-height: 36px;
  text-align: center;
  white-space: nowrap;
  width: 181px;
}

.forge-page .span-2 {
  color: var(--white);
}

.forge-page .overlap-group2 {
  height: 75px;
  margin-top: 46px;
  position: relative;
  width: 188px;
}

.forge-page .union-1 {
  height: 54px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 187px;
}

.forge-page .cost-20-hxc {
  color: transparent;
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-s);
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 51px;
  white-space: nowrap;
  width: 181px;
}

.forge-page .insurance {
  color: var(--white);
  font-family: var(--font-family-roboto_mono);
  font-size: var(--font-size-s);
  font-weight: 500;
  height: 21px;
  left: 48px;
  letter-spacing: 0.64px;
  position: absolute;
  text-align: center;
  top: 17px;
}

.forge-page .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 176px;
  margin-top: 4px;
  min-height: 222px;
  width: 393px;
}

.forge-page .flex-row-3 {
  align-items: center;
  display: flex;
  margin-left: 4px;
  min-width: 344px;
}

.forge-page .frame-26 {
  align-items: flex-start;
  display: flex;
  min-width: 58px;
  transform: rotate(180deg);
}

.forge-page .overlap-group10 {
  height: 58px;
  position: relative;
  width: 58px;
}

.forge-page .vector-6 {
  height: 58px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 58px;
}

.forge-page .vector-7 {
  height: 8px;
  left: 18px;
  position: absolute;
  top: 35px;
  transform: rotate(-180deg);
  width: 11px;
}

.forge-page .vector-8 {
  height: 4px;
  left: 30px;
  position: absolute;
  top: 42px;
  transform: rotate(-180deg);
  width: 5px;
}

.forge-page .vector-9 {
  height: 8px;
  left: 32px;
  position: absolute;
  top: 19px;
  transform: rotate(-180deg);
  width: 8px;
}

.forge-page .text-4 {
  color: var(--white);
  font-family: var(--font-family-chakra_petch);
  font-size: var(--font-size-m);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 27px;
  margin-left: 18px;
  margin-top: 1.0px;
  min-height: 53px;
  width: 268px;
}

.forge-page .overlap-group4 {
  height: 25px;
  margin-left: 4px;
  margin-top: 19px;
  position: relative;
  width: 389px;
}

.forge-page .buy-button {
  background-color: #27365b;
  height: 13px;
  left: 1px;
  position: absolute;
  top: 5px;
  width: 221px;
}

.forge-page .x30-hxc {
  color: var(--white);
  font-family: var(--font-family-chakra_petch);
  font-size: var(--font-size-s);
  left: 170px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: 219px;
}

.forge-page .buy-button-1 {
  background-color: var(--neon-blue);
  height: 13px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 170px;
}

.forge-page .group-461 {
  align-items: center;
  background-color: var(--neon-blue);
  border-radius: 12.5px;
  display: flex;
  height: 25px;
  left: 209px;
  padding: 0 4px;
  position: absolute;
  top: 0;
}

.forge-page .icons8-hammer-90-1-1 {
  height: 15px;
  object-fit: cover;
  width: 16px;
}

.forge-page .x80-durability {
  color: transparent;
  font-family: var(--font-family-chakra_petch);
  font-size: var(--font-size-s);
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 4px;
  margin-top: 2px;
  min-height: 24px;
  white-space: nowrap;
}

.forge-page .overlap-group6 {
  align-items: flex-end;
  background-image: url(../img/union-16@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 46px;
  margin-top: 19px;
  min-width: 179px;
  padding: 13px 29px;
}

.forge-page .upgrade-to-lv2 {
  height: 18px;
  letter-spacing: 0.56px;
  min-width: 120px;
  text-align: center;
}

.forge-page .text-5 {
  letter-spacing: 0;
  line-height: 21px;
  margin-left: 5px;
  margin-top: 8px;
  min-height: 21px;
  white-space: nowrap;
}
