/* screen - melt-page-2 */

.melt-page-2 {
  background-color: #0d0d2b;
  height: 1080px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.melt-page-2 .lv-cardholder-C61RwL {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/lv-cardholder@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 97px;
  left: 1143px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 385px;
  width: 149px;
}

.melt-page-2 .text-10-C61RwL {
  --z-index: 1;
  background-color: transparent;
  color: transparent;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 797px;
  letter-spacing: 0.00px;
  line-height: 28.5px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 663px;
  white-space: nowrap;
  width: 257px;
}

.melt-page-2 .span0-x6xQfW {
  color: #ffffff;
  font-style: normal;
}

.melt-page-2 .span1-x6xQfW {
  color: #f337f8;
  font-style: normal;
}

.melt-page-2 .span2-x6xQfW {
  color: #ffffff;
  font-style: normal;
}

.melt-page-2 .cost-40-hxc-C61RwL {
  --z-index: 2;
  background-color: transparent;
  color: transparent;
  font-family: 'Rubik', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 835px;
  letter-spacing: 0.00px;
  line-height: 36px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 878px;
  white-space: nowrap;
  width: 181px;
}

.melt-page-2 .span0-gJx3qb {
  color: #ffffff;
  font-style: normal;
}

.melt-page-2 .span1-gJx3qb {
  color: #f337f8;
  font-style: normal;
}

.melt-page-2 .span2-gJx3qb {
  color: #ffffff;
  font-style: normal;
}

.melt-page-2 .x60-success-rate-C61RwL {
  --z-index: 3;
  background-color: transparent;
  color: transparent;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 816px;
  letter-spacing: 0.00px;
  line-height: 28.5px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 716px;
  white-space: nowrap;
  width: 219px;
}

.melt-page-2 .span0-wKC8PR {
  color: #f337f8;
  font-style: normal;
}

.melt-page-2 .span1-wKC8PR {
  color: #ffffff;
  font-style: normal;
}

.melt-page-2 .supreme-jacket-C61RwL {
  --z-index: 4;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  height: 45px;
  left: 740px;
  letter-spacing: 0.00px;
  line-height: 45px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 602px;
  white-space: nowrap;
  width: 371px;
}

.melt-page-2 .arrowforwardios-C61RwL {
  --z-index: 5;
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 1413px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 422px;
  width: 46px;
}

.melt-page-2 .vector-BYlxQl {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/vector@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 23px;
  opacity: 1;
  position: absolute;
  top: 23px;
  width: 1px;
}

.melt-page-2 .vector-iaS7L9 {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/vector-63@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 11px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 24px;
}

.melt-page-2 .arrowforwardios-VMr6Om {
  --z-index: 6;
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 427px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 422px;
  transform: rotate(180deg);
  width: 46px;
}

.melt-page-2 .vector-ml0PrH {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/vector@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 23px;
  opacity: 1;
  position: absolute;
  top: 23px;
  transform: rotate(-180deg);
  width: 1px;
}

.melt-page-2 .vector-5yhF8M {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/vector-65@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 11px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3px;
  transform: rotate(-180deg);
  width: 24px;
}

.melt-page-2 .melt-C61RwL {
  --z-index: 7;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  height: 40px;
  left: 847px;
  letter-spacing: 1.12px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 802px;
  width: 168px;
}

.melt-page-2 .union-C61RwL {
  --z-index: 8;
  background-color: transparent;
  background-image: url(../img/union-30@2x.svg);
  background-size: 100% 100%;
  height: 83px;
  left: 770px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 781px;
  width: 319px;
}

.melt-page-2 .file1601074863016-2-C61RwL {
  --z-index: 9;
  background-color: transparent;
  background-image: url(../img/file-1601074863016-2@2x.png);
  background-size: 100% 100%;
  height: 332px;
  left: 753px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 268px;
  width: 341px;
}

.melt-page-2 .line-70-C61RwL {
  --z-index: 10;
  background-color: transparent;
  background-image: url(../img/line-70-3@2x.svg);
  background-size: 100% 100%;
  height: 30px;
  left: 778px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 789px;
  width: 42px;
}

.melt-page-2 .line-71-C61RwL {
  --z-index: 11;
  background-color: transparent;
  background-image: url(../img/line-71-3@2x.svg);
  background-size: 100% 100%;
  height: 30px;
  left: 1043px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 827px;
  width: 40px;
}

.melt-page-2 .line-72-C61RwL {
  --z-index: 12;
  background-color: transparent;
  background-image: url(../img/line-72-3@2x.svg);
  background-size: 100% 100%;
  height: 53px;
  left: 777px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 800px;
  width: 18px;
}

.melt-page-2 .line-73-C61RwL {
  --z-index: 13;
  background-color: transparent;
  background-image: url(../img/line-73-3@2x.svg);
  background-size: 100% 100%;
  height: 53px;
  left: 1064px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 791px;
  width: 18px;
}

.melt-page-2 .hypexlogoedited-removebg-1-C61RwL {
  --z-index: 14;
  background-color: transparent;
  background-image: url(../img/hype-x-logo-edited-removebg-1@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 118px;
  left: 29px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 43px;
  width: 125px;
}

.melt-page-2 .file1601074600362-3-C61RwL {
  --z-index: 15;
  background-color: transparent;
  background-image: url(../img/file-1601074600362-3@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 121px;
  left: 550px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 373px;
  width: 190px;
}

.melt-page-2 .text-11-C61RwL {
  --z-index: 16;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  height: 45px;
  left: 751px;
  letter-spacing: 0.00px;
  line-height: 45px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 202px;
  white-space: nowrap;
  width: auto;
}

.melt-page-2 .shoppingbag-C61RwL {
  --z-index: 17;
  background-color: transparent;
  height: 45px;
  left: 1798px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 71px;
  width: 45px;
}

.melt-page-2 .group-8lr9ZM {
  --z-index: 0;
  background-color: transparent;
  height: 45px;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 45px;
}

.melt-page-2 .vector-3gaxZS {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/vector@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 22px;
  opacity: 1;
  position: absolute;
  top: 22px;
  width: 1px;
}

.melt-page-2 .vector-pPZxls {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/vector-11@2x.svg);
  background-size: 100% 100%;
  height: 39px;
  left: 7px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 31px;
}

.melt-page-2 .stake-C61RwL {
  --z-index: 18;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  height: 57px;
  left: 518px;
  letter-spacing: 0.00px;
  line-height: 31.5px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 67px;
  width: 134px;
}

.melt-page-2 .fragment-factory-C61RwL {
  --z-index: 19;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  height: 57px;
  left: 141px;
  letter-spacing: 0.00px;
  line-height: 31.5px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 67px;
  width: 331px;
}

.melt-page-2 .loan-C61RwL {
  --z-index: 20;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  height: 57px;
  left: 693px;
  letter-spacing: 0.00px;
  line-height: 31.5px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 67px;
  width: 134px;
}

.melt-page-2 .display-nf-ts-C61RwL {
  --z-index: 21;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  height: 49px;
  left: 852px;
  letter-spacing: 0.00px;
  line-height: 31.5px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 71px;
  width: 309px;
}

.melt-page-2 .buy-button-C61RwL {
  --z-index: 22;
  background-color: #27365b;
  height: 13px;
  left: 1542px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 289px;
  width: 221px;
}

.melt-page-2 .union-VMr6Om {
  --z-index: 23;
  background-color: transparent;
  background-image: url(../img/union-31@2x.svg);
  background-size: 100% 100%;
  height: 54px;
  left: 1533px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 350px;
  width: 187px;
}

.melt-page-2 .x80-durability-C61RwL {
  --z-index: 24;
  background-color: transparent;
  color: transparent;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1541px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 311px;
  white-space: nowrap;
  width: 181px;
}

.melt-page-2 .span0-sD4hBe {
  color: #f337f8;
  font-style: normal;
}

.melt-page-2 .span1-sD4hBe {
  color: #ffffff;
  font-style: normal;
}

.melt-page-2 .text-12-C61RwL {
  --z-index: 25;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 1617px;
  letter-spacing: 0.00px;
  line-height: 27px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 210px;
  width: 268px;
}

.melt-page-2 .text-13-C61RwL {
  --z-index: 26;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 1542px;
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 408px;
  white-space: nowrap;
  width: 297px;
}

.melt-page-2 .upgrade-to-lv2-C61RwL {
  --z-index: 27;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 18px;
  left: 1566px;
  letter-spacing: 0.56px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 369px;
  width: auto;
}

.melt-page-2 .frame-25-C61RwL {
  --z-index: 28;
  background-color: transparent;
  height: 58px;
  left: 1541px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 207px;
  transform: rotate(180deg);
  width: 58px;
}

.melt-page-2 .vector-zLu1eL {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/vector-68@2x.svg);
  background-size: 100% 100%;
  height: 58px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  transform: rotate(-180deg);
  width: 58px;
}

.melt-page-2 .vector-bxkiOu {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/vector-69@2x.svg);
  background-size: 100% 100%;
  height: 8px;
  left: 18px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 35px;
  transform: rotate(-180deg);
  width: 11px;
}

.melt-page-2 .vector-ytTZ6s {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/vector-70@2x.svg);
  background-size: 100% 100%;
  height: 4px;
  left: 30px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 42px;
  transform: rotate(-180deg);
  width: 5px;
}

.melt-page-2 .vector-DSJTUJ {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/vector-71@2x.svg);
  background-size: 100% 100%;
  height: 8px;
  left: 32px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 19px;
  transform: rotate(-180deg);
  width: 8px;
}

.melt-page-2 .x30-hxc-C61RwL {
  --z-index: 29;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1702px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 285px;
  white-space: nowrap;
  width: 219px;
}

.melt-page-2 .buy-button-VMr6Om {
  --z-index: 30;
  background-color: #f337f8;
  height: 13px;
  left: 1541px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 289px;
  width: 170px;
}

.melt-page-2 .group-461-C61RwL {
  --z-index: 31;
  background-color: transparent;
  height: 25px;
  left: 1750px;
  opacity: 1;
  position: absolute;
  top: 284px;
  width: 25px;
}

.melt-page-2 .ellipse-39-RfTnrv {
  --z-index: 0;
  background-color: #f337f8;
  border-radius: 12.5px;
  height: 25px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 25px;
}

.melt-page-2 .icons8-hammer-90-1-1-RfTnrv {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/icons8-hammer-90--1--1@2x.png);
  background-size: 100% 100%;
  height: 15px;
  left: 4px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  width: 16px;
}

.melt-page-2 .profile-pic-C61RwL {
  --z-index: 32;
  background-color: transparent;
  background-image: url(../img/profile-pic@2x.png);
  background-size: 100% 100%;
  height: 53px;
  left: 1703px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 69px;
  width: 53px;
}

.melt-page-2 .ellipse-40-C61RwL {
  --z-index: 33;
  background-color: transparent;
  border: 1px solid #02d7f2;
  border-radius: 34.5px;
  height: 69px;
  left: 1695px;
  opacity: 1;
  position: absolute;
  top: 61px;
  width: 69px;
}

.melt-page-2 .ellipse-42-C61RwL {
  --z-index: 34;
  background-color: transparent;
  border: 4px solid #02d7f2;
  border-radius: 36.5px;
  height: 73px;
  left: 1693px;
  opacity: 1;
  position: absolute;
  top: 59px;
  width: 73px;
}

.melt-page-2 .ellipse-41-C61RwL {
  --z-index: 35;
  background-color: transparent;
  border: 0.8px solid #02d7f2;
  border-radius: 30.5px;
  height: 61px;
  left: 1699px;
  opacity: 1;
  position: absolute;
  top: 65px;
  width: 61px;
}

.melt-page-2 .ellipse-43-C61RwL {
  --z-index: 36;
  background-color: transparent;
  border: 0.5px solid #02d7f2;
  border-radius: 36.5px;
  cursor: pointer;
  height: 73px;
  left: 1693px;
  opacity: 1;
  position: absolute;
  top: 59px;
  width: 73px;
}
/* screen - melt-page2 */

.melt-page2 {
  background-color: #0d0d2b;
  height: 1080px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.melt-page2 .buy-button-C61RwL {
  --z-index: 0;
  background-color: #27365b;
  height: 13px;
  left: 1542px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 289px;
  width: 221px;
}

.melt-page2 .lv-cardholder-C61RwL {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/lv-cardholder-2@2x.png);
  background-size: 100% 100%;
  height: 299px;
  left: 726px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 298px;
  width: 401px;
}

.melt-page2 .text-64-C61RwL {
  --z-index: 2;
  background-color: transparent;
  color: transparent;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 797px;
  letter-spacing: 0.00px;
  line-height: 28.5px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 663px;
  white-space: nowrap;
  width: 257px;
}

.melt-page2 .span0-9FqW28 {
  color: #ffffff;
  font-style: normal;
}

.melt-page2 .span1-9FqW28 {
  color: #f337f8;
  font-style: normal;
}

.melt-page2 .span2-9FqW28 {
  color: #ffffff;
  font-style: normal;
}

.melt-page2 .cost-40-hxc-C61RwL {
  --z-index: 3;
  background-color: transparent;
  color: transparent;
  font-family: 'Rubik', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 835px;
  letter-spacing: 0.00px;
  line-height: 36px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 878px;
  white-space: nowrap;
  width: 181px;
}

.melt-page2 .span0-gJx3qb {
  color: #ffffff;
  font-style: normal;
}

.melt-page2 .span1-gJx3qb {
  color: #f337f8;
  font-style: normal;
}

.melt-page2 .span2-gJx3qb {
  color: #ffffff;
  font-style: normal;
}

.melt-page2 .x60-success-rate-C61RwL {
  --z-index: 4;
  background-color: transparent;
  color: transparent;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 816px;
  letter-spacing: 0.00px;
  line-height: 28.5px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 716px;
  white-space: nowrap;
  width: 219px;
}

.melt-page2 .span0-wKC8PR {
  color: #f337f8;
  font-style: normal;
}

.melt-page2 .span1-wKC8PR {
  color: #ffffff;
  font-style: normal;
}

.melt-page2 .supreme-cardholder-C61RwL {
  --z-index: 5;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  height: 45px;
  left: 740px;
  letter-spacing: 0.00px;
  line-height: 45px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 602px;
  white-space: nowrap;
  width: 371px;
}

.melt-page2 .text-65-C61RwL {
  --z-index: 6;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  height: 45px;
  left: 751px;
  letter-spacing: 0.00px;
  line-height: 45px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 202px;
  white-space: nowrap;
  width: auto;
}

.melt-page2 .melt-C61RwL {
  --z-index: 7;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  height: 40px;
  left: 847px;
  letter-spacing: 1.12px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 802px;
  width: 168px;
}

.melt-page2 .union-C61RwL {
  --z-index: 8;
  background-color: transparent;
  background-image: url(../img/union-30@2x.svg);
  background-size: 100% 100%;
  height: 83px;
  left: 770px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 781px;
  width: 319px;
}

.melt-page2 .file1601074600362-3-C61RwL {
  --z-index: 9;
  background-color: transparent;
  background-image: url(../img/file-1601074600362-3@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 121px;
  left: 1180px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 374px;
  width: 190px;
}

.melt-page2 .file1601074863016-2-C61RwL {
  --z-index: 10;
  background-color: transparent;
  background-image: url(../img/file-1601074863016-2-3@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 132px;
  left: 528px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 379px;
  width: 137px;
}

.melt-page2 .line-70-C61RwL {
  --z-index: 11;
  background-color: transparent;
  background-image: url(../img/line-70-5@2x.svg);
  background-size: 100% 100%;
  height: 30px;
  left: 778px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 789px;
  width: 42px;
}

.melt-page2 .line-71-C61RwL {
  --z-index: 12;
  background-color: transparent;
  background-image: url(../img/line-71-6@2x.svg);
  background-size: 100% 100%;
  height: 30px;
  left: 1043px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 827px;
  width: 40px;
}

.melt-page2 .line-72-C61RwL {
  --z-index: 13;
  background-color: transparent;
  background-image: url(../img/line-72-3@2x.svg);
  background-size: 100% 100%;
  height: 53px;
  left: 777px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 800px;
  width: 18px;
}

.melt-page2 .line-73-C61RwL {
  --z-index: 14;
  background-color: transparent;
  background-image: url(../img/line-73-3@2x.svg);
  background-size: 100% 100%;
  height: 53px;
  left: 1064px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 791px;
  width: 18px;
}

.melt-page2 .hypexlogoedited-removebg-1-C61RwL {
  --z-index: 15;
  background-color: transparent;
  background-image: url(../img/hype-x-logo-edited-removebg-1-8@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 118px;
  left: 29px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 43px;
  width: 125px;
}

.melt-page2 .vector-20-C61RwL {
  --z-index: 16;
  background-color: transparent;
  background-image: url(../img/vector-20-10@2x.svg);
  background-size: 100% 100%;
  cursor: pointer;
  height: 70px;
  left: 1409px;
  opacity: 1;
  position: absolute;
  top: 410px;
  width: 54px;
}

.melt-page2 .vector-21-C61RwL {
  --z-index: 17;
  background-color: transparent;
  background-image: url(../img/vector-21-10@2x.svg);
  background-size: 100% 100%;
  cursor: pointer;
  height: 70px;
  left: 423px;
  opacity: 1;
  position: absolute;
  top: 410px;
  width: 54px;
}

.melt-page2 .shoppingbag-C61RwL {
  --z-index: 18;
  background-color: transparent;
  height: 45px;
  left: 1798px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 71px;
  width: 45px;
}

.melt-page2 .group-8lr9ZM {
  --z-index: 0;
  background-color: transparent;
  height: 45px;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 45px;
}

.melt-page2 .vector-3gaxZS {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/vector@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 22px;
  opacity: 1;
  position: absolute;
  top: 22px;
  width: 1px;
}

.melt-page2 .vector-pPZxls {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/vector-11@2x.svg);
  background-size: 100% 100%;
  height: 39px;
  left: 7px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 31px;
}

.melt-page2 .stake-C61RwL {
  --z-index: 19;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  height: 57px;
  left: 518px;
  letter-spacing: 0.00px;
  line-height: 31.5px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 67px;
  width: 134px;
}

.melt-page2 .fragment-factory-C61RwL {
  --z-index: 20;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  height: 57px;
  left: 141px;
  letter-spacing: 0.00px;
  line-height: 31.5px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 67px;
  width: 331px;
}

.melt-page2 .loan-C61RwL {
  --z-index: 21;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  height: 57px;
  left: 693px;
  letter-spacing: 0.00px;
  line-height: 31.5px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 67px;
  width: 134px;
}

.melt-page2 .display-nf-ts-C61RwL {
  --z-index: 22;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  height: 49px;
  left: 852px;
  letter-spacing: 0.00px;
  line-height: 31.5px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 71px;
  width: 309px;
}

.melt-page2 .union-VMr6Om {
  --z-index: 23;
  background-color: transparent;
  background-image: url(../img/union-31@2x.svg);
  background-size: 100% 100%;
  height: 54px;
  left: 1533px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 350px;
  width: 187px;
}

.melt-page2 .x80-durability-C61RwL {
  --z-index: 24;
  background-color: transparent;
  color: transparent;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1541px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 311px;
  white-space: nowrap;
  width: 181px;
}

.melt-page2 .span0-sD4hBe {
  color: #f337f8;
  font-style: normal;
}

.melt-page2 .span1-sD4hBe {
  color: #ffffff;
  font-style: normal;
}

.melt-page2 .text-66-C61RwL {
  --z-index: 25;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 1617px;
  letter-spacing: 0.00px;
  line-height: 27px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 210px;
  width: 268px;
}

.melt-page2 .text-67-C61RwL {
  --z-index: 26;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 1542px;
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 408px;
  white-space: nowrap;
  width: 297px;
}

.melt-page2 .upgrade-to-lv2-C61RwL {
  --z-index: 27;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 18px;
  left: 1566px;
  letter-spacing: 0.56px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 369px;
  width: auto;
}

.melt-page2 .frame-25-C61RwL {
  --z-index: 28;
  background-color: transparent;
  height: 58px;
  left: 1541px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 207px;
  transform: rotate(180deg);
  width: 58px;
}

.melt-page2 .vector-zLu1eL {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/vector-68@2x.svg);
  background-size: 100% 100%;
  height: 58px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  transform: rotate(-180deg);
  width: 58px;
}

.melt-page2 .vector-bxkiOu {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/vector-69@2x.svg);
  background-size: 100% 100%;
  height: 8px;
  left: 18px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 35px;
  transform: rotate(-180deg);
  width: 11px;
}

.melt-page2 .vector-ytTZ6s {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/vector-70@2x.svg);
  background-size: 100% 100%;
  height: 4px;
  left: 30px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 42px;
  transform: rotate(-180deg);
  width: 5px;
}

.melt-page2 .vector-DSJTUJ {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/vector-71@2x.svg);
  background-size: 100% 100%;
  height: 8px;
  left: 32px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 19px;
  transform: rotate(-180deg);
  width: 8px;
}

.melt-page2 .x30-hxc-C61RwL {
  --z-index: 29;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1711px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 285px;
  white-space: nowrap;
  width: 219px;
}

.melt-page2 .buy-button-VMr6Om {
  --z-index: 30;
  background-color: #f337f8;
  height: 13px;
  left: 1541px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 289px;
  width: 170px;
}

.melt-page2 .group-461-C61RwL {
  --z-index: 31;
  background-color: transparent;
  height: 25px;
  left: 1750px;
  opacity: 1;
  position: absolute;
  top: 284px;
  width: 25px;
}

.melt-page2 .ellipse-39-RfTnrv {
  --z-index: 0;
  background-color: #f337f8;
  border-radius: 12.5px;
  height: 25px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 25px;
}

.melt-page2 .icons8-hammer-90-1-1-RfTnrv {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/icons8-hammer-90--1--1@2x.png);
  background-size: 100% 100%;
  height: 15px;
  left: 4px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  width: 16px;
}

.melt-page2 .profile-pic-C61RwL {
  --z-index: 32;
  background-color: transparent;
  background-image: url(../img/profile-pic@2x.png);
  background-size: 100% 100%;
  height: 53px;
  left: 1703px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 69px;
  width: 53px;
}

.melt-page2 .ellipse-40-C61RwL {
  --z-index: 33;
  background-color: transparent;
  border: 1px solid #02d7f2;
  border-radius: 34.5px;
  height: 69px;
  left: 1695px;
  opacity: 1;
  position: absolute;
  top: 61px;
  width: 69px;
}

.melt-page2 .ellipse-42-C61RwL {
  --z-index: 34;
  background-color: transparent;
  border: 4px solid #02d7f2;
  border-radius: 36.5px;
  height: 73px;
  left: 1693px;
  opacity: 1;
  position: absolute;
  top: 59px;
  width: 73px;
}

.melt-page2 .ellipse-41-C61RwL {
  --z-index: 35;
  background-color: transparent;
  border: 0.8px solid #02d7f2;
  border-radius: 30.5px;
  height: 61px;
  left: 1699px;
  opacity: 1;
  position: absolute;
  top: 65px;
  width: 61px;
}

.melt-page2 .ellipse-43-C61RwL {
  --z-index: 36;
  background-color: transparent;
  border: 0.5px solid #02d7f2;
  border-radius: 36.5px;
  cursor: pointer;
  height: 73px;
  left: 1693px;
  opacity: 1;
  position: absolute;
  top: 59px;
  width: 73px;
}
/* screen - melt-page */

.melt-page {
  background-color: #0d0d2b;
  height: 1080px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.melt-page .lv-cardholder-C61RwL {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/lv-cardholder@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 97px;
  left: 551px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 385px;
  width: 149px;
}

.melt-page .text-22-C61RwL {
  --z-index: 1;
  background-color: transparent;
  color: transparent;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 797px;
  letter-spacing: 0.00px;
  line-height: 28.5px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 663px;
  white-space: nowrap;
  width: 257px;
}

.melt-page .span0-8uDpdt {
  color: #ffffff;
  font-style: normal;
}

.melt-page .span1-8uDpdt {
  color: #f337f8;
  font-style: normal;
}

.melt-page .span2-8uDpdt {
  color: #ffffff;
  font-style: normal;
}

.melt-page .cost-40-hxc-C61RwL {
  --z-index: 2;
  background-color: transparent;
  color: transparent;
  font-family: 'Rubik', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 835px;
  letter-spacing: 0.00px;
  line-height: 36px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 878px;
  white-space: nowrap;
  width: 181px;
}

.melt-page .span0-gJx3qb {
  color: #ffffff;
  font-style: normal;
}

.melt-page .span1-gJx3qb {
  color: #f337f8;
  font-style: normal;
}

.melt-page .span2-gJx3qb {
  color: #ffffff;
  font-style: normal;
}

.melt-page .x60-success-rate-C61RwL {
  --z-index: 3;
  background-color: transparent;
  color: transparent;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 816px;
  letter-spacing: 0.00px;
  line-height: 28.5px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 716px;
  white-space: nowrap;
  width: 219px;
}

.melt-page .span0-wKC8PR {
  color: #f337f8;
  font-style: normal;
}

.melt-page .span1-wKC8PR {
  color: #ffffff;
  font-style: normal;
}

.melt-page .name-C61RwL {
  --z-index: 4;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  height: 45px;
  left: 740px;
  letter-spacing: 0.00px;
  line-height: 45px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 602px;
  white-space: nowrap;
  width: 371px;
}

.melt-page .arrowforwardios-C61RwL {
  --z-index: 5;
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 1413px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 422px;
  width: 46px;
}

.melt-page .vector-BYlxQl {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/vector@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 23px;
  opacity: 1;
  position: absolute;
  top: 23px;
  width: 1px;
}

.melt-page .vector-iaS7L9 {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/vector-123@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 11px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 24px;
}

.melt-page .arrowforwardios-VMr6Om {
  --z-index: 6;
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 427px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 422px;
  transform: rotate(180deg);
  width: 46px;
}

.melt-page .vector-ml0PrH {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/vector@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 23px;
  opacity: 1;
  position: absolute;
  top: 23px;
  transform: rotate(-180deg);
  width: 1px;
}

.melt-page .vector-5yhF8M {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/vector-125@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 11px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3px;
  transform: rotate(-180deg);
  width: 24px;
}

.melt-page .melt-C61RwL {
  --z-index: 7;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  height: 40px;
  left: 847px;
  letter-spacing: 1.12px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 802px;
  width: 168px;
}

.melt-page .union-C61RwL {
  --z-index: 8;
  background-color: transparent;
  background-image: url(../img/union-30@2x.svg);
  background-size: 100% 100%;
  height: 83px;
  left: 770px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 781px;
  width: 319px;
}

.melt-page .file1601074600362-3-C61RwL {
  --z-index: 9;
  background-color: transparent;
  background-image: url(../img/file-1601074600362-3-4@2x.png);
  background-size: 100% 100%;
  height: 251px;
  left: 765px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 295px;
  width: 346px;
}

.melt-page .file1601074863016-2-C61RwL {
  --z-index: 10;
  background-color: transparent;
  background-image: url(../img/file-1601074863016-2-3@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 132px;
  left: 1176px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 368px;
  width: 137px;
}

.melt-page .line-70-C61RwL {
  --z-index: 11;
  background-color: transparent;
  background-image: url(../img/line-70-5@2x.svg);
  background-size: 100% 100%;
  height: 30px;
  left: 778px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 789px;
  width: 42px;
}

.melt-page .line-71-C61RwL {
  --z-index: 12;
  background-color: transparent;
  background-image: url(../img/line-71-3@2x.svg);
  background-size: 100% 100%;
  height: 30px;
  left: 1043px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 827px;
  width: 40px;
}

.melt-page .line-72-C61RwL {
  --z-index: 13;
  background-color: transparent;
  background-image: url(../img/line-72-3@2x.svg);
  background-size: 100% 100%;
  height: 53px;
  left: 777px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 800px;
  width: 18px;
}

.melt-page .line-73-C61RwL {
  --z-index: 14;
  background-color: transparent;
  background-image: url(../img/line-73-3@2x.svg);
  background-size: 100% 100%;
  height: 53px;
  left: 1064px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 791px;
  width: 18px;
}

.melt-page .hypexlogoedited-removebg-1-C61RwL {
  --z-index: 15;
  background-color: transparent;
  background-image: url(../img/hype-x-logo-edited-removebg-1-8@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 118px;
  left: 29px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 43px;
  width: 125px;
}

.melt-page .text-23-C61RwL {
  --z-index: 16;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  height: 45px;
  left: 751px;
  letter-spacing: 0.00px;
  line-height: 45px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 202px;
  white-space: nowrap;
  width: auto;
}

.melt-page .shoppingbag-C61RwL {
  --z-index: 17;
  background-color: transparent;
  height: 45px;
  left: 1798px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 71px;
  width: 45px;
}

.melt-page .group-8lr9ZM {
  --z-index: 0;
  background-color: transparent;
  height: 45px;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 45px;
}

.melt-page .vector-3gaxZS {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/vector@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 22px;
  opacity: 1;
  position: absolute;
  top: 22px;
  width: 1px;
}

.melt-page .vector-pPZxls {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/vector-11@2x.svg);
  background-size: 100% 100%;
  height: 39px;
  left: 7px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 31px;
}

.melt-page .stake-C61RwL {
  --z-index: 18;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  height: 57px;
  left: 518px;
  letter-spacing: 0.00px;
  line-height: 31.5px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 67px;
  width: 134px;
}

.melt-page .fragment-factory-C61RwL {
  --z-index: 19;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  height: 57px;
  left: 141px;
  letter-spacing: 0.00px;
  line-height: 31.5px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 67px;
  width: 331px;
}

.melt-page .loan-C61RwL {
  --z-index: 20;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  height: 57px;
  left: 693px;
  letter-spacing: 0.00px;
  line-height: 31.5px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 67px;
  width: 134px;
}

.melt-page .display-nf-ts-C61RwL {
  --z-index: 21;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  height: 49px;
  left: 852px;
  letter-spacing: 0.00px;
  line-height: 31.5px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 71px;
  width: 309px;
}

.melt-page .buy-button-C61RwL {
  --z-index: 22;
  background-color: #27365b;
  height: 13px;
  left: 1542px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 289px;
  width: 221px;
}

.melt-page .union-VMr6Om {
  --z-index: 23;
  background-color: transparent;
  background-image: url(../img/union-31@2x.svg);
  background-size: 100% 100%;
  height: 54px;
  left: 1533px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 350px;
  width: 187px;
}

.melt-page .x80-durability-C61RwL {
  --z-index: 24;
  background-color: transparent;
  color: transparent;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1541px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 311px;
  white-space: nowrap;
  width: 181px;
}

.melt-page .span0-sD4hBe {
  color: #f337f8;
  font-style: normal;
}

.melt-page .span1-sD4hBe {
  color: #ffffff;
  font-style: normal;
}

.melt-page .text-24-C61RwL {
  --z-index: 25;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 1617px;
  letter-spacing: 0.00px;
  line-height: 27px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 210px;
  width: 268px;
}

.melt-page .text-25-C61RwL {
  --z-index: 26;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 1542px;
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 408px;
  white-space: nowrap;
  width: 297px;
}

.melt-page .upgrade-to-lv2-C61RwL {
  --z-index: 27;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 18px;
  left: 1566px;
  letter-spacing: 0.56px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 369px;
  width: auto;
}

.melt-page .frame-25-C61RwL {
  --z-index: 28;
  background-color: transparent;
  height: 58px;
  left: 1541px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 207px;
  transform: rotate(180deg);
  width: 58px;
}

.melt-page .vector-zLu1eL {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/vector-68@2x.svg);
  background-size: 100% 100%;
  height: 58px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  transform: rotate(-180deg);
  width: 58px;
}

.melt-page .vector-bxkiOu {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/vector-129@2x.svg);
  background-size: 100% 100%;
  height: 8px;
  left: 18px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 35px;
  transform: rotate(-180deg);
  width: 11px;
}

.melt-page .vector-ytTZ6s {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/vector-130@2x.svg);
  background-size: 100% 100%;
  height: 4px;
  left: 30px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 42px;
  transform: rotate(-180deg);
  width: 5px;
}

.melt-page .vector-DSJTUJ {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/vector-131@2x.svg);
  background-size: 100% 100%;
  height: 8px;
  left: 32px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 19px;
  transform: rotate(-180deg);
  width: 8px;
}

.melt-page .x30-hxc-C61RwL {
  --z-index: 29;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Chakra Petch', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1702px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 285px;
  white-space: nowrap;
  width: 219px;
}

.melt-page .buy-button-VMr6Om {
  --z-index: 30;
  background-color: #f337f8;
  height: 13px;
  left: 1541px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 289px;
  width: 170px;
}

.melt-page .group-461-C61RwL {
  --z-index: 31;
  background-color: transparent;
  height: 25px;
  left: 1750px;
  opacity: 1;
  position: absolute;
  top: 284px;
  width: 25px;
}

.melt-page .ellipse-39-RfTnrv {
  --z-index: 0;
  background-color: #f337f8;
  border-radius: 12.5px;
  height: 25px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 25px;
}

.melt-page .icons8-hammer-90-1-1-RfTnrv {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/icons8-hammer-90--1--1@2x.png);
  background-size: 100% 100%;
  height: 15px;
  left: 4px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  width: 16px;
}

.melt-page .profile-pic-C61RwL {
  --z-index: 32;
  background-color: transparent;
  background-image: url(../img/profile-pic@2x.png);
  background-size: 100% 100%;
  height: 53px;
  left: 1703px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 69px;
  width: 53px;
}

.melt-page .ellipse-40-C61RwL {
  --z-index: 33;
  background-color: transparent;
  border: 1px solid #02d7f2;
  border-radius: 34.5px;
  height: 69px;
  left: 1695px;
  opacity: 1;
  position: absolute;
  top: 61px;
  width: 69px;
}

.melt-page .ellipse-42-C61RwL {
  --z-index: 34;
  background-color: transparent;
  border: 4px solid #02d7f2;
  border-radius: 36.5px;
  height: 73px;
  left: 1693px;
  opacity: 1;
  position: absolute;
  top: 59px;
  width: 73px;
}

.melt-page .ellipse-41-C61RwL {
  --z-index: 35;
  background-color: transparent;
  border: 0.8px solid #02d7f2;
  border-radius: 30.5px;
  height: 61px;
  left: 1699px;
  opacity: 1;
  position: absolute;
  top: 65px;
  width: 61px;
}

.melt-page .ellipse-43-C61RwL {
  --z-index: 36;
  background-color: transparent;
  border: 0.5px solid #02d7f2;
  border-radius: 36.5px;
  cursor: pointer;
  height: 73px;
  left: 1693px;
  opacity: 1;
  position: absolute;
  top: 59px;
  width: 73px;
}
