/* screen - merchandise-page */

.merchandise-page {
  align-items: flex-start;
  background-color: var(--ebony);
  display: flex;
  flex-direction: column;
  height: 1080px;
  padding: 43px 29px;
  width: 1920px;
}

.merchandise-page .flex-row {
  align-items: center;
  display: flex;
  min-width: 1814px;
}

.merchandise-page .overlap-group {
  height: 118px;
  position: relative;
  width: 443px;
}

.merchandise-page .hypexlogoedited-removebg-1 {
  cursor: pointer;
  height: 118px;
  left: 0;
  position: absolute;
  top: 0;
  width: 125px;
}

.merchandise-page .fragment-factory {
  cursor: pointer;
  height: 57px;
  left: 112px;
  letter-spacing: 0;
  line-height: 31.5px;
  position: absolute;
  text-align: center;
  top: 24px;
  width: 331px;
}

.merchandise-page .stake {
  cursor: pointer;
  height: 57px;
  letter-spacing: 0;
  line-height: 31.5px;
  margin-bottom: 13.0px;
  margin-left: 46px;
  width: 134px;
}

.merchandise-page .loan {
  cursor: pointer;
  height: 57px;
  letter-spacing: 0;
  line-height: 31.5px;
  margin-bottom: 13.0px;
  margin-left: 41px;
  width: 134px;
}

.merchandise-page .display-nf-ts {
  cursor: pointer;
  height: 49px;
  letter-spacing: 0;
  line-height: 31.5px;
  margin-bottom: 13.0px;
  margin-left: 25px;
  width: 309px;
}

.merchandise-page .overlap-group3 {
  border-radius: 36.5px;
  height: 73px;
  margin-bottom: 13.0px;
  margin-left: 532px;
  position: relative;
  width: 73px;
}

.merchandise-page .profile-pic {
  height: 53px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 53px;
}

.merchandise-page .ellipse-40 {
  border-radius: 34.5px;
  height: 69px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 69px;
}

.merchandise-page .ellipse-42 {
  border-radius: 36.5px;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.merchandise-page .ellipse-41 {
  border-radius: 30.5px;
  height: 61px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 61px;
}

.merchandise-page .ellipse-43 {
  border-radius: 36.5px;
  cursor: pointer;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.merchandise-page .shoppingbag {
  align-items: center;
  display: flex;
  height: 45px;
  margin-bottom: 17.0px;
  margin-left: 32px;
  padding: 0 7px;
  width: 45px;
}

.merchandise-page .overlap-group7 {
  height: 39px;
  position: relative;
  width: 31px;
}

.merchandise-page .vector {
  height: 1px;
  left: 15px;
  position: absolute;
  top: 19px;
  width: 1px;
}

.merchandise-page .vector-1 {
  height: 39px;
  left: 0;
  position: absolute;
  top: 0;
  width: 31px;
}

.merchandise-page .flex-row-1 {
  align-items: center;
  align-self: center;
  display: flex;
  height: 630px;
  margin-right: 57.0px;
  margin-top: 106px;
  min-width: 1531px;
}

.merchandise-page .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 27.0px;
  min-height: 571px;
  width: 595px;
}

.merchandise-page .overlap-group4 {
  height: 69px;
  position: relative;
  width: 595px;
}

.merchandise-page .image-63 {
  height: 51px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 336px;
}

.merchandise-page .x {
  color: var(--white);
  font-family: var(--font-family-chakra_petch);
  font-size: 38px;
  font-weight: 700;
  height: 31px;
  left: 316px;
  letter-spacing: 1.52px;
  position: absolute;
  text-align: center;
  top: 19px;
  width: 77px;
}

.merchandise-page .image-62 {
  height: 69px;
  left: 383px;
  position: absolute;
  top: 0;
  width: 212px;
}

.merchandise-page .text-71 {
  height: 47px;
  letter-spacing: 0.96px;
  margin-right: 17.0px;
  margin-top: 25px;
  width: 278px;
}

.merchandise-page .lv-cardholder {
  height: 379px;
  margin-right: 10.0px;
  margin-top: 51px;
  object-fit: cover;
  width: 551px;
}

.merchandise-page .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 170px;
  min-height: 630px;
  width: 766px;
}

.merchandise-page .name {
  align-self: center;
  height: 31px;
  letter-spacing: 0.96px;
  margin-right: 36.0px;
  width: 660px;
}

.merchandise-page .text-70 {
  align-self: flex-end;
  letter-spacing: 0.72px;
  line-height: 29.5px;
  margin-top: 47px;
  min-height: 120px;
  width: 731px;
}

.merchandise-page .you-have {
  height: 60px;
  letter-spacing: 0.96px;
  margin-left: 35px;
  margin-top: 54px;
  width: 294px;
}

.merchandise-page .flex-row-2 {
  align-items: center;
  display: flex;
  margin-left: 30px;
  margin-top: 23px;
  min-width: 374px;
}

.merchandise-page .lv-cardholder-1 {
  height: 39px;
  object-fit: cover;
  width: 61px;
}

.merchandise-page .text-73 {
  height: 23px;
  letter-spacing: 0.72px;
  margin-left: 23px;
  min-width: 290px;
}

.merchandise-page .span {
  letter-spacing: 0.13px;
}

.merchandise-page .overlap-group2 {
  height: 90px;
  margin-top: 9px;
  position: relative;
  width: 288px;
}

.merchandise-page .lv-fragment {
  height: 90px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 124px;
}

.merchandise-page .lv-fragments-x10 {
  height: 23px;
  left: 114px;
  letter-spacing: 0.72px;
  position: absolute;
  top: 34px;
}

.merchandise-page .flex-row-3 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-right: 51.0px;
  margin-top: 43px;
  min-width: 655px;
}

.merchandise-page .group-459 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 303px;
}

.merchandise-page .overlap-group6 {
  height: 64px;
  position: relative;
  width: 301px;
}

.merchandise-page .group-458 {
  align-items: flex-start;
  display: flex;
  height: 64px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
}

.merchandise-page .overlap-group5 {
  height: 83px;
  margin-top: -9.44px;
  position: relative;
  width: 319px;
}

.merchandise-page .line-72 {
  height: 30px;
  left: 11px;
  position: absolute;
  top: 8px;
  width: 42px;
}

.merchandise-page .line-73 {
  height: 53px;
  left: 10px;
  position: absolute;
  top: 19px;
  width: 18px;
}

.merchandise-page .union {
  height: 83px;
  left: 0;
  position: absolute;
  top: 0;
  width: 319px;
}

.merchandise-page .line-70 {
  height: 30px;
  left: 273px;
  position: absolute;
  top: 46px;
  width: 40px;
}

.merchandise-page .line-71 {
  height: 53px;
  left: 294px;
  position: absolute;
  top: 10px;
  width: 18px;
}

.merchandise-page .melt {
  height: 40px;
  left: 68px;
  letter-spacing: 1.12px;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 168px;
}

.merchandise-page .overlap-group1 {
  height: 64px;
  margin-left: 50px;
  position: relative;
  width: 301px;
}

.merchandise-page .group-457 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 64px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
}

.merchandise-page .forge {
  cursor: pointer;
  height: 40px;
  left: 68px;
  letter-spacing: 1.12px;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 168px;
}

.merchandise-page .flex-row-4 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 29px;
  margin-right: 49.0px;
  margin-top: 20px;
  min-width: 657px;
}

.merchandise-page .text-72 {
  letter-spacing: 0;
  line-height: 28.5px;
  min-height: 29px;
  text-align: center;
  white-space: nowrap;
  width: 303px;
}

.merchandise-page .with-5-lv-fragments {
  letter-spacing: 0;
  line-height: 28.5px;
  margin-left: 51px;
  min-height: 29px;
  text-align: center;
  white-space: nowrap;
  width: 303px;
}
