/* screen - stake-success */

.stake-success {
  align-items: flex-start;
  display: flex;
  min-width: 719px;
}

#overlay-stake-success {
  background-color: transparent;
}

.overlay .stake-success {
  background-color: #00000000;
}

.stake-success .overlap-group {
  height: 582px;
  position: relative;
  width: 719px;
}

.stake-success .group-458 {
  height: 83px;
  left: 216px;
  position: absolute;
  top: 468px;
  width: 319px;
}

.stake-success .rectangle-408 {
  height: 582px;
  left: 0;
  position: absolute;
  top: 0;
  width: 719px;
}

.stake-success .text-55 {
  left: 182px;
  letter-spacing: 0;
  line-height: 52.5px;
  position: absolute;
  text-align: center;
  top: 33px;
  width: 359px;
}

.stake-success .close {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 663px;
  padding: 5.0px;
  position: absolute;
  top: 47px;
  width: 24px;
}

.stake-success .overlap-group1 {
  height: 14px;
  position: relative;
  width: 14px;
}

.stake-success .vector {
  height: 1px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 1px;
}

.stake-success .vector-1 {
  height: 14px;
  left: 0;
  position: absolute;
  top: 0;
  width: 14px;
}

.stake-success .open {
  height: 40px;
  left: 277px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: center;
  top: 495px;
  white-space: nowrap;
  width: 168px;
}

.stake-success .line-75 {
  height: 111px;
  left: 11px;
  position: absolute;
  top: 6px;
  width: 88px;
}

.stake-success .line-76 {
  height: 129px;
  left: 11px;
  position: absolute;
  top: 116px;
  width: 2px;
}

.stake-success .file1601078949671-4 {
  height: 100px;
  left: 256px;
  object-fit: cover;
  position: absolute;
  top: 269px;
  width: 207px;
}

.stake-success .text-56 {
  color: transparent;
  font-family: var(--font-family-roboto_mono);
  font-size: var(--font-size-l);
  font-weight: 500;
  height: 78px;
  left: 233px;
  letter-spacing: 0.80px;
  position: absolute;
  text-align: center;
  top: 370px;
}

.stake-success .span {
  letter-spacing: 0.16px;
}

.stake-success .image-14-1 {
  height: 80px;
  left: 158px;
  object-fit: cover;
  position: absolute;
  top: 149px;
  width: 404px;
}

.stake-success .image-16-1 {
  height: 34px;
  left: 288px;
  object-fit: cover;
  position: absolute;
  top: 221px;
  width: 146px;
}
