.fragment-factory-1 {
  align-items: flex-start;
  background-color: var(--ebony);
  display: flex;
  height: 1080px;
  padding: 0 29px;
  width: 1920px;
}

.flex-col-13 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 43px;
  min-height: 938px;
  width: 1138px;
}

.flex-row-24 {
  align-items: center;
  display: flex;
  min-width: 1138px;
}

.overlap-group6-4 {
  height: 118px;
  position: relative;
  width: 999px;
}

.hypexlogoedited-removebg-1-1 {
  height: 118px;
  left: 0;
  position: absolute;
  top: 0;
  width: 125px;
}

.stake-1 {
  cursor: pointer;
  height: 57px;
  left: 865px;
  letter-spacing: 0;
  line-height: 37.5px;
  position: absolute;
  top: 23px;
  width: 134px;
}

.fragment-factory-2 {
  height: 57px;
  left: 112px;
  letter-spacing: 0;
  line-height: 37.5px;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 331px;
}

.nft-moorph-1 {
  height: 57px;
  left: 363px;
  letter-spacing: 0;
  line-height: 37.5px;
  position: absolute;
  text-align: center;
  top: 23px;
  width: 331px;
}

.nft-forge-1 {
  cursor: pointer;
  height: 57px;
  left: 569px;
  letter-spacing: 0;
  line-height: 37.5px;
  position: absolute;
  text-align: center;
  top: 24px;
  width: 331px;
}

.union-11 {
  height: 45px;
  left: 135px;
  position: absolute;
  top: 27px;
  width: 291px;
}

.loan-1 {
  cursor: pointer;
  height: 57px;
  letter-spacing: 0;
  line-height: 37.5px;
  margin-bottom: 13.0px;
  margin-left: 5px;
  width: 134px;
}

.flex-row-25 {
  align-items: center;
  display: flex;
  height: 784px;
  margin-left: 6.5px;
  margin-top: 37px;
  min-width: 1098px;
}

.flex-col-14 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 784px;
  width: 544px;
}

.fragment-factory-3 {
  align-self: flex-start;
  height: 44px;
  width: 511px;
}

.we-chat-image20210915012035-1 {
  height: 477px;
  margin-top: 76px;
  object-fit: cover;
  width: 373px;
}

.desired-quantity {
  height: 31px;
  letter-spacing: 0.96px;
  margin-right: 71.0px;
  margin-top: 35px;
  min-width: 229px;
  text-align: center;
}

.overlap-group4-5 {
  height: 60px;
  margin-right: 55.0px;
  margin-top: 6px;
  position: relative;
  width: 232px;
}

.union-12 {
  height: 53px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 63px;
}

.union-13 {
  height: 53px;
  left: 137px;
  position: absolute;
  top: 6px;
  width: 63px;
}

.number {
  height: 58px;
  left: 94px;
  letter-spacing: 1.12px;
  position: absolute;
  top: 2px;
  width: 71px;
}

.text-12 {
  height: 58px;
  left: 26px;
  letter-spacing: 1.12px;
  position: absolute;
  top: 0;
  width: 71px;
}

.text-14 {
  height: 58px;
  left: 162px;
  letter-spacing: 1.12px;
  position: absolute;
  top: 0;
  width: 71px;
}

.overlap-group7 {
  align-self: center;
  height: 53px;
  margin-left: 156.5px;
  margin-top: 2px;
  position: relative;
  width: 186px;
}

.add-to-max-20 {
  height: 23px;
  left: 16px;
  letter-spacing: 0.72px;
  position: absolute;
  top: 18px;
}

.span-1 {
  letter-spacing: 0.13px;
}

.union-10 {
  height: 53px;
  left: 0;
  position: absolute;
  top: 0;
  width: 186px;
}

.flex-col-15 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 160.5px;
  margin-left: 235px;
  min-height: 289px;
  width: 319px;
}

.overlap-group5-4 {
  height: 77px;
  margin-left: 2.0px;
  position: relative;
  width: 249px;
}

.cost-20-hxc-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: center;
  top: 32px;
  white-space: nowrap;
  width: 249px;
}

.overlap-group2-5 {
  height: 82px;
  margin-top: 19px;
  position: relative;
  width: 319px;
}

.compose {
  color: var(--white);
  font-family: var(--font-family-chakra_petch);
  font-size: 26px;
  font-weight: 500;
  height: 40px;
  left: 77px;
  letter-spacing: 1.04px;
  position: absolute;
  text-align: center;
  top: 21px;
  width: 168px;
}

.union-14 {
  height: 82px;
  left: 0;
  position: absolute;
  top: 0;
  width: 319px;
}

.line-74 {
  height: 30px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 41px;
}

.line-75 {
  height: 30px;
  left: 273px;
  position: absolute;
  top: 46px;
  width: 40px;
}

.line-76 {
  height: 53px;
  left: 7px;
  position: absolute;
  top: 19px;
  width: 18px;
}

.line-77 {
  height: 53px;
  left: 294px;
  position: absolute;
  top: 10px;
  width: 18px;
}

.cost-10-hxc {
  letter-spacing: 0;
  line-height: 45px;
  margin-left: 8.0px;
  margin-top: 13px;
  min-height: 45px;
  text-align: center;
  white-space: nowrap;
  width: 309px;
}

.x50-success-rate {
  letter-spacing: 0;
  line-height: 52.5px;
  margin-left: 3.0px;
  min-height: 53px;
  text-align: center;
  white-space: nowrap;
  width: 312px;
}

.flex-row-26 {
  align-items: flex-start;
  display: flex;
  height: 922px;
  margin-left: 211px;
  margin-top: 59px;
  min-width: 465px;
}

.flex-col-16 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 922px;
  width: 373px;
}

.overlap-group-5 {
  align-self: flex-end;
  border-radius: 36.5px;
  height: 73px;
  margin-right: 9px;
  position: relative;
  width: 73px;
}

.profile-pic-5 {
  height: 53px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 53px;
}

.ellipse-40-1 {
  border-radius: 34.5px;
  height: 69px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 69px;
}

.ellipse-42-1 {
  border-radius: 36.5px;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.ellipse-41-1 {
  border-radius: 30.5px;
  height: 61px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 61px;
}

.ellipse-43-1 {
  border-radius: 36.5px;
  cursor: pointer;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.overlap-group8 {
  height: 540px;
  margin-top: 186px;
  position: relative;
  width: 373px;
}

.inventory-quantity {
  height: 31px;
  left: 64px;
  letter-spacing: 0.96px;
  position: absolute;
  text-align: center;
  top: 509px;
}

.picture2-1 {
  height: 488px;
  left: 118px;
  position: absolute;
  top: 32px;
  width: 195px;
}

.we-chat-image20210915012031-1 {
  height: 476px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 373px;
}

.overlap-group1-5 {
  height: 60px;
  margin-left: 38.5px;
  position: relative;
  width: 230px;
}

.union-15 {
  height: 53px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 63px;
}

.union-16 {
  height: 53px;
  left: 137px;
  position: absolute;
  top: 4px;
  width: 63px;
}

.text-11 {
  height: 58px;
  left: 28px;
  letter-spacing: 1.12px;
  position: absolute;
  top: 0;
  width: 71px;
}

.text-13 {
  height: 58px;
  left: 160px;
  letter-spacing: 1.12px;
  position: absolute;
  top: 0;
  width: 71px;
}

.overlap-group3-5 {
  height: 53px;
  margin-left: 2.0px;
  margin-top: 10px;
  position: relative;
  width: 186px;
}

.add-to-max-20-1 {
  height: 23px;
  left: 16px;
  letter-spacing: 0.72px;
  position: absolute;
  top: 16px;
}

.shoppingbag-1 {
  height: 45px;
  margin-left: 47px;
  margin-top: 12px;
  width: 45px;
}

